[2019-04-15 22:29] jsdevel commented on #425
i'm not sure we have xml being serialized to json yet.  you'd have to add support for this.

[2019-04-16 09:10] jharting commented on #425
@jsdevel I think the point here is the inconsistency in error reporting. All errors raised by openapi-request-validator do specify `errorCode` except for mediaTypeError and schemaError which don't.

[2019-04-16 16:34] jsdevel commented on #425
please open a PR

[2019-04-19 17:38] ashtarcommunications opened #429 "Access to req.operationDoc in securityHandler"
I'd like to be able to access req.operationDoc in a securityHandler. I don't need any body parsing or parameter validation at that point, but it would be great to access the operation definition when figuring permissions.

Basically, I want to define a vendor-prefixed schema extension for operation-level permissions, and then access that definition in the central security handler and be able to se

[2019-04-19 21:22] jsdevel commented on #429
well, if any part of the api doc is invalid, the application won't start up.  i'm thinking we could just change the ordering to make it available in the request.  feel free to open a pr for that.

[2019-04-19 22:34] ashtarcommunications commented on #429
Makes sense. PR #430 should do it, but if I'm missing something important about the exact middleware ordering, let me know.

[2019-04-20 15:21] #429 closed

[2019-04-22 15:30] ashtarcommunications commented on #429
Realized I didn't include a version bump in the package.json, but I reread the contribution guidelines and it looks like something that's handled on the maintainer side?

[2019-04-22 17:14] jsdevel commented on #429
yea, i'll handle the bump when i publish.  probably tonight

[2019-04-25 16:57] #397 closed

[2019-04-26 09:35] jlcanovasgrupobme commented on #126
My take on it is to parse the Yaml to JSON first and then merge:

[code]
Of course, this is just a workaround and I would prefer a new `args` property.

[2019-05-02 00:59] vollmant opened #435 "errorMiddleware is only registered when exposeApiDocs is truthy"
Currently the `errorMiddleware` function is registered only if `exposeApiDocs` is truthy. Shouldn't `errorMiddleware` be called regardless of the value set for `exposeApiDocs`?

https://github.com/kogosoftwarellc/open-api/blob/da7a83f6d3690dc4e82cc45bc51c25c7ff895a42/packages/express-openapi/index.ts#L106

[2019-05-02 16:58] jsdevel commented on #435
yes.  please open a PR @vollmant

[2019-05-05 19:48] ashishjain3456 opened #439 "Sample code for express-openapi is giving TypeError: url_1.URL is not a function"
Hi,

I am trying to run https://github.com/kogosoftwarellc/open-api/tree/master/packages/express-openapi#getting-started code but it is giving below error:
`/node_modules/openapi-framework/dist/src/BasePath.js:11
        var serverUrl = url_1.URL(server.url, 'http://localhost');
                              ^

TypeError: url_1.URL is not a function
    at new BasePath (/node_modules/openapi-frame

[2019-05-06 16:39] jsdevel commented on #439
@ashishjain3456 please open a PR to correct the code in the README.

[2019-05-09 18:52] kwhitejr opened #443 "TypeError: OpenAPIRequestValidator is not a constructor"
Following the exact `openapi-request-validator` [example](https://github.com/kogosoftwarellc/open-api/tree/master/packages/openapi-request-validator), I get the error `TypeError: OpenAPIRequestValidator is not a constructor`.

[2019-05-10 18:23] #413 closed

[2019-05-10 18:24] jsdevel commented on #443
please submit a pr

[2019-05-13 15:19] MrKumaPants commented on #439
There's a mismatch in the path API. We are using Node v6.16.0 in production, but it doesn't support the new path API. I have to apply this diff before packaging everything up.

[code]

[2019-05-14 14:31] klassm opened #448 "console.log('ola')"
Hi,

who is 'ola'? Can we remove her?
Found at openapi-request-validator/index.ts ll. 610.

Thanks :-)
Matthias

[2019-05-14 17:05] #448 closed

[2019-05-15 14:51] jammi commented on #443
Seems to need this now, took a while to figure out what's wrong:

```const OpenAPIRequestValidator = require('openapi-request-validator').default;```

[2019-05-15 16:16] jsdevel commented on #443
thanks @jammi !  can you submit a pr to update the example?

[2019-05-15 21:57] intelliot opened #451 "OpenAPI 3.0 JSONSchema has been released"
The [README](https://github.com/kogosoftwarellc/open-api/blob/fbdae0b/packages/express-openapi/README.md) currently states:

The schema is now available:
https://github.com/OAI/OpenAPI-Specification/tree/master/schemas/v3.0

Linked from:
https://github.com/OAI/OpenAPI-Specification/issues/1032#issuecomment-492410088

[2019-05-16 00:13] jsdevel commented on #451
good catch!  open to anyone opening a pr to update the schema and the documentation

[2019-05-17 12:27] mandeepm91 commented on #279
I am still getting this error despite following the instructions in README.md and [this link ](https://github.com/kogosoftwarellc/open-api/blob/master/packages/express-openapi/test/sample-projects/with-consumes-middleware-multipart-openapi3/app.js). I get the error :

[code]

Not sure if I am doing something wrong or if the issue is still there.

[2019-05-18 19:34] jsdevel commented on #368
hoping to close this soon.  need to fix code coverage, then looking to publish

[2019-05-18 20:37] jsdevel commented on #368
@sebasmagri 's fix in #370 actually broke express-openapi.  had to revert.  if anyone in the community can fix this issue it would be much appreciated.

[2019-05-20 05:46] AlexHolly opened #455 "example is missing in openapi-jsonschema-parameters"
https://github.com/kogosoftwarellc/open-api/blob/master/packages/openapi-jsonschema-parameters/index.ts#L46
https://swagger.io/docs/specification/adding-examples/

[2019-05-20 07:52] jsdevel commented on #455
Please submit a PR

[2019-05-21 09:40] l-ko commented on #369
can confirm that pattern validation is not working for:

[code]

[2019-05-21 10:36] l-ko opened #457 "oneOf validation errors"
Following schema validation:
[code]
Against request:
[code]
Returns:
[code]
Looks like there is an excessive number of errors for the client.

[2019-05-21 11:09] #457 closed

[2019-05-21 11:11] l-ko commented on #457
I'll just use a single schema, looks like a rare case

[2019-05-21 16:57] jsdevel commented on #369
please open a PR @I-ko, f you have time

[2019-05-24 17:41] ivan416 opened #459 "args.apiDoc not working when given a path to yaml"
In the Getting Started section, there is a comment that if using yaml you can provide a path relative to process.cwd(), however this does not work.

[code]

Looking at the `handleFilePath` method in [utils.ts](https://github.com/kogosoftwarellc/open-api/blob/master/packages/openapi-framework/src/util.ts) it seems that in case of passing a path to yaml file, the method would use `require` to try to

[2019-05-26 05:09] intelliot commented on #368
It seems like ignoring this warning has no ill effects on the server. Perhaps we can just remove the warning?

[2019-05-26 07:30] jsdevel commented on #368
PRs are welcome

[2019-05-28 22:14] elyobo commented on #61
Safe to close now that #61 is merged @mbsimonovic @jsdevel?

[2019-05-29 01:45] mschnee opened #462 "openapi-request-validator does not validate parameters with external $ref schema"
Parameters with a `$ref` that are defined in `externalSchemas`, that have custom validation, aren't validated, because `openapi-jsonschema-parameters` is stripping the `$ref`.
[code]

### Background:
I am using `typescript-json-schema` to turn my typescript interface definitions into a compiled jsonschema as part of a prebuild task.  I am parsing the `definitions` and supplying them to openapi thr

[2019-05-29 16:09] jsdevel commented on #462
please submit a PR with test cases that prove this doesn't happen

[2019-05-29 16:09] jsdevel commented on #61
@elyobo almost.  we have a few more packages that need to accept the logger.  cc @mbsimonovic

[2019-05-29 20:39] mbsimonovic commented on #61
ah sorry, didn't realise there was more work to do. so what's missing?

[2019-05-29 22:15] elyobo commented on #61
A naive look doesn't show much

[code]

The ones in `types.ts` are the adapter for the console, so it's appropriate there anyway.  The `fetch-openapi.js` is a CLI tool, so also seems fine.  That only leaves the `openapi-security-handler/index.ts` it seems?

Perhaps also reenable the `noConsole` rule in `tslint.json` and disable it for the few specific cases that it is known to be wanted to prevent

[2019-05-30 16:33] #455 closed

[2019-05-30 18:57] michaellperry opened #465 "Bad error message if operationId is not specified"
When calling `initialize` with an `apiDoc` that has an operation that is missing an `operationId`, express-openapi emits a warning and then throws an exception. The warning is:

The exception is:

Neither is helpful in identifying the problem.

I have traced this issue into openapi-framework, so it is not specific to express-openapi.

[2019-05-30 23:27] jsdevel commented on #465
@michaellperry please submit a PR with a more descriptive message.

[2019-06-12 00:19] #465 closed

[2019-06-20 21:53] seb-pereira commented on #435
Hi,
I needs `errorMiddleware` to get registered when `exposeApiDocs` is disabled, so I pushed a PR.

[2019-06-20 22:45] #435 closed

[2019-06-20 22:45] jsdevel commented on #435
i'll publish soon

[2019-06-22 15:51] seb-pereira commented on #368
Just pushed a PR: https://github.com/kogosoftwarellc/open-api/pull/479

[2019-06-22 17:37] #368 closed

[2019-07-04 00:44] cdimascio opened #483 "parameter fails to validate when specified as a $ref"
Parameters specified as a $ref are not validated

Here is an example

Define the following parameter under components.parameters

[code]

Use the parameter in a route:

[code]

The component `#/components/parameters/id'` is not validated. It works if the component is placed inline without using a ref. This is not desirable given parameters may be specified generally as a ref

[2019-07-14 10:50] sheldhur commented on #462
#483

[2019-07-15 12:52] jgranstrom opened #486 "v3: Consumes is not set correctly when operation refer to requestBody with a $ref"
When setting the `requestBody` of an operation with a $ref such as:
[code]

The `consumes` property for the operation context fails to include the media type, making any `consumesMiddleware` for the media type silently not run for the operation.

This code seems to not resolve $refs if any before determining the consumed media types for operations.
https://github.com/kogosoftwarellc/open-api/blob/

[2019-07-15 16:57] jsdevel commented on #486
please submit a PR @jgranstrom

[2019-07-16 10:49] jgranstrom commented on #486
@jsdevel sure thing, #488 adds support for this case.

[2019-07-16 17:02] #486 closed

[2019-07-19 14:48] adrianplavka opened #493 "Nullable properties in Swagger 2.0"
Hello,

I have an issue regarding `openapi-request-validator`.

Since `nullable` fields are not supported in Swagger 2.0, is there any way we could supply some sort of vendor extension (like `x-nullable`) into a schema? The validator would read the custom extension and therefore allow `null` values.

Use case - suppose we have a schema defined like this:
[code]

Suppose, we sent a request body, li

[2019-07-19 16:42] jsdevel commented on #493
please open a PR

[2019-07-19 17:31] adrianplavka commented on #493
I certainly can.

What kind of API do you think would be the best? I was thinking about creating another property in `args`, called, let's say, `vendorExtensions`. For now, the only property would be `nullable`, which would require a string key for where to look for a vendor-supplied nullable property.

When iterating over properties of a schema, we would look for these vendor extensions & apply s

[2019-07-19 21:51] jsdevel commented on #493
wait, i'm sorry, there's actually a way to handle this right now

[2019-07-19 21:51] jsdevel commented on #493
you can use oneOf: https://github.com/kogosoftwarellc/open-api/tree/master/packages/express-openapi#extending-openapi-schema

[2019-07-19 21:51] #493 closed

[2019-07-19 21:53] jsdevel commented on #493
checkout this sample project: https://github.com/kogosoftwarellc/open-api/blob/master/packages/express-openapi/test/sample-projects/with-schema-extension/api-doc.js

[2019-07-20 19:40] MikeyUchiha commented on #451
@jsdevel  What's the status on this update? Thanks

[2019-07-20 19:52] adrianplavka commented on #493
The usage looks really weird.

OpenAPI specifies a set of allowed types and "null" isn't one of them. How is that a valid OpenAPI document?

Nonetheless, the example you posted tries to solve the same issue, but, in my opinion, in a much verbose way. I think a much better solution would be to support `x-nullable` out of the box (some vendor tools already support it) or provide users to override th

[2019-07-21 02:43] jsdevel commented on #493
@adrianplavka so the underlying validator framework is jsonschema.  OpenAPI v2 didn't allow oneOf, even though it's all based on jsonschema and oneOf is perfectly fine in jsonschema.  At this point with OpenAPI v3 supporting nullable, adding x-nullable to v2 may just add more confusion to the code base, but if you'd like to do that feel free to open a PR.

[2019-07-22 16:30] jsdevel commented on #451
https://github.com/kogosoftwarellc/open-api/issues/451#issuecomment-492868616

[2019-07-23 13:15] jameskhedley commented on #451
@jsdevel can you give me some more details on how to "update the schema"? What schema are you referring to? The link above takes you to `schema.json` but there's nothing like that in this repo.

[2019-07-23 16:08] jsdevel commented on #451
https://github.com/kogosoftwarellc/open-api/tree/master/packages/openapi-schema-validator

[2019-07-23 16:09] jsdevel commented on #451
it's likely not as simple as just replacing the json schema file though... we've been basing _everything_ on the schema in that schema validator project i linked to.

[2019-07-23 16:16] jsdevel commented on #451
openapi-framework used that schema validator package: https://github.com/kogosoftwarellc/open-api/blob/master/packages/openapi-framework/index.ts

and then every other package assumes the incoming config etc. is all based on the existing v3 schema.

i'm fine proceeding though with the official schema, but it'll likely be a major version bump, and will halt development on the existing schema.  not

[2019-07-24 08:19] pontusr opened #494 "args.paths breaks when using Typescript"
Paths supplied to args.paths are supposed to be relative to the "project root". In our environments this means `args.paths: './src/handlers'` works during development (towards our *.ts handlers) and `args.paths: './dist/handlers'` during runtime (towards our *.js) files.

We prefer using ts-node during development to avoid having to build the js files and serve them on each change.

Any suggestion

[2019-07-24 13:17] faizanvahevaria opened #495 "TypeError"
TypeError: OpenAPISchemaValidator is not a constructor

[2019-07-24 16:20] jsdevel commented on #495
TypeError: User did not provide enough information in their issue.

[2019-07-24 16:20] #495 closed

[2019-07-24 16:47] jsdevel commented on #494
hmm, no, but if anyone else does or if you find a good solution please submit a PR to update the README with an example.

[2019-07-29 09:46] Nox-404 commented on #494
@pontusr We added `TS_NODE=true` before each run command in development (`dev, test, coverage`) and we have this for the initialize:
[code]

[2019-07-29 12:23] Nox-404 opened #496 "Wrong type definition for OperationHandlerArray"
Hello,
When defining operations in *typescript* we can use the type `Operation` which is either `OperationFunction | OperationHandlerArray`.

The problem is that `OperationHandlerArray` is an `OperationFunction[]`. The apiDoc property becomes a property of every elements of the array instead of the whole array.

Here is the project `@types/express-openapi` with the correct typing : https://github.

[2019-07-29 16:16] jsdevel commented on #496
@Nox-404 please submit a PR

[2019-07-29 18:15] Nox-404 commented on #496
@jsdevel Got it

[2019-07-29 19:49] pontusr commented on #494
Thank you @Nox-404, I will try that!

@jsdevel Since this can be solved with other tooling I don't think this is really an issue with this library at all. I'm happy to create a PR adding some guidance but I don't see the right spot for that, any suggestions?

[2019-07-29 19:49] #494 closed

[2019-07-29 19:59] jsdevel commented on #494
@pontusr anything you can add to the READMEs would be super helpful and welcomed!  Use your best judgement!

[2019-07-29 20:00] #496 closed

[2019-08-08 14:53] pjpsoares opened #510 "UnhandledPromiseRejectionWarning when async route handler gets rejected"
Imagine you have a rejected promise as a result of processing the request, you get an UnhandledPromiseRejectionWarning. Wouldn't it be ideal to catch that and send as a normal error, so that the error middleware can take care of that?
With some code, imagine you have a get function like
[code]
if I set this to handle my request it will throw an UnhandledPromiseRejectionWarning, but I believe in a

[2019-08-08 16:20] jsdevel commented on #510
no.  express has error handling middleware built in to do this.

[2019-08-08 16:20] #510 closed

[2019-08-08 16:21] jsdevel commented on #510
https://expressjs.com/en/4x/api.html#router.use  look for `Error-handling middleware`

[2019-08-08 16:26] pjpsoares commented on #510
I know the middleware, I have the middleware, but it does nothing as the function returns a promise (rejected) and not an exception.
The express-openapi actually calls the route handler function, so it's the only place you could handle it gracefully, by catching the rejected promise and send it as a normal error, if not you force all functions to actually try catch the code and do that.

[2019-08-08 18:31] jsdevel commented on #510
@pjpsoares have you tried enabling promise mode in the options?

[2019-08-08 18:32] jsdevel commented on #510
https://github.com/kogosoftwarellc/open-api/tree/master/packages/express-openapi#argspromisemode

[2019-08-16 00:03] AlexHolly opened #512 "Same API for openapi-response-validator and openapi-request-validator 'validate'"
I noticed a few differences, is it possible to make them more similar?

- Name both `validate` or `validateRequest / validateResponse`

  - **openapi-request-validator:**

    `validator.validate`

  - **openapi-response-validator:**

    `instance.validateResponse`

- The return type for `validate`:

  - in `request-validator` can be an Array or Object.

       https://github.com/kogosoftwarellc/

[2019-08-16 08:52] jsdevel commented on #512
submit a PR!

[2019-08-19 21:09] AlexHolly opened #513 "examples is missing in openapi-jsonschema-parameters"
[code]

[2019-08-19 21:09] jsdevel commented on #513
@AlexHolly please open a PR

[2019-08-22 18:12] klangenk opened #516 "Example in Readme throws an error"
The example in the readme file has some errors. There are missing curly braces and the require statement is outdated.

[2019-08-22 20:43] #516 closed

[2019-08-27 20:05] klangenk commented on #443
I think this can be closed since the readme was updated in #516

[2019-09-03 13:01] philsturgeon commented on #451
You should be able to bump the schema without a major, we did it for https://github.com/stoplightio/spectral and nothing exploded.

[2019-09-15 04:44] #513 closed

[2019-09-18 23:07] medfreeman opened #525 "Add `Accept` header validator feature"
This is a proposition to add `Accept` header validation, useful for content negotiation.
Using the internal frameworks `Accept` header validation functions ([`ctx.accepts`](https://koajs.com/#content-negotiation) in koa and [`req.accepts`](https://expressjs.com/en/api.html#req.accepts) in express).
It will be expressed as a middleware, that'll first validate that the requested `Accept` header has

[2019-09-19 03:20] jsdevel commented on #525
Please submit a pr

[2019-09-20 00:30] kstott opened #526 "multipart form-data -form fields not being coerced"
When I use form fields - they defined as string within req.body. Am I doing something wrong? Is there something else I need to do to coerce these to their defined data types.

[2019-09-20 07:44] jsdevel commented on #526
@kstott not entirely sure.  please submit a pr if you find a fix.

[2019-09-27 06:29] Mouad-B opened #535 "Validate a query parameter against one of multiple subSchemas"
I want to specify multiple possible subschemas for query param but no error is thrown when any of them matches to query passed as a parameter. Here is an example:

[code]

No validation is done against the two possible query formats. express-openapi fires however an error when no user query is passed but doesn't inspect its value.. Am I missing something here?
Thanks for your help!

[2019-09-28 03:23] jsdevel commented on #535
is that valid openapi?

[2019-09-30 06:33] RunningCoderLee opened #537 "[openapi-types]: SchemaObject interface doesn't have $ref"
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#schemaObject

The `SchemaObject` interface doesn't have `$ref` property

[2019-10-03 05:53] Mouad-B commented on #535
yes, I guess so

[2019-10-03 16:20] jsdevel commented on #535
@Mouad-B can you find out?

[2019-10-07 06:54] Mouad-B commented on #535
@jsdevel not really, can you help?

[2019-10-10 17:03] jsdevel commented on #535
@Mouad-B sorry, but i don't have the time.  i mainly review PRs and publish changes when the library is ready

[2019-10-10 19:36] Mouad-B commented on #535
@jsdevel I thought you found a mistake in my yaml but after verification the one I gave is totally correct. I opened this issue because there is an issue with express-openapi which doesn't validate a query parameter against multiple sachems. You can reproduce this bug with the example I gave.
Don't hesitate if you need further information

[2019-10-11 16:28] jsdevel commented on #535
please open a pr

[2019-10-14 16:56] #512 closed

[2019-10-14 17:45] TuckerWhitehouse opened #546 "`res.validateResponse` not set if requestValidation has errors"
Because of the order in which the middleware is added and executed, if request validation fails, the middleware for adding `res.validateResponse` is never fired.

https://github.com/kogosoftwarellc/open-api/blob/master/packages/express-openapi/index.ts#L126-L153

[2019-10-16 08:45] miklosaubert commented on #496
@jsdevel Will this fix be released soon? I ran into this issue with the latest version of express-openapi (4.6.5).

[2019-10-16 18:09] jsdevel commented on #496
@miklosaubert hoping to get to this in the next couple of days.  please continue to pester me.

[2019-10-18 11:47] SkaceKamen opened #552 "[openapi-types] Paths entry in OpenAPIV2 can be any type"
I'm referencing this:
https://github.com/kogosoftwarellc/open-api/blob/59ed9d734487f873bed6f865571506958991dd51/packages/openapi-types/index.ts#L503
paths entry in OpenAPIV2 has following type:
[code]
This breaks the typing in strict mode, since the entry will be just considered as `any`.

Is the `| any` intentional?

[2019-10-18 15:21] AlexHolly opened #554 "Request and Response Errors message"
- The `message` is different

Request:
[code]

Response:
[code]
I suggest removing this part `validationError.path + ' '`
https://github.com/kogosoftwarellc/open-api/blob/master/packages/openapi-response-validator/index.ts#L210

- Also the errorCode should look the same `validation `to `requestValidation`

`errorCode: multipleOf.openapi.validation`
https://github.com/kogosoftwarellc/open-api/blob/

[2019-10-18 17:45] jsdevel commented on #552
not sure.  feel free to open a PR

[2019-10-18 17:46] jsdevel commented on #554
feel free to open a pr

[2019-10-21 07:49] miklosaubert commented on #496
Well here's a bump then :)

[2019-10-21 16:52] jsdevel commented on #496
thanks @miklosaubert !  i'll likely publish today

[2019-10-24 09:31] miklosaubert commented on #496
thanks @jsdevel ! Just noticed the new version :)

[2019-10-24 16:59] jsdevel commented on #496
thanks for the bump!

[2019-10-26 10:59] nulltoken opened #566 "[openapi-request-coercer] global opt-in to strict cohersion rules"
Currently the library allows to opt-in to stric cohersion rules on a parameter by parameter basis.

Proposal would be to extend the `OpenAPIRequestCoercerArgs` interface and introduce a new optional boolean member to let the user opt-in to strict cohersion strategy for every parameter (without having to decorate each one of them).

Would you be open to this change, I'd gladly craft a PR to make th

[2019-10-26 11:21] nulltoken opened #567 "[openapi-request-coercer] maybe strict-er coercion rules?"
Currently some strict coercion rules might even be enforced:

**boolean:** `"trUE"` would be considered valid and coerce to `true`
**integer:** no strict version exists and the current one would consider `"17.02"` as a valid entry and coerce to `17`

Proposal would be to
- Either
  - make the strict boolean rule.. well.. strict :wink:
  - introduce a strict integer rule
- Or
  - allow the caller t

[2019-10-28 18:25] jsdevel commented on #567
i'd be in favor of the latter as well

[2019-10-28 19:53] nulltoken commented on #567
Thanks for the feedback. I'll work on a PR along those lines.

[2019-10-30 07:04] wittenator commented on #459
I'll bump this.

[2019-10-30 20:52] evan111 opened #578 "Load OpenAPI 2.0 Schema into OpenAPIResponseValidator"
Hi,

Maybe a dumb question, how do you load an OpenAPI 2.0 schema into the openapi-response-validator:
i.e.
[code]
It's clear this does not work, is there a parser that can transform an OpenAPI spec into the required constructor argument?

Thanks,

Evan

[2019-10-31 16:33] jsdevel commented on #578
look at the source.

[2019-10-31 16:33] #578 closed

[2019-10-31 16:34] jsdevel commented on #459
please submit a pr

[2019-11-04 17:09] #546 closed

[2019-11-04 17:10] #554 closed

[2019-11-11 18:45] josephgardner commented on #113
Any ETA on the restify support?

[2019-11-12 17:07] jsdevel commented on #113
@josephgardner not yet, but the process is fairly simple given that the framework is there for express and koa.  feel free to open a pr and i'll get it published

[2019-11-20 12:59] TomaszChrosniak opened #593 "[openapi-jsonschema-parameters] No properties copied over for parameters of type object"
`openapi-jsonschema-parameters` strips the `properties` from the schema for things like query and path params.

I'm mostly interested in the former, as this is causing issues in my particular use case of validating the pagination query parameters for a JSON:API request ([spec](https://jsonapi.org/format/1.0/#auto-id--pagination)).

Please find the below snippet from our OAI3 schema for the `page`

[2019-11-22 17:13] jsdevel commented on #593
feel free to propose a solution once you have a good path forward.  prs are welcomed.  breaking changes are less likely to be accepted, unless it moves us in the direction of being more compliant with all specs

[2019-11-22 22:56] TomaszChrosniak commented on #593
Hi again, I've been looking at a few things to make sure I don't break anything, and I've noticed that the OAI2 spec doesn't allow object-valued parameters in non-body parameters [link](https://swagger.io/specification/v2/#fixed-fields-7).

I'm gonna have to ponder on this some more.

[2019-11-25 17:53] jsdevel commented on #593
ok,  thanks for doing the research!

[2019-12-11 04:26] IvanaGyro opened #602 "$ref cannot refer to schema under the top-level `paths` section"
I want to reuse the schema defined with the specific content type. If I put the schema I want to reuse under the top-level `components` section, it works properly. However, `$ref` cannot work on the destination `under` the paths section.

**apiDoc.yaml**
[code]

**The error message I got.**
[code]

**/list/post.js**
[code]

[2019-12-11 22:27] jsdevel commented on #602
not sure how we'd support this.  feel free to open a pr

[2019-12-12 14:15] ameinhardt opened #603 "forward rejection from securityMiddleware"
I'm using koa and would like to make use of securityHandlers. Please return the result of the handler in order to handle Promise rejections at
https://github.com/kogosoftwarellc/open-api/blob/4b2927ebf427471c54d42ff9648fb9f9d97095ef/packages/koa-openapi/index.ts#L210
[code]

[2019-12-12 19:56] TomaszChrosniak commented on #593
Sorry for the long wait.
I think the best advice for anyone using this project would be to just add middleware for validating object-type parameters themselves, just to keep this project simple.

[2019-12-12 19:56] #593 closed

[2019-12-19 16:57] giowe commented on #483
+ 1

[2019-12-30 19:19] keijokapp commented on #535
This (and #369) seems to be result of [whitelisting](https://github.com/kogosoftwarellc/open-api/blob/master/packages/openapi-jsonschema-parameters/index.ts#L72-L77) schema properties. Is there a reason why whitelisting is necessary?

[2020-01-03 11:00] dkMorlok opened #608 "[openapi-types] SchemaObject interface definition dont accept oneOf"
For example when i have this schema:

[code]

and property dont have type or ref then Type definition dont like it :)

[2020-01-05 17:06] rwalle61 opened #609 "[openapi-response-validator] valid body fails incorrectly against allOf schemas with additionalProperties: false"
Hi,

Thanks for this great package!

@rolfisub and I found a bug where if you validate a response body against `allOf` multiple schemas where one of them has `additionalProperties: false`, then you get a failure (when you should get no failures).

I.e., this test should pass:
[code]

But instead it fails with this error:
[code]

This bug seems to occur only in this specific case. For example, sche

[2020-01-08 17:07] jsdevel commented on #609
i don't.  would appreciate if you could jump in further to the code and see if you can fix it.

[2020-01-08 17:07] jsdevel commented on #608
prs are welcome

[2020-01-08 17:08] jsdevel commented on #535
@keijokapp feel free to open a pr

[2020-01-08 17:08] jsdevel commented on #483
feel free to open a pr

[2020-01-08 17:08] jsdevel commented on #593
thanks @TomaszChrosniak !

[2020-01-12 11:27] giowe opened #611 "error parsing server url with variable in protocol"
this is my actual server key in the open api definition:

[code]
changing `protocol` variable with an `http` or an `https` it works perfectly ( `url: "https://{environment}/{version}"`;
it's very important to have the protocol as variable cause i'm importing this definition into Postman and when I test locally i need to quickly switch from https to http.

[2020-01-13 17:36] jsdevel commented on #611
feel free to open a pr

[2020-01-21 10:58] markyme21 opened #614 "Nullable not fully supported - Ajv Dependency initialized without "nullable: true""
Looks like Ajv is initialized in Request/Response validators (Needed them both, may be relevant to others) without "nulllable" set to TRUE, causing validation errors.

`var v = new Ajv({
            ...,
            nullable: true
        });`

This fixed the issue I was having.

I'm using express-openapi@6.0.0 which uses openapi-framework@0.26.0 -> "openapi-request-validator": "4.2.0" and "openap

[2020-01-22 16:25] jsdevel commented on #614
@markyme21 what happens if `nullable: false` is set on a schema item, but globally in AJV we allow nullable?

[2020-01-22 16:37] markyme21 commented on #614
@jsdevel
Same as happens now, an error.

Ajv -> validate.js
` if ($typeSchema && it.opts.nullable && it.schema.nullable === true) {
    if ($typeIsArray) {
      if ($typeSchema.indexOf('null') == -1) $typeSchema = $typeSchema.concat('null');
    } else if ($typeSchema != 'null') {
      typeSchema  = [$typeSchema, 'null'];
      $typeIsArray = true;
    }
  }`

$typeSchema which then used to comp

[2020-01-22 22:46] jsdevel commented on #614
not sure.  feel free to open a PR.  ensure that whatever you do adheres to the spec as much as possible.

[2020-01-24 19:23] amunhoz opened #617 "Coercer: Wrong property name?"
Is this right??

https://github.com/kogosoftwarellc/open-api/blob/master/packages/openapi-request-coercer/index.ts
this.coerceFormData = buildCoercer({
      params: args.parameters,
      **property: 'body',**
      isHeaders: false,
      logger,
      loggingKey,
      strictExtensionName,
      enableObjectCoercion
    });

right now is "formData".

[2020-01-24 19:38] amunhoz commented on #617
Not working properly with this parameter too:

[code]

It does not convert the values inside the object.

[2020-01-25 20:54] SkyaTura commented on #126
Is this still on roadmap? Is highly needed on my use case.

[2020-01-26 07:19] SkyaTura opened #618 "[express-openapi] Additional Middlewares on routes"
There is a way of adding additional middlewares on specific routes only?

I was able to add "global" middlewares by adding them to the root of my apiDoc, but it doesn't work if I add it to the method or the path I want.

[2020-01-26 22:05] keijokapp commented on #535
Sorry, I've been crazy busy.

I guess library tries to keep compatibility with pre-OpenAPI-3.x, though I haven't checked [2.x](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md) spec for compliance.

What's current position in regards to pre-3.x compatibility? The current concept seems to be quite a mess and could be greatly simplified - i.e. removing support for validation

[2020-01-29 20:02] saalaa commented on #618
Yes, there is an example of this in the documentation:

- https://github.com/kogosoftwarellc/open-api/tree/master/packages/express-openapi#typescript-example

This doesn't just work for Typescript of course. The whole idea is to provide an operation wrapped in a array along with its middleware(s):

export default function() {
    async function GET(req, res) {
        // ...
    }

    GET.apiDoc

[2020-01-31 18:16] SkyaTura commented on #618
But I use operationIds instead of the default auto-load, and passing arrays as and operation doesn't work

[2020-01-31 18:40] karlvr opened #623 "OpenAPIV2.SecuritySchemeOauth2Base is missing type specification"
Could you please add `type: 'oauth2'` to `OpenAPIV2.SecuritySchemeOauth2Base`?

That way TypeScript would correctly narrow the type of `OpenAPIV2.SecuritySchemeObject` down to `OpenAPIV2.SecuritySchemaApiKey` when you check `if (schema.type === 'apiKey')`.

[2020-02-07 00:00] jsdevel commented on #617
please submit a pr

[2020-02-07 00:01] jsdevel commented on #126
@SkyaTura feel free to submit a PR.

[2020-02-07 00:02] jsdevel commented on #535
we are striving to be 2.0 compliant.  having said that, we rely on test coverage to ensure that we haven't broken anything, so fly free!

[2020-02-07 18:05] jsdevel commented on #618
@SkyaTura not sure what you mean by this:

[2020-02-07 18:08] jsdevel commented on #623
i can't but you can!  feel free to submit a pr @karlvr !

[2020-02-07 18:11] #567 closed

[2020-02-07 21:08] SkyaTura commented on #618
https://github.com/kogosoftwarellc/open-api/tree/master/packages/express-openapi#argsoperations @jsdevel

[2020-02-07 22:31] saalaa commented on #618
So, this shouldn't work any differently. A thorough reading of the [Express documentation](https://expressjs.com/fr/api.html#app.all) would make that clear for you.

This code should do what you want:

[code]

[2020-02-10 17:19] #535 closed

[2020-02-10 17:20] #623 closed

[2020-02-10 20:01] jberger commented on #483
This is a major issue for us at $work, I'm really quite surprised that it seemingly isn't an issue for more users. I'm happy to do the work to fix it but I must admit I've had a hard time tracking down where the resolution of that ref would happen. Can someone give me some pointers for where to start looking?

[2020-02-10 20:52] jsdevel commented on #483
@jberger i'd look at the parameters package, and the request validation package.

[2020-02-13 13:11] buzzware commented on #65
The ajv option "removeAdditional: true" does this when the schema has "additionalProperties: false". There are other options for removeAdditional

[2020-02-13 13:18] buzzware opened #628 "Make use of ajv for coercion, replacing openapi-request-coercer"
This would lighten the load on this project by making better leverage of ajv. It supports coercion in requestBody unlike this project. At least openapi-request-validator could support ajv options being passed in.
See coerceTypes here https://ajv.js.org/#options

[2020-02-13 13:21] buzzware opened #629 "Make use of ajv useDefaults option for defaults, replacing openapi-default-setter"
Same reasoning as #628, but a different option so I thought I'd make it a different issue.
This would lighten the load on this project by making better leverage of ajv. It supports defaults in requestBody unlike this project. At least openapi-request-validator could support ajv options being passed in.

[2020-02-17 15:57] jberger commented on #483
I had assumed there was a centralized $ref parser in action somewhere. After finding a series of commits that enabled $ref in response bodies (I think it was) I've decided that I'm not the right person to poke this particular $ref bug. For the future reader, I've switched to pre-parsing my schema doc with json-schema-ref-parser and then passing that to express-openapi. It seems to work well for me

[2020-02-20 18:44] jsdevel commented on #65
@buzzware sounds like you can control this via the schema then?  would updating the README suffice?

[2020-02-20 18:45] jsdevel commented on #629
if you can simplify please feel free and submit a pr

[2020-02-20 18:46] jsdevel commented on #628
if you can simplify, please submit a pr

[2020-02-25 10:26] JasonSome opened #631 "validateResponse fails even though response is valid"
I am using the vanilla `validateAllResponses` from express-openapi and it seems to always throw an error on me when using a response that returns a JSON. Why could that be happening?

Example YAML (OpenAPI 3.0) for that specific path:

[code]

validateAllResponses on response "{"status": "OK"}" (without the outer quotation marks, of course) says: "Invalid response for status code 200: should be ob

[2020-02-25 21:15] jsdevel commented on #631
that looks correct to me.  i'd look at examples in the sample testing suites.

[2020-02-25 21:52] JasonSome commented on #631
@jsdevel is there any specific one with validateAllResponses and sending JSON response?

[2020-02-29 22:38] JasonSome commented on #631
There is no example that uses this specific `validateAllResponses` from the website, and it seems like it doesn't work, since my responses are indeed correct.

[2020-03-02 14:41] medfreeman commented on #286
It seems that koa has been forgotten in the process!
https://github.com/kogosoftwarellc/open-api/blob/638669289195e194a75b29ace15a267f6dd9e388/packages/koa-openapi/index.ts#L149-L153

[2020-03-04 07:21] IvanaGyro opened #635 "openapi-jsonschema-parameters: `examples` should be an array"
In all of the test cases that contain `examples`, the expected type of the output schemas of `examples` are `object`. However, in [JSON schema 7.0](https://json-schema.org/understanding-json-schema/reference/generic.html#annotations), `examples` is an array only. This problem makes the schema that uses `examples` fails the validation.

[2020-03-05 05:00] IvanaGyro commented on #635
PR is opened at #636.

[2020-03-06 17:17] #635 closed

[2020-03-22 03:46] zenozen opened #644 "All the type definition in openapi-types are not exported in dist/index.d.ts"
Even though the code itself exports all the definitions in the namespaces, `npm install` the package will provide a `index.d.ts` with all the members of the namespace private. Making them impossible to use.

[2020-03-23 23:07] jsdevel commented on #644
@zenozen please open a pr

[2020-03-24 08:21] s97712 opened #645 "responses is required"
In OpenApi Specification, the `responses` is required, but in `openapi-types` it is not requried
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.3.md#operationObject

[2020-03-24 16:49] #645 closed

[2020-03-25 23:08] ealtunyay commented on #618
I will investigate further, but wanted to throw out there that this did not work for me. First, the type definition does not allow arrays for values of `operations`:
[code]

If I ignore it I get `TypeError: innerFunction.bind is not a function`:

[code]

[2020-03-25 23:51] saalaa commented on #618
This is not good.

https://github.com/kogosoftwarellc/open-api/blob/master/packages/openapi-framework/index.ts#L250

From what I read, you could probably get away with creating a function that runs the middlewares/handler stack. Conceptually, this would look like this:

[code]

It's definitely fiddly but not overly complicated to write, there are many examples available. Have a look at the followi

[2020-03-26 00:20] ealtunyay commented on #618
Thanks for the quick reply and the suggestion. I will look into it.

[2020-03-26 15:56] ealtunyay commented on #618
I had a couple issues with the article:

1. The code is presented as a learning exercise and not meant to be something to put into production
2. I am unfamiliar with `q` and because I am not looking for a promise library I was opposed to digging into it just so I can understand the author's code

I looked for other examples like you mentioned, but didn't come up with anything.

Finally, I went loo

[2020-03-26 22:40] chadxz opened #647 "express-openapi not coercing parameters that use a $ref in their schema"
When I use a parameter like this:

[code]

where the component looks like this:

[code]

The parameter that ends up in my controller action hasn't been parsed as the appropriate type. If i inline the schema it works as expected.

Here's a minimal reproduction of my issue: https://github.com/chadxz/param-ref-repro

When i was debugging the issue it looks like there's no support for $ref in openapi-

[2020-04-01 10:48] adantoscano opened #648 "Request validation does not catch empty strings"
Required body parameters can be sent empty and pass validation. i.e. `{ "requiredId": "" }`

[2020-04-13 11:00] adantoscano commented on #648
To avoid this you can specify `minLength: 1` at required property

[2020-04-13 11:00] #648 closed

[2020-04-14 17:18] littldr opened #652 "Is there a release timeframe?"
Hi,

first thanks for the package! It really makes working with OpenAPI and Express an ease!

But I stumbled over some bugs and while investigating the cause, I found that they are already fixed and merged in this repo, but not released yet.

Is there a plan to release the latest changes soon?
Or do you need help with it? If yes, tell me what's missing and I will try to invest some time. :)

[2020-04-15 12:10] Nik-Novak opened #653 "Allow ability to disable "servers" property from automatically forwarding all requests"
Currently, if you specify a server property in the api spec like so:
[code]

All requests to the express server need to be prepended with a /my-service/PATH.
This is rather annoying for hosting local/test versions of the api, or cases like mine where a nginx server does the routing. The server should have the option to follow only the strict paths in /paths, instead of automatically applying /my-s

[2020-04-15 19:16] schristley commented on #647
I ran into a similar problem using version 6.0.0 on npm, specifically the `nullable` flag wasn't being recognized for a field in the requestBody.

[code]

where the component looks like this:

[code]

sending this data

[code]

gives this error.

[code]

@chadxz As I workaround, I found using [json-schema-ref-parser](https://www.npmjs.com/package/json-schema-ref-parser) works. Essentially derefere

[2020-04-23 21:26] stevelove commented on #609
👋 Thanks for the tools you've built. Has there been any forward momentum on this? I just ran into it using `chai-openapi-response-validator` and thought I'd give this issue a bump.

[2020-04-24 12:20] kibertoad opened #656 "Unlimited recursive inheritance is not handled correctly"
When attempting to validate specification with invalid inheritance that results in endless recursion (e. g. https://github.com/PayU/openapi-validator-middleware/blob/master/test/openapi3/pets-unlimited-recursive.yaml), validation fails with `Maximum call stack size exceeded`.

It would make sense to fail-fast after going 20-30 levels deep instead.

[2020-04-24 16:05] Codermar opened #657 "[Question] Is it possible to filter out which files get scraped from the folders?"
Is it possible for to filter out which files get scraped from the folders. i.e. only scrape *.api.js or exclude *.helper.js?
The reason why I am asking is because you cannot leave helper js files in the directories where the endpoints are which opens up weird patterns like import from './someodd.utils.j' or stuff like that.

[2020-04-29 16:33] Lakitna opened #659 "Allow user to pass config to AJV"
I've been attempting to migrate from my own openapi validation package to this one. It took some time, but it looks like I've got most things working now.

A notable exception is that I would like human-readable error messages by using `better-ajv-errors`. https://www.npmjs.com/package/better-ajv-errors. This requires the following to be passed to AJV:

[code]

I think the cleanest way to do this

[2020-04-29 23:56] josephgardner opened #660 "[openapi-request-validator] parameter content is ignored"
Parameter objects require either a `schema` property, or a `content` property. The `content` appears to be ignored, and therefore the parameter is not validated.

http://spec.openapis.org/oas/v3.0.3#parameterContent

An example of a parameter defined using `content`

[code]

In theory, this should be nearly identical to how the request body is validated.

[2020-04-30 23:27] chadxz commented on #218
@jsdevel do you know if anything was ever pulled into the response validator to deal with nullable?

[2020-05-04 12:06] j-zimnowoda opened #661 "The Operation interface does not allow to access apiDoc from req parameter"
# Overview
Hi,

I am trying to access `apiDoc` object but typescript warns me that:
[code]

Is it a  bug in the interface definition or I should access `apiDoc` another way ?

# Steps to reproduce

[code]

[2020-05-05 12:56] nasht00 commented on #451
Any news on this?

Also, to clarify, what does "beta" mean? If I were to use a 3.0 schema today using express-openapi, what would happen?

[2020-05-11 08:54] akselikap commented on #631
Did you manage to resolve this? I am experiencing the same type of issue as you. Validation seems to be failing for arrays that are clearly arrays and objects that are clearly objects. It seems like the validateResponse-function is not working properly.

[2020-05-12 09:32] kwakwaversal commented on #631
I also had this problem. I think the problem is that the example of [validateAllResponses](https://www.npmjs.com/package/express-openapi#express-middleware-to-validate-responses-on-all-routes) has a bug in it (at least for JSON responses).

If you add a console.log() in it, you'll see that it's called twice. First time for the JSON, second time when the JSON has been stringified, ready to be sent

[2020-05-12 18:33] kwakwaversal opened #662 "Latest published openapi-jsonschema-parameters package (1.2.0) isn't the same as 1.2.0 in this repository?"
I could be missing something, but the `openapi-jsonschema-parameters` in `master` is version [1.2.0](https://github.com/kogosoftwarellc/open-api/blob/master/packages/openapi-jsonschema-parameters/package.json#L3). The dependency used by `openapi-request-validator` is [1.2.0](https://github.com/kogosoftwarellc/open-api/blob/master/packages/openapi-request-validator/package.json#L32).

But the publi

[2020-05-12 19:04] iggh commented on #662
So after further digging, it looks like the work I need was done in Feb in the MR https://github.com/kogosoftwarellc/open-api/pull/621

[openapi-jsonschema-parameters](https://www.npmjs.com/package/openapi-jsonschema-parameters) was last published 7 months ago so I would assume that just means that the changes haven't been published yet.

@jsdevel is there a release cycle to get the latest version

[2020-05-12 19:06] kwakwaversal commented on #662
After some digging, it looks like the work I need was done in Feb in the MR https://github.com/kogosoftwarellc/open-api/pull/621

[openapi-jsonschema-parameters](https://www.npmjs.com/package/openapi-jsonschema-parameters) was last published 7 months ago so I would assume that just means that the changes haven't been published yet.

@jsdevel is there a release cycle to get the latest version of `o

[2020-05-13 06:27] andrejflorjancic opened #663 "Validation of similar paths produce error on required parameters"
Framework: express
openapi: 6.0.0
swagger: 2.0

When using paths validation has problems on similar paths.

Example:
[code]
**users/{id}.js:**
[code]
**articles/{id}.js:**
[code]
Calling ../users/{id} will produce error **should have required property 'store'**.

Renaming path **articles** to **xarticles** and than calling ../xarticles/{id} will produce error **should have required property 'count

[2020-05-19 22:18] jsdevel commented on #618
can this be closed?

[2020-05-19 22:23] jsdevel commented on #652
i tend to batch releases, as this repo gets a number of PRs frequently.  i have been meaning to switch to learna though to make the release process faster.  any suggestions you have on managing the monorepo to make the release process easier are welcomed.

[2020-05-19 22:24] jsdevel commented on #653
i'd be open to PRs for this.

[2020-05-19 22:24] jsdevel commented on #647
is this still an issue?

[2020-05-19 23:23] chadxz commented on #647
As far as I know yes

[2020-05-20 12:29] j-zimnowoda opened #667 "[express-openapi] - request authorisation"
Hi,

The express-openapi is a great framework that I am using a lot these days.

I am wondering how do you implement request authorisation?

Here are the solutions that I came up so far:
### authorization as x-express-openapi-additional-middleware

**pros**:
- can return HTTP 403 if not authorised

**cons**:
- is executed for all request (no knowledge about api spec security)
- requires parsing op

[2020-05-27 10:32] rwalle61 commented on #609
@mvegter and I have just reviewed this (for `chai-openapi-response-validator`), and now think this is actually expected behaviour. See https://github.com/RuntimeTools/OpenAPIValidators/issues/46#issuecomment-632909906 for explanation

If everyone agrees, we can probably close this

[2020-05-27 17:38] stevelove commented on #609
Yes, I also came to the conclusion that this is expected behavior.

[2020-05-28 10:11] #609 closed

[2020-06-03 14:44] littldr commented on #652
Thanks for your answer!
I do not have any relevant experience with managing a monorepo, so I cannot recommend any tools or best practices.

But [lerna](https://github.com/lerna/lerna) looks very promising. Have you already started digging into this topic or may should I give it a try?

[2020-06-12 05:15] ddzero2c commented on #647
I have same problem too.
version 6.0.0

[2020-06-15 13:11] #618 closed

[2020-07-08 16:08] morriskimani commented on #662
I have the exact same issue @kwakwaversal. Were you able to make any progress regarding this?

[2020-07-08 16:13] morriskimani commented on #535
Hello @jsdevel. Seems like this was fixed by #621 but it was never published as mentioned in this issue #662. Would love to know if there are any plans to cut a release that has these changes. Thanks

[2020-07-20 15:58] jsdevel commented on #535
7.0.0 is out.  first release/publish using lerna!  please lmk if it's all working correctly.  now that we have lerna setup, publishes should happen a lot faster.  the old process was too tedious for me.  now it's joyful :joy:

[2020-07-20 15:58] jsdevel commented on #662
7.0.0 is out.  first release/publish using lerna!  please lmk if it's all working correctly.  now that we have lerna setup, publishes should happen a lot faster.  the old process was too tedious for me.  now it's joyful :joy:

[2020-07-20 15:58] #662 closed

[2020-07-20 17:55] jsdevel commented on #652
lerna is in.  just published 7.0.0.  publishes should happen _much_ faster now.

[2020-07-20 17:55] #652 closed

[2020-07-22 21:10] HFR1994 opened #675 "Not validating extra parameters in responses"
When validating both a request and response. Extra parameters are ignored even if they are not defined in the spec.

Ej:

[code]

This should throw an error because baz is not part of the spec

[2020-07-28 12:36] mahnunchik opened #676 "Released: JSON Schema for the OpenAPI 3.0 Specification"
JSON Schema for the OpenAPI 3.0 Specification have beed released https://github.com/OAI/OpenAPI-Specification/issues/1032

Readme may be changed https://github.com/kogosoftwarellc/open-api/tree/master/packages/express-openapi

[2020-07-30 10:18] arnaudruffin opened #677 "Handling of 405 errors ? (express-openapi)"
Hi!

We have just started using express-openapi and are facing an issue: we can't find a way to handle 405 (method not allowed) errors...

Whenever we try to send a request with a http verb not declared in our apiDoc, we get a 404 with a body like following:
`<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Error</title>
</head>

<body>
	<pre>Cannot PATCH /something</pre>
<

[2020-07-30 19:15] jsdevel commented on #676
@mahnunchik can you open a PR to change it please?

[2020-07-30 19:16] jsdevel commented on #677
@arnaudruffin have you tried adding an error handler?

[2020-08-04 07:57] arnaudruffin commented on #677
@jsdevel yes I have tried to set an error handler but couldn't succeed :(

[2020-08-04 14:13] arnaudruffin commented on #677
To be more specific : I added an error middleware by using the `errorMiddleware` option when initializing express-openapi, but this middleware isn't triggered when I try to reach one of my path with the wrong HTTP verb.
I've also tried to add a global error handler but nothing get triggered.

I've seen that the error I'm getting is what happen when express routing is not configured with `all` http

[2020-08-10 15:58] jsdevel commented on #677
@aravindanve i think your issue has more to do with express than it does this project per say.  what happens if you just initialze an express app (no open-api at all) and make the same request?  do you get the same response?

[2020-08-11 16:17] arnaudruffin commented on #677
Thanks @jsdevel for the feedback.

If I initialize an empty express app if will get the same behavior... but i would know how to handle it (by using `all` after registering routes.)
When I use express-open API I don't handle the route registration and I don't know how to override this behaviour.

Once again, my question is more **do you consider that 405 should be handled by express-openapi?**
I w

[2020-08-12 14:50] arnaudruffin commented on #677
@jsdevel
For now, my workaround is to "explore" all registered route in express after initializing express-openapi, and use `all` to return
a 405 error:

[code]

If you think that this should be handled by express-openapi, I am still open for a PR?

[2020-08-14 17:31] jsdevel commented on #677
@arnaudruffin this feels more like something that should be handled outside of open-api to me personally, unless you can find something in the open api spec on how unregistered routes/methods should be handled?

[2020-08-25 09:01] silverwind opened #681 "Validator: Default to version from schema when version argument is absent"
OpenAPI/Swagger schemas can define their version in the schema, so the validator can use that in the absence of the `version` argument:

[code]
[code]

[2020-08-25 16:19] #677 closed

[2020-08-25 16:19] jsdevel commented on #681
@silverwind can you submit a pr for this?

[2020-08-25 16:22] silverwind commented on #681
For the default value, possibly. It would coerce the version to the first digit of the string in the spec, if present. Long-term and once 3.1.0 is supported, the option format will have to change to `string` I guess.

[2020-08-26 09:56] giowe opened #682 "BUG: wrong email format validation"
given a param validations like this:

[code]

the validator allows a string like this `test@test` unless it does'n include a `.xx` after the domain.

[2020-08-26 10:16] giowe opened #683 "BUG: json schema validator is not parsing correctly the PATTERN parameter"
The error can be reproduced simply adding the `pattern` key in a parameter

[code]

when you pass some parameters to the validation error shows this message:

[code]

as you can see it automatically adds quotes (`"`) at the beginning and at the end of the string and it is actually testing for THAT specific regex!
To pass this regex validation in fact you must pass this json payload to you body

[c

[2020-08-26 18:04] jsdevel commented on #682
@giowe is there a format defined by the spec?  and can you submit a PR to fix this if it's different with a link to the spec?

[2020-08-26 18:04] jsdevel commented on #683
@giowe can you please submit a pr to fix this?

[2020-08-31 16:59] medfreeman commented on #286
sure, i'll be taking time to submit a few features, including this one, in the next few weeks.

[2020-09-25 17:33] jsdevel commented on #76
now on lerna!

[2020-09-29 00:51] TitaniteSlab opened #685 "How to disable console logging entirely (express-openapi)?"
I see #61 but I still don't understand how.

Specifically, when `Content-Type` is provided but invalid, I'm getting a stack trace in my server console:

[code]

How do I get rid of this? I want to use a noop logger.

[2020-09-29 01:11] TitaniteSlab commented on #685
[code]

Seems to work.

[2020-09-29 17:29] jsdevel commented on #685
it'd be nice to have logger: null support though to just disable it entirely

[2020-09-29 17:29] jsdevel commented on #685
or logger: false

[2020-09-30 15:19] foxfriends opened #686 "Request coercer is unable to handle OpenAPI V3 object serializations"
Currently, when used through `express-openapi` or `openapi-framework`, it appears object coercion must be enabled via a flag, and this enables only the "default" `JSON.parse` object coercion.

OpenAPI V3 specifies [parameter serializations](https://swagger.io/docs/specification/serialization/#query) for objects in the query parameters, which could intuitively be enabled by default, rather than onl

[2020-10-02 18:59] jsdevel commented on #686
please submit a pr

[2020-10-08 13:48] danielvianna opened #688 "pet store?"
.

[2020-10-08 21:02] #688 closed

[2020-10-12 11:17] petriaarnio commented on #368
I'm still seeing this warning for `delete` path, because cannot define operation with the name `delete` in strict mode.

[2020-10-19 18:22] w3nl opened #692 "Cannot use express-openapi in ES Modules modus"
If you use the package express-openapi in ES Modules (with import/export and `"type": "module"` in your package.json).
You get an error that you cannot use require, it is in the openapi-framework package.
I think this should be the fix.
See: https://nodejs.org/api/esm.html#esm_commonjs_json_and_native_modules

[2020-11-05 16:55] #686 closed

[2020-11-16 16:23] #628 closed

[2020-11-16 16:55] asarver opened #696 "exclusiveMinimum does not work using open api 3"
json schema draft 4 says exclusiveMinimum should be a boolean. open api supports this field.
however, when specifying exclusiveMinimum as a boolean, there is an ajv error saying it should be a number.
if I make exclusiveMinimum a number, I get an error saying it should be a boolean.

using express-openapi 7.0.2
using node 12

When making it a number:
[code]

error:
[code]

when making it a boolean

[2020-11-17 16:08] jsdevel commented on #696
please submit a pr

[2020-11-24 19:36] ei2kpi-ptc commented on #126
Hey! Any idea if the `args.middleware` was added to allow `x-express-openapi-additional-middleware` in YAML files to trigger a middleware function?

[2020-12-03 12:48] adantoscano opened #697 "debug logs show multiple route setter"
I'm using express-openapi and i'm getting the following log

[code]
route and layer repeat the same through all routes. Is this a normal behavior?

[2020-12-14 19:17] duinness commented on #647
It is still an issue in December... version 7.2.0
I've attempted to exactly follow the openApi doc, but I get the same result.

https://swagger.io/docs/specification/describing-parameters/

[2020-12-16 17:04] jsdevel commented on #647
please submit a PR

[2020-12-17 15:17] hauru opened #699 "[suggestion] Merging API paths instead of reporting a duplicate URL conflict"
First of all, this is a really great, quality package. Thank you for all the work you put in it.

However, i have a small problem with my current set-up which consists of a collection of independent modules each able to extend main API by appending a directory to the list of paths. Working this way i find it impossible to add HTTP methods to an already existing API URL because the corresponding pa

[2020-12-18 14:12] malnor commented on #631
@JasonSome This was asked quite some time ago. But also had this problem and it is because it overwrites the `res.send` but not the `res.json`. So if you would change all the `send` to `json` it will work for all `json` responses but probably not any `send` responses. I changed mine to json, because I just respond with json.

[2020-12-22 15:18] noaoh opened #700 "Unable to use OpenAPI v3 file"
Hello there!
I am using the `express-openapi` module v7.2.0 on nodejs v12.18.2.  The OS of the computer I am running it on is Windows Server 2019 Datacenter edition.  Whenever I attempt to use an OpenAPI v3 yaml file, `express-openapi` throws validation errors that shows it is validating it against the swagger v2 specification.  This is my debug file: [2020-12-21T21_54_01_145Z-debug.log](https://g

[2020-12-23 17:50] Envek commented on #609
Hey, does anyone know how to restrict additional properties in inherited types (which is usually done with `allOf` and `additionalProperties: false`) at the schema level and make response pass through `openapi-response-validator`?
I'm well stuck how to workaround this limitation properly.

[2020-12-24 12:52] mvegter commented on #609
Hi @Envek , we ran into the same issue. We solved this by having a `source`  version of our specification from which we generated the actual fully resolved version. You can see it here: https://github.com/AliceO2Group/Bookkeeping/tree/master/spec , it includes the required source code (in JavaScript). Do note that the `convert.js` file does more than just resolving, it will also sort members.

[2020-12-28 22:23] noaoh commented on #700
I removed `swagger-express-mw` from `server.js` and that fixed the issue.

[2020-12-28 22:23] #700 closed

[2021-01-04 15:00] duinness commented on #647
This appears to be a duplicate of [issue 483](https://github.com/kogosoftwarellc/open-api/issues/483).
My team began walking through the source code expecting to open a PR and decided the easiest solution is to do what @jberger (from issue 483) and @schristley (above) suggested and to just pre-parse the schemas.

[2021-01-04 15:17] jberger commented on #647
Parameter validations shouldn't silently be ignored; it is important to avoid false negatives. In a worst-case scenario this could be a security issue (though it would likely be detected before then). If express-openapi cannot and will not handle these valid openapi documents it should at least throw an exception when it notices the case.

[2021-01-10 11:41] nfroidure opened #703 "Issue with newly introduced OpenAPI extension"
I use this handy module but the recent changes (https://github.com/kogosoftwarellc/open-api/commit/d0241d607ba9e8012deec99b92c4c92a27eff9b9) broken my code here: https://github.com/nfroidure/whook/blob/master/packages/whook-http-transaction/src/index.ts#L53-L62

Indeed, before that update, I was able to access the `OperationObject` interface keys to extend it but now, it only gives `string | numbe

[2021-01-10 14:29] jarruda commented on #703
Interesting edge case you've found. I wasn't aware of this behavior with the `keyof` operator when an index signature is added.

Can you describe your use case? What about the `keyof` behavior difference is breaking for you? The change produces a superset of the type that was previously produced on `OperationObject`. It's not obvious to me what your linked code is trying to produce.

[2021-01-10 14:51] nfroidure commented on #703
It creates a `DereferencedOperationObject` type where all properties that may contain a `ReferenceObject` are guaranteed to be dereferenced. It helps to avoid to have to tell the compiler everywhere that the `ReferenceObject` has already been handled somewhere else in the code.

That said, I think that the library should let users extend its types the way they want. The proposed API does without m

[2021-01-10 15:21] jarruda commented on #703
How would your proposal do that in practice? Can you supply an example with several third-party extensions?

With HEAD:
[code]

If I have N extensions that I want to access on the OperationObject, it seems like I would have to create N extensions of OperationObject and access them individually?

I was trying to avoid forcing a user to do something like this, where they have to create a new type:
[

[2021-01-10 16:02] nfroidure commented on #703
Here (https://github.com/kogosoftwarellc/open-api/pull/704) is a sample config that would allow to do this:
[code]

And fixes my problem:
[code]

[2021-01-10 16:17] nfroidure commented on #703
If you prefer default to weak types, just replace `AType<T extends {} = {}>` occurrence per `<T extends {} = Record<string, unknown>>` but best would be to handle it on your own code since you only know what you can assume to sit in your OpenAPI instance.

[2021-01-10 16:23] jarruda commented on #703
Interesting approach. I think you would want to extend it to support adding extensions at any supported level in the spec: https://swagger.io/specification/ (look for "This object MAY be extended with Specification Extensions.")  Otherwise, it could create a backwards-incompatible scenario when one wants to add an extension to a new class.

I think, ideally, an extension vendor would write a packa

[2021-01-10 18:11] jarruda commented on #703
I can confirm that following the README directions exactly works. It appears there is work needed to support using an alternate installation prefix.

[2021-01-12 05:24] #703 closed

[2021-01-12 14:20] malnor commented on #663
Been sitting with this for a day now. Have a very similar problem /clients GET getting mixed up with /client/{client_id} GET.

[2021-01-13 08:39] malnor commented on #663
@andrejflorjancic after debugging the code I found that the problem was actually my code and how I attached the apiDoc to the object that caused problems. module.exports.get.apiDoc = xxx; isn't the best way of doing this.

So this can be ignored. Even though this is actually more of a javascript problem, the documentation could be more clear on having the same method multiple times requires a diff

[2021-01-15 00:21] doubliez opened #705 "TypeScript interface "ItemsObject" is missing "properties" property"
In my schema I have an array of objects that I define as:
[code]

But this causes a TypeScript error. The value of "items" property uses the interface "ItemsObject" defined here: https://github.com/kogosoftwarellc/open-api/blob/25d0114680050efe3b4f9b7d0cca9f9e88057daa/packages/openapi-types/index.ts#L566-L585

This interface is missing "properties" as one of the allowed properties.

[2021-01-15 22:26] npdev453 opened #706 "openapi-request-validator: outdated code at npm registry"
[code]

Hi,
openapi-response-validator-7.2.3.tgz at **npm** registry has outdated code.

(looking for https://github.com/kogosoftwarellc/open-api/pull/679)

openapi-response-validator-7.2.3.tgz/package/dist/index.js
line 131:
[code]

https://github.com/kogosoftwarellc/open-api/blob/master/packages/openapi-request-validator/index.ts#L615
line 615:
[code]

[2021-01-22 17:37] npdev453 commented on #706
aargh
it was another package

[2021-01-22 17:37] #706 closed

[2021-01-28 22:25] zishone commented on #675
I think there is something wrong with the tests, that is why it is not throwing.

If you want it to throw an error when using the module, you can add `additionalProperties: false` to the schema definition.
By default `additionalProperties` is set to `true`, that is why it is allowed.

[2021-02-04 11:17] Envek commented on #659
+1 on this. Also it would be useful to access underlying Ajv instance to setup other plugins like official [ajv-errors](https://github.com/ajv-validator/ajv-errors) which is required to [refer field names in error messages](https://github.com/ajv-validator/ajv-errors#referring-to-field-names) which isn't achievable with Ajv itself (see https://github.com/ajv-validator/ajv/issues/827 for details)

[2021-02-09 16:45] emerikool commented on #537
I have similar issue on `IJchemaSchema` interface when using `allOf` property that also can be a `$ref`.
https://github.com/kogosoftwarellc/open-api/blob/ceb1a04a6b245dd0a2ef1f3c149a88082aa2cb73/packages/openapi-types/index.ts#L653

Adding `$ref?: string;` property to `IJchemaSchema` interface will fix both issues.

[2021-02-17 19:10] dkMorlok commented on #65
I'm dealing with same problem, need to remove additional data without throwing errors.

- when i set `"additionalProperties: false"` into schema validator throw errors
- when i add to `Ajv` config `removeAdditional: true` it removes additional data and not throws errors

Very helpful is this test https://github.com/ajv-validator/ajv/blob/ba752505cf53a136eda1c4f4b81bf9e697a42dc2/spec/options/remove

[2021-02-25 16:36] chadxz opened #710 "openapi v3 -style form data not being coerced"
In openapi v3, form data is [now expressed as a part of the requestBody](https://swagger.io/docs/specification/describing-request-body/) and not as parameters. As a result, any form data that is declared as a non-string type is not being coerced by openapi-framework.

I've traced the issue to this: https://github.com/kogosoftwarellc/open-api/blob/master/packages/openapi-framework/index.ts#L507-L51

[2021-02-25 21:37] chadxz commented on #710
Pushed a PR #711 for this. Will probably need some mentorship on it though.

[2021-02-26 13:22] Envek commented on #609
Finally I solved it by using [json-schema-merge-allof](https://github.com/mokkabonna/json-schema-merge-allof) library to preprocess existing schema.

It works like a charm with code like this:

[code]

See https://github.com/mokkabonna/json-schema-merge-allof/issues/26 for more details about why it is so verbose :smile:

[2021-03-01 17:28] Envek commented on #710
+1 on this issue! I've faced it too. I will describe it in more details (just in case it is actually different one maybe)

---

So, given valid Open API 3 spec file with `multipart/form-data` request, declared according to [Describing Request Body / File Uploads](https://swagger.io/docs/specification/describing-request-body/file-upload/) docs:
<details>
<summary>apiSchema.yml with multipart/form-d

[2021-03-01 17:42] chadxz commented on #710
Andrey, the pr I submitted would fix it for the url-encoded data, but not
the multipart. I haven’t looked at all to see what would be required to fix
that, but it’s likely not much more work.

On Mon, Mar 1, 2021 at 11:28 AM Andrey Novikov <notifications@github.com>
wrote:

[2021-03-02 18:13] chadxz commented on #710
Closing this, merged PR fixed the issue I was experiencing. @Envek feel free to open a new issue for your specific issue

[2021-03-02 18:13] #710 closed

[2021-03-04 14:57] Envek opened #712 "[openapi-request-validator] Validating multipart/form-data requests"
This is related, but different from #710. I'm not sure that there is a bug, maybe I just need use these packages differently as I'm using them at quite low level (with manual parsing of request body and etc).

**The problem**

In OpenAPI 3 `multipart/form-data` requests should be declared as objects in `requestBody` according to [Describing Request Body / File Uploads](https://swagger.io/docs/spec

[2021-03-09 09:58] kacperfronc opened #715 "Content-Type validation error."
I have a problem using OpenApi module, my request has a custom header `application/json;version=1`.
Both in api spec and in request, but I'm getting wrong media type, because in BodySchemaParser it calls `contentType.equivalents()` which returns `application/json; version=1`, with space after ';'.

It works alright if I change the header in spec to be `application/json; version=1` with space after

[2021-03-10 07:28] #715 closed

[2021-03-17 09:04] mimkorn opened #716 "Plans for support of OpenAPI 3.1?"
Hi guys, are there any plans to support OpenAPI 3.1 spec?

[2021-03-18 02:18] artclark42 opened #717 "Bug with readOnly and required fields"
Hello, I noticed a bug where if you have a required field and a read only field, the required field will not be validated against.

As a sample

[code]
In this example, if I make a request without bar, the validation will pass without throwing an error. After doing some digging into the validator, it looks like in order to find the readOnly field in "required", the indexOf function is used with th

[2021-03-18 02:44] chadxz commented on #717
Hi @artclark42, welcome to Github! If you've already done all this work to determine the cause of the problem you are experiencing, it does make sense to submit a PR to fix it.

[2021-03-21 13:14] pate313373 opened #721 "Validation error despite valid schema."
Hi,

I'd really like to give open-api for express a chance. - The concept is very cool!

My code is this:
[code]

However, when I try to run my .yaml I run into the following error:
[code]

I can confirm, that my .yaml file is valid:
[code]

I'm wondering if there's a way to get a more verbose output to understand why the initialization fails.

Kind regards

[2021-03-24 21:33] mhamann opened #722 "openapi framework throws uncaught error if an operation for api is not present"
When an operation is defined in the OpenAPI spec, but doesn't have a matching function identified in the openapi-framework, the server crashes on startup because it tries to access an undefined property on the route item. Specifically here https://github.com/kogosoftwarellc/open-api/blob/master/packages/openapi-framework/index.ts#L358

![image](https://user-images.githubusercontent.com/130131/1123

[2021-03-30 07:25] aperkaz commented on #631
In case someone stumbles on this later on, here is the working version for Json responses:

[code]

[2021-03-30 17:57] danactive opened #724 "Swagger UI route or additional work needed?"
What is the URL path for Swagger UI? I integrated [basic sample](https://github.com/kogosoftwarellc/open-api/tree/2276673b41fee05217f4c885b18207122c858420/packages/koa-openapi/test/sample-projects/basic-usage) of koa-openapi into koa app server. In the express docs I see this reference

http://localhost:3000/v1/api-docs
- shows OpenAPI JSON spec with `World` definition and `users` path

http://loc

[2021-03-31 23:40] elliotdickison commented on #724
The route provided by `express-openapi` at `apiDoc.basePath + args.docsPath` serves data that Swagger UI can use to generate documentation, but Swagger UI is a completely separate project. To set up Swagger UI with Express and `express-openapi` try install the [swagger-ui-express](https://www.npmjs.com/package/swagger-ui-express) package and then follow the ["Load swagger from url"](https://www.np

[2021-04-05 20:39] asarver commented on #696
after doing some more research, it looks like this is an ajv v6 issue, which they're no longer actively developing.

since exclusiveMinimum is a supported field in the json draft schema and on the open api schema (https://swagger.io/specification/#schema-object), the property would need to be overridden in the open api schema validator, and probably the same for exclusiveMaximum too (haven't tried

[2021-04-07 19:50] danactive commented on #724
The extra work needed was very minimal. Simply add `koa2-swagger-ui` for koa app servers

[2021-04-07 19:50] #724 closed

[2021-04-08 03:44] jsdevel commented on #716
if the community provides support, we'll merge it in.

[2021-04-08 03:49] #676 closed

[2021-04-08 03:50] #717 closed

[2021-04-08 03:52] jsdevel commented on #722
@mhamann please submit a PR to fix this.

[2021-04-21 10:44] vguillot opened #726 "Migrate code from openapi v2 to v3"
Hi guys
With the official release of openapi 3.0.0, I tried to convert my swagger 2 to it. I have to admit that it is very heavy. The fact that I have hundreds of route is obviously not helping.
I could make some json adaptation about "definitions" "schema" and others naming stuff, but structurally, the fact that the object `apiDoc` is not used to build openapi 3.0.0 makes me think that I cannot d

[2021-04-22 17:43] asarver opened #727 "migrate to ajv >= 7 (ajv 6 has vulnerability and reaches end of life 30/06/21)"
The different open-api libraries are using v6 of AJV. There is an outstanding security vulnerability for version 6 (https://www.whitesourcesoftware.com/vulnerability-database/CVE-2020-15366) and while AJV says they'll fix security issues until June 30 2021, it's reaching end of life in 2 months.

It's not clear which JSON schema draft versions open-api supports (some places say draft 4, others don

[2021-04-26 15:59] asarver commented on #727
it looks like `swagger-schema-official` is using draft-04, but I can't find a repo anywhere to open up a PR. AJV can't be updated without moving off of draft-04

[2021-04-26 21:32] asarver commented on #727
since that schema hasn't been updated in 6 years, my current plan is to copy it into the openapi-schema-validator project and remove the swagger dep

[2021-04-26 21:33] asarver commented on #727
running into some issues with tests, but I'm hoping to have a PR opened tomorrow

[2021-04-27 10:58] malnor opened #728 "SecurityHandlers and custom fail message"
So we are using express-openapi and love much of it. We implemented security handlers that we can apply to any endpoint and when the security checks are not okay, we throw and get that as the return message. But then we have cases where we need to have multiple types of checks, so that either it is okay for security handler A OR security handler B. The problem is not that won't work when you throw

[2021-04-27 13:01] chadxz commented on #728
If you're checking multiple security handlers, and they both throw with messages, which messages do you choose?

[2021-04-27 13:15] medfreeman commented on #728
Hi, i already implemented this feature internally, by returning stored promises rejections if all the handlers fail.
I'll submit this as a PR next week, this would probably be a breaking change.

[2021-04-28 14:30] asarver commented on #727
since this is a full library upgrade, it would make sense to be a breaking change version increment, or a major at the very least. I'll also have to create a PR for each package, since they are dependent on each other, and will need the latest version to pull in ajv v8

[2021-05-11 14:33] eurostar-fennec-cooper opened #735 "Route matching doesn't seem to work properly"
In swagger express, does it follow OpenAPI spec 2.0 as pointed out in the docs included in this repo? Or does it implement OpenAPI spec 3.0 (https://swagger.io/specification/) which states "the concrete definition will be matched first if used".

We have found that routes that are included `/api-docs` and ones we have defined `/health` are being ignored in favour of /{id}.

[2021-05-14 16:37] jsdevel commented on #726
@vguillot hard to say without looking at your project.  i'd suggest limiting your upgrade to a few routes at a time.

[2021-05-14 16:40] #552 closed

[2021-05-16 20:53] eyzi opened #741 "[express-openapi] text/plain content in requestBody gives an error"
Hey. I'm trying to send a plain text PATCH request but express-openapi gives me an error that the body "should be string". Is this a bug or am I doing something wrong?

Here's what I have in the YAML file, a sample request, and the response that I get back. For context, this API request (`PATCH /links/{id}`) is used to update the link `id` with the plain text parameter in the body.

api-doc.yml:
[

[2021-05-17 12:51] mirceanis opened #742 "Property 'default' of type 'Response | undefined' is not assignable to string index type 'Response'"
using package `open-api` in a project with `"strict": true` in `tsconfig.json` causes the error:
[code]

It would seem that explicitly accepting `undefined` in `ResponsesObject` fixes it:
[code]

This happens since version 9.0.0

[2021-05-18 14:04] dnalborczyk commented on #742
encountered the same issue.

the interface defines that all indexers have the same signature, with `default?` also returning `undefined`, it deviates from the indexer definition.

https://stackoverflow.com/questions/45258216/property-is-not-assignable-to-string-index-in-interface

[2021-05-18 14:49] mirceanis commented on #742
I don't know about the intents here. I proposed this fix purely from a typescript strict compilation perspective.
I suppose it would also work if `default` is always expected:
[code]

[2021-05-24 17:33] asarver commented on #727
just waiting for an open-api version bump, and I can close this issue out

[2021-05-25 14:33] Kosta-Github commented on #742
`default` is definitely optional, therefore `default?: Response` is required.

IMHO, `[index: string]: Response | undefined` is reasonably, since you will not get a `Response` object back for a random `string`, e.g., `resp['bla']` or `resp.hello` ... therefore, you should be "forced" to check for `undefined`...

[2021-05-26 13:22] henhal commented on #742
Record types where the key is _all strings_ is bound to cause problems: `Record<string, X>` or `{[key: string]: X}` both mean that you may index the type with _any string_ and expect to get an `X` back.

So in this case, the type specifies that every value of type `ResponsesObject` has the properties `foo`, `bar` and `lolcat`, and all other infinite combinations of characters that form strings ...

[2021-05-26 13:31] mirceanis commented on #742
Please ignore my second "solution". It only satisfies the typescript compiler, but doesn't reflect reality in any way.

The actual solution I'm proposing is in the description of this issue and also in PR #743

Thank you for the `skipLibCheck` workaround, @henhal. I'll try that.

[2021-05-26 13:46] henhal commented on #742
Thanks @mirceanis, I hadn't seen the PR. Great work.

[2021-05-26 14:05] asarver commented on #727
@jsdevel will those PRs be a part of the v9 release, or will a version bump be needed?

[2021-05-26 18:33] jsdevel commented on #727
probably v9 at this point, since it's a breaking change for some of the packages.  had it all been in 1 PR it could've been 1 major release.

[2021-05-26 18:42] asarver commented on #727
thanks! Yeah, I was concerned about putting it all in one PR since the contribution guidelines state one commit per PR, and the commits are done on a per package basis. It would be good to update the docs on guidance for breaking changes that affect multiple packages

[2021-05-26 18:51] jsdevel commented on #727
@asarver can you pull down the latest and run `npm t`?  i'm seeing some failed tests in express-openapi

[2021-05-26 19:03] asarver commented on #727
yeah, looking

[2021-05-26 19:11] asarver commented on #727
@jsdevel it looks like the issue is express-openapi uses ajv, I need to upgrade that package (PR incoming shortly)

should ajv be added as its own dependency to express-openapi? Right now it just gets included because @types/ajv is required

[2021-05-26 19:15] asarver commented on #727
looks like the types are just imported but not used so it's not too big of a deal

[2021-06-01 06:46] nguyentranchung opened #745 "Swagger 2.0: response schema type file is invalid"
I got this error
[code]

Here is the definition
[code]

[2021-06-01 18:41] jsdevel commented on #745
please submit a pr

[2021-06-01 18:45] #727 closed

[2021-06-01 20:07] asarver commented on #696
upgrading to the latest AJV version this is fixed (issue #727)

[2021-06-01 20:07] #696 closed

[2021-06-07 10:19] marikaner opened #746 "[openapi-types] Property 'type' is missing in type '{ $ref: string; }' but required in type 'ItemsObject'."
The error above occurs, when I have an array schema, like this (example from the official swagger docs):

[code]

The typings now expect items to include a type although it is a reference, which should not be the case.
This was not the case in version 8.0.0, but I couldn't find the change that caused this.
I believe the `SchemaObject` type should define `items?: ItemsObject | ReferenceObject;` ins

[2021-06-08 22:46] rockebee opened #749 "openapi-request-validator not taking "format" specifier into account anymore since ajv upgrade"
Hi,
I have observed that after upgrade of AJV dependency (cmp. issue #727 , MR #739 ) the request validator is not properly taking into account the format specifier in an OpenAPI specification (e. g.
[code]

This is caused by the fact the AJV's format validation is now splitted into `ajv-formats`, but the now required call to `addFormats` function is missing although mentioned in the #727 checklis

[2021-06-10 14:50] rockebee commented on #749
@jsdevel, any chance to get linked PR merged in soon? With the formats not being checked anymore I kind of treat this as either a breaking change in release 9.x or a kind of high prio bug, assuming that people are upgrading their express-openapi dependency without explicitly checking this ...
Let me know if there is anything more to be done/checked for the PR, looking forward.

[2021-06-12 17:32] AlexHolly opened #752 "openapi-request-validator add option to avoid changing headers to lowercase"
I would like to keep the header keys as is. Can we add an option for it (enableHeadersLowercase)?

https://github.com/kogosoftwarellc/open-api/blob/bb744c6f6e2dce57bba2dc361604147882a108dc/packages/openapi-request-validator/index.ts#L488

https://github.com/kogosoftwarellc/open-api/blob/bb744c6f6e2dce57bba2dc361604147882a108dc/packages/openapi-request-validator/index.ts#L496

[2021-06-15 06:39] pilotak opened #754 "Unable to test with jest/supertest"
When running the test with jest, routes from open-api are not available through exported `app`, I even tried to add a delay but that didn't help. If i add hard coded route it's there, so what is wrong?

When running the project via `npm start` everything is fine, it's only failing when testing.

`app.ts`
[code]

`api.test.ts`
[code]

[code]

full code https://github.com/pilotak/openapi-typescript-

[2021-06-16 14:01] asarver commented on #749
+1, we just came across this as well

[2021-06-21 08:56] pilotak commented on #754
Solve by adding allowing ts extension in `initialize`.
[code]

[2021-06-21 08:56] #754 closed

[2021-06-21 16:49] anthonysette commented on #712
+1 I am having a problem with this as well. Any updates?

[2021-06-21 16:53] anthonysette commented on #526
+1 Also having this issue. Any property in the requestBody comes in as a string regardless of type so the validation throws an error when I mark them as an integer. As of now, I need to mark all properties as a string and handle the conversion/validation manually.

[2021-06-26 00:53] Cellule opened #755 "Case-insensitive enums"
I have the following schema and I want to allow users to send body `{"id": 123, "teamRole": "Admin"}`
However right now openapi-request-validator will consider `Admin` invalid because it is not part of the enum choices.
I'm trying to find someway using the schema to coerce enums to the right casing.
So far I can't seem to find a way to achieve this with the provided tools in this repo and I feel l

[2021-06-29 10:45] Morl99 commented on #742
@jsdevel  I don't mean to be pushy, but if there is any chance that you could take a look at the linked PR, it would be really helpful. For the moment, we are blocked to update to 9.0.2 because of this.

Thank you for your hard work!

[2021-06-29 12:36] Envek commented on #749
Faced this too. But I'm not using any wrappers — just bare openapi-request-validator and openapi-response-validator in AWS Lambda functions with some manual schema and request/response preprocessing.

[2021-07-06 18:07] #749 closed

[2021-07-06 18:11] #752 closed

[2021-07-06 18:12] #742 closed

[2021-07-26 16:54] wszydlak commented on #716
I've prepared PR in #757
@jsdevel would be nice if you could check.

[2021-08-12 11:30] balanza opened #760 "Possibly wrong type for `additionalProperty` and `allOf` in OpenAPI v2 definition"
I may be wrong on this, but I think `additionalProperty` and `allOf` parameters should be both defined as `OpenAPIV2.SchemaObject`; instead, now they are `IJsonSchema`.

As for [OA2 documentation](https://swagger.io/specification/v2/):

While `properties` field is defined as `OpenAPIV2.SchemaObject` [here](https://github.com/kogosoftwarellc/open-api/blob/master/packages/openapi-types/index.ts#L572

[2021-08-20 17:28] #716 closed

[2021-08-26 09:55] medfreeman opened #762 "[koa-openapi] testing status / upcoming contributions"
Hi & thanks again for the great work!

At last i'm able to contribute back.

While preparing the PR for issue #286 for koa, i noticed that the tests in `sample-projects` folder for koa are not run.
Only the top-level `test/sample-projects` are run atm: https://github.com/kogosoftwarellc/open-api/blob/24d87763c621f0886d02dbe96b20364055c46125/packages/koa-openapi/test/sample-projects.ts

Would you b

[2021-08-27 16:31] #762 closed, assigned to nobody

[2021-09-01 03:44] andrejflorjancic commented on #663
thx

[2021-09-01 03:44] #663 closed

[2021-09-04 20:53] hggonzalez opened #765 "Unable to test with Jest"
I been trying to write some test with using using OpenAPI 2.0, I'm using this library to add the paths via the controllers but I always get a 404 response back from the tests,

Here is my `openapi.json`

[code]

this is my controller `message.js`

[code]

and here is my `app.js` config

[code]

as for my test I only have the following

[code]

here is the console output.

![Screenshot from 2021-09

[2021-09-10 13:42] Gabrirf commented on #483
I think this is another case of this kind of error, since @jberger said that is a centralized error.

[code]

If I try to validate a body with the key `name` it fails because `additionalProperties: false`. But if I don't send `name`, it fails because it's required.

I guess that is because is reading only in his schema level, and is not recursive the validation.

But the schema is well formed, in

[2021-09-17 06:37] FrankEssenberger opened #768 "Custom Fields in Document"
Dear open-api types team,

I was doing an update to version 9 recently and got a few type errors which where easy to fix. However, we have a wrapper for the openApi generator which adds some custom properties to the document e.g. `x-my-additional-property` which can be on the [root](https://github.com/kogosoftwarellc/open-api/blob/13ad704b645055d9baec6e047a2d1a1288edb538/packages/openapi-types/ind

[2021-10-20 16:59] danactive opened #771 "Tips on user-facing error messages?"
My app's frontend is querying my endpoint for form field validation and is displaying the backend error message directly, as this screenshot shows, a regular expression pattern (regex) to the end user:

![regex](https://user-images.githubusercontent.com/1093286/138136643-469ab38a-d065-4ece-aa48-2fefaf49df9b.png)

This is my OpenAPI schema partial definition
[code]

This is the error using `errorTr

[2021-11-03 17:14] #603 closed

[2021-11-15 12:41] mogadanez opened #774 "Is it possble somehow reuse parts of pathes structure?"
with structure:

[code]
is it possible to  use exact same code for projects  on
`/company/{companyId}/projects`
and
`/projects`
pathes? with optional parameter companyId for sure

[2021-11-15 16:41] TheLox95 opened #775 "[openapi-types] How extend SchemaObject"
I would like to add an extra property to the ```OpenAPIV3.SchemaObject``` interface like
[code]
Where ```transform``` is a custom keyword defined in the [ajv-keywords](https://www.npmjs.com/package/ajv-keywords) library.
How can we do this?

[2021-11-16 09:58] wszydlak opened #776 "Boolean `exclusiveMinimum` for openapi 3.0"
This issue is related to #696.

However openapi 3.0 specification says `exclusiveMinimum` and `exclusiveMaximum` should be boolean.
They became numbers in openapi 3.1.

`open-api-validator` should recognize if specified version is openapi 3.0 or 3.1 and make a proper validation.

Currently when i specify openapi 3.0 document with `exclusiveMinimum: true` validator reports error, but according to h

[2021-11-22 15:02] deyhle opened #777 "Changelogs outdated"
Apparently there are CHANGELOG.md files in each package folder, however they seem unmaintained.
For example express-openapi:
https://github.com/kogosoftwarellc/open-api/blob/master/packages/express-openapi/CHANGELOG.md
Current version is 9.3.1, changelog ends at 6.0.0.
Is it safe to update to 9.3.1? Were there breaking changes I need to address in code?

[2021-11-22 19:12] jsdevel commented on #777
it's been pretty maintenance heavy to keep up to date with the changelogs.  generally, i only do major version updates when there are breaking changes i.e. the project follows semver.

[2021-11-23 09:45] deyhle commented on #777
I see, so from 6 to 7 to 8 to 9 there where 3 major updates with breaking changes? Which changes were that?

[2021-11-24 05:50] jsdevel commented on #777
This is an open source project that I donate my time to.  With everything going on in my life I don't have the time to keep the changelog up to date.  If you would like to figure out a solution for that I would be totally open to it.  My suggestion in the interim:
 look at the commit history on the master branch.  It's pretty clean (I squash each commit in the PRs when merging them).

[2021-11-24 05:50] #777 closed

[2021-11-24 21:04] jjdonov opened #778 "Overwriting API doc for operation, when multiple operations share the same controller function"
#769 introduced a regression where multiple operations that share the same controller function now overwrite each others api doc, meaning that the last operation processed is on the only documentation that gets used.

While this feature was undocumented, we were making use of it. Since the framework does not guard against overwriting the api doc, I'm led to believe this was the intended behavior.

[2021-11-25 16:51] LukDrews opened #781 "[express-openapi] Apply middleware to all endpoints on a route"
I know how I can add a middleware to all routes and how I can add one to just one route. But I want to add a middleware for all endpoints on a route by adding it to a common base path.

These are my endpoints:
[code]
I want to define a middleware for `server/*` only once and all child endpoints should use it. Is this possible?

[2021-11-30 13:41] ro0gr commented on #659
the other use case I've just faced is a need to pass [`multipleOfPrecision`](https://ajv.js.org/options.html#multipleofprecision) option. Without it AJV just isn't able to handle the `multipleOf` properly(https://github.com/ajv-validator/ajv/issues/84).

I doubt if hardcoding any specific `multipleOfPrecision` value inside the "openapi-response-validator" makes sense for everyone, so it seems reas

[2021-11-30 18:12] jsdevel commented on #659
feel free to submit a PR

[2021-12-02 07:01] #778 closed

[2021-12-03 09:11] tricoos commented on #721
@pate313373 When I enter your code on https://editor.swagger.io/ I get validation errors.

When I do this with my code I don't get validation errors but I'm still running into the same problem as you with this lib, unfortunately.

[2021-12-03 09:22] tricoos commented on #721
I found the reason for my error message: the file simply did not exist at the path defined in  `apiDoc`.
Could the devs please add a single if to give a better error message like `The path ... specified in apiDoc does not exist` ?

[2021-12-03 09:41] pate313373 commented on #721
Thx tricoos! I created the definition with Postman, that's why I thought it must be correct...

[2021-12-03 17:23] jsdevel commented on #721
can this be closed?

[2021-12-03 17:36] pate313373 commented on #721
Sure, thx.
However, more verbose error output would be highly appreciated

[2021-12-03 17:36] #721 closed

[2021-12-06 17:59] jsdevel commented on #721
@pate313373 please feel free to submit a PR!

[2021-12-19 05:40] yordis opened #782 "[Proposal] Remove extension from typespec"
Hey there, it seems that the package contained https://github.com/kogosoftwarellc/open-api/blob/939a077b7ac8c7e023dace3a85e36a1706ab0907/packages/openapi-types/index.ts#L279-L283 where some extensions are added.

Wouldn't be prudent to remove it and move the usage to the user-space code base using

[code]

Cheers,

[2021-12-20 16:13] ncodernet commented on #722
Hello @jsdevel : I also suffer from this problem and try to probide a fix: It would be
nice to be able to use openapi-framework without an implementation, e.g.
to implement generic request validation.
Looking a the code it seem to have worked in the past, as "routeItem.operations" rather looks like a typo.
However I'm not sure with the role of "operationDoc" - which would become undefined in this

[2021-12-20 16:56] ncodernet commented on #722
I have jsut seem that also in case of operationDoc would be correctly filled with
 pathDoc[methodName]
which seems to be correct. However I'm not sure if there are some corner cases that should be considered. I have also removed the "throws" check in the tests - now all tests are succeeding for me.

[2022-01-14 06:43] #722 closed

[2022-01-18 19:54] braco commented on #776
Same problem, @wszydlak did you find a workaround?

[2022-01-22 13:49] jsau- commented on #661
To get around this I've used declaration merging on `express`' `Request` type.

For example, add the following to your `tsconfig.json`:

[code]

And then add a file `./src/typeRoots/express.d.ts`:

[code]

Anywhere you use `express.Request` now you should get type-hinting for `apiDoc`.

Worth noting that I've gotten lazy and hard-coded the explicit type of `apiDoc` that I expect for my application

[2022-01-23 11:08] jsau- commented on #685
Could use `dummyLogger` from `ts-log`. Already used in [`openapi-request-validator`](https://github.com/kogosoftwarellc/open-api/blob/v10.1.0/packages/openapi-request-validator/index.ts#L57) as a default, and it's installed in [`openapi-framework`](https://github.com/kogosoftwarellc/open-api/blob/v10.1.0/packages/openapi-framework/package.json#L41).

If `null` were to be supported at library-level

[2022-01-25 01:35] marcjordan opened #788 "Is it possible to configure express-openapi to reject (404) routes without any apiDoc?"
Looking at this test: https://github.com/kogosoftwarellc/open-api/tree/master/packages/openapi-framework/test/sample-projects/paths-dir-with-no-method-doc

This implies that if I don't declare any apiDoc on the handler, and I don't put anything in the paths section of the top-level doc for a path, express will route to the handler it discovers with fs-routes. Is there a way I can configure it to r

[2022-01-28 00:44] baslr opened #789 "Quick question: [express-openapi]: is validation done for securitySchemes?"
I have the openapi version 3 security scheme
[code]
Is validation done prior to calling the handler function in `securityHandlers`?
For example checking that the header contains `sessionid` and rejecting the request if nothing was found?

In my case the security handler is called even when nothing to check is supplied. (Header field is not set).

[2022-01-31 10:32] Fridious opened #790 "Quick question: [openapi-request-validator]: Is a better error handling possible?"
`initialize({
        ...
        errorMiddleware: (err, req, res, next) => {
            ...
        }
    });`

My project is configured with typescipt and open-api 3 specification.
I try to optimize my error handling, but the `err` parameter in the errorMiddleware is a plain js object.
Because of this, it is very hard or partly not possible to know, if the error is a validation error from opena

[2022-02-23 13:44] LukDrews opened #793 "customFormats function not called in referenced schema"
My application uses some custom formats + validators for EAN barcodes.
The custom validation function is called when I use it like this:
[code]
But when I try to use a $ref in the productBarcode schema the validator isn't called:
[code]
Is this intentional or a bug?

[2022-02-23 16:28] LukDrews commented on #781
This question is more related to express itself. You would have to create an extra router at the common path and add the middleware to it. Then you have to mount the router to the app. And voila, all routes share the same middleware.

[2022-02-23 16:28] #781 closed

[2022-02-28 14:47] #745 closed

[2022-03-07 17:06] saiaman opened #794 "ajvOptions"
Hello there are ajvOptions used in the request-validator, but nowhere to specify them....
And there is a massive performance issue with starting app, when loading a lot of schemas, in the ajv validation at startup....please do something

[2022-03-11 03:25] hataku0301 opened #795 "[openapi-request-validator] Validating additional properties for query"
Here is my openapi definition.
[code]

When I send a request like `/pet?boo=aaaaa`, no error occurs.
I would like to add an option for validating additional properties for query.

[2022-03-23 11:04] didiercolens opened #799 "support for ECMAScript modules"
now that ESM are "[the official standard format](https://tc39.github.io/ecma262/#sec-modules) to package JavaScript code for reuse" and that the feature is stable, are there plans to support them in express-openapi ?

My use case is that I have a handler that uses [got](https://github.com/sindresorhus/got) and since version 12 it no longer supports cjs modules, so I can't upgrade it unless I can c

[2022-03-29 05:51] baophamtd commented on #350
Hi @jsdevel @NathanHazout sorry to bring this up, but I'm having issues trying to integrate with `passport`. It looks like I'm wiring it up incorrectly. Attached are my `app.js` and `{provider}.js` which is the path param that handles the authentication. The `GET` call is fired but it would not redirect to Facebook login but rather hanging. Would you mind to shed some light here?
`app.js`:
[code]

[2022-04-01 22:46] baophamtd opened #800 "passport.js integration question"
Has anyone integrated `passport` with social media platform auth before? I'm struggling to set this up and can't find any example that uses the same combination (`express-openapi` and `passport`).
Here is my `app.js` (I should hide the passport setup in config but bringing it out here for better visibility):
[code]

Here is my `./api/v1/routes/auth/{provider.js}` using `xpress-openapi`to handle th

[2022-04-06 07:59] linhenry0417 opened #801 "Vulnerability found in express-openapi 10.1.0 release"
One of the dependencies `minimatch` has a vulnerability that is fixed in its later 3.0.5 version. Since the latest 10.1.0 release of express-openapi still uses an older version of minimatch (3.0.4), it will need to be fixed or updated to avoid the vulnerability.

[code]

Type:              vulnerability
CVE:               PRISMA-2022-0039
Sev.:              high
Package Name:      minimatch
Packag

[2022-04-07 00:22] Swizec commented on #741
For anyone else who finds this thread, I was missing `text/plain` support in my Express stack.

This fixed it:

[code]

[2022-04-13 00:57] rkoval commented on #775
hey there, just passing through. seems like i had a similar issue whereby ajv couldn't compile OpenAPI schemas when using ajv-keywords. if this was the same issue as yours, i was able to work around it by importing the underlying .json for the OpenAPI JSON schema directly, modifying that schema, and then manually passing it into an `ajv` instance instead of the validator in `openapi-schema-validat

[2022-04-28 05:55] baophamtd commented on #800
I figured it out :( `passport.authentication()` returns a function, so I have to call it as
[code]

[2022-04-28 05:55] #800 closed

[2022-05-06 05:44] #741 closed

[2022-05-12 16:43] denis-haskin-elemental opened #807 "[documentation] "Getting started" very unclear on how to do multi-version APIs"
https://www.npmjs.com/package/express-openapi#getting-started

The way the example files are named (`./api-v1/api-doc.js`, `./api-v1/paths/worlds.js`, `./api-v1/services/worldsService.js`) imply that to add a v2 version of the API, you'd have similar files `./api-v2/api-doc.js`, etc).

But the initialization code seems to provide no way to add a v2 version of the API:

[code]

I'm trying to figure

[2022-05-12 23:35] jsdevel commented on #807
if you have a good suggestion on how to make the docs clearer please submit a PR!

[2022-05-16 17:59] linhenry0417 commented on #801
Is there any plan on fixing the vulnerability? It looks like the issue still exists in the latest 11.0.0 release.
[code]

[2022-05-16 18:35] #801 closed

[2022-05-17 02:45] linhenry0417 commented on #801
@jsdevel Thanks for helping to address the issue. Is the issue fixed in the latest 11.0.1 release? I've tried to upgrade the package but `minimatch` package was still not upgraded.
[code]

[2022-05-17 04:46] jsdevel commented on #801
@linhenry0417 it should have been.  try wiping out node modules and re-install.

[2022-06-05 14:29] renkei opened #812 "initialize() of express-openapi 12.0.0 always throws exception on Windows"
After the update to express-openapi 12.0.0 my CommonJS app crashes on Windows when I'm calling the `initialize` method from the `express-openapi` package:

[code]

For Windows, the issue can be solved by changing in [openapi-framework/index.ts, line 238](https://github.com/kogosoftwarellc/open-api/blob/master/packages/openapi-framework/index.ts#L238)

from
[code]
to
[code]
Of course, this is just

[2022-06-06 07:44] jaredhan418 opened #813 "express-openapi 12.0.0 has huge break change but no changelog."
Please give huge BreakChange tag on V12 as you change `initialize` from sync to async.It break all old work flow.

[2022-06-06 18:30] jsdevel commented on #813
@jaredhan418 that's already provided with the major version bump.

[2022-06-06 18:30] #813 closed

[2022-06-06 18:31] jsdevel commented on #812
@robertkiel can you help here?

[2022-06-06 19:14] robertkiel commented on #812
Haven't tested the change on Windows yet ... The CommonJS script / ES module loader of Node.js seems to require some special treatment for Windows.

Will try on Windows tomorrow.

[2022-06-09 09:17] renkei commented on #812
Any update on this?

[2022-06-15 19:05] jsdevel commented on #812
@robertkiel would be great if you could provide some leadership/help here.

[2022-06-15 19:13] robertkiel commented on #812
Sorry for the late reply. Have been busy with a different issue - also related ESM migrations which brought some insights

Need to create a Windows-based test setup first but it looks like most prefixing with `file:///` can work for many platforms.

[2022-06-19 14:37] XuluWarrior opened #814 "Where are breaking changes documented?"
As #813 noted, v12 contained breaking change (`initialize` became async)

I agree that the version bump is adequate notice that a breaking change has taken place.  However, without @jaredhan418 getting there before me and creating #813, I would have had to go through the 1600 line change set to find out what had changed.

That is unless there is somewhere else I should have looked first?

[2022-06-20 16:01] jsdevel commented on #814
@XuluWarrior if you have a way to automate a changelog, i'm all for adding it.

[2022-06-20 16:01] jsdevel commented on #812
@renkei can you try now with 12.0.1?  @robertkiel just pushed up a fix.

[2022-06-22 08:00] jakobw opened #816 "Add header validation to openapi-response-validator"
As far as I can tell [openapi-response-validator](https://github.com/kogosoftwarellc/open-api/tree/master/packages/openapi-response-validator) currently only validates the response body, but not the headers.

Validating headers in addition to the response body seems generally useful, and would also make it more consistent with other packages in the monorepo. [openapi-request-validator](https://git

[2022-06-25 02:12] jsdevel commented on #816
as long as the OpenAPI spec allows for header validation, go for it!

[2022-06-27 07:48] renkei commented on #814
I'm also asking me if it is a good idea to provide the npm package express-openapi with version 12 with a CHANGELOG.md inside the package that stops at version 6.0.0 from 2019... For versions > 6.0.0 a link to this githib repo with a short explanation would be possibly helpful.

[2022-06-27 07:49] renkei commented on #812
Thanks! It works on Windows again.

[2022-06-27 07:49] #812 closed

[2022-06-28 14:29] DLakin01 opened #818 "Segmentation fault when using in conjunction with Jest/Supertest"
I'm using `express-openapi` to structure my API routes and generate OpenAPI documentation. When I attempt to import the Express object with initialized routes into a test suite, I frequently encounter a segmentation fault, maybe ~90% of the time. Sometimes the test is able to execute, but it's spotty.

Here is my server.js:

[code]
And here is the test I'm trying to execute:

[code]

I can debug a

[2022-06-28 20:38] 7mllm7 opened #819 "Add format validation to openapi-response-validator"
`openapi-request-validator` validates also the _format_ of the request's attributes (body, etc.), but what about `openapi-response-validator`?

In `openapi-request-validator` this is is done [here](https://github.com/kogosoftwarellc/open-api/blob/9e8204657c656410aeafff9249834f66af6f97c3/packages/openapi-request-validator/index.ts#L127), with:

[code]

It can be nice to not only block such invalid

[2022-06-29 17:21] #818 closed

[2022-06-30 17:54] jsdevel commented on #814
it was too much work to keep up to date manually.  if anyone would like to take a stab at automating it i'm all ears, but in general the git log is your friend.

[2022-06-30 17:54] #814 closed

[2022-06-30 17:54] jsdevel commented on #812
thanks for stepping in @robertkiel !!!

[2022-06-30 22:20] XuluWarrior commented on #814
Apologies for being slow replying to your questions.  If it's still timely here are my thoughts.

Firstly, I don't think anybody is demanding a comprehensive changelist.  I think important changes and specifically breaking ones are what's of concern.

I disagree with the statement that the git log is our friend in this recent breaking change as the log message gave no indication that there was any

[2022-07-05 02:31] YuefengLi commented on #776
Will have to correct the $ref link here to draft 05 of JSON schema to comply with OAS v3.0. https://github.com/kogosoftwarellc/open-api/blob/master/packages/openapi-schema-validator/resources/openapi-3.0.json#L763

[2022-07-06 11:23] aldex32 opened #820 "Incorrect type for componentSchemas in OpenAPIRequestValidator"
Hello,

the `componentSchemas` field in `OpenAPIRequestValidator` is declared as:
[code]
**But** looking to the tests, you are always passing an object instead of an array.
When I pass an object it works fine, but if I pass the schemas as array it fails to resolve references, with an error like:
[code]

Is it an idea to change the type to something like:
[code]

[2022-07-06 14:43] aldex32 commented on #820
Hi @jsdevel , perhaps you have an opinion?

[2022-07-06 18:24] jsdevel commented on #814
@XuluWarrior like i said, if you'd like to open a PR to automate the process feel free.  i'm an open source maintainer with limited time.  please don't expect perfection from me.  it takes enough of my time to review PRs and ensure devs are following the process accurately enough to ensure tests are passing etc.

[2022-07-06 18:25] jsdevel commented on #820
not really sure.  if you feel the current types are out of sync with the OAI spec, please open a PR.

[2022-07-08 16:55] aldex32 commented on #820
Maybe also @mbsimonovic , I see you have contributed in adding `componentSchemas` for OAS v3, could you perhaps have a look to this issue and the PR I created?

[2022-07-20 00:54] akinnee commented on #493
In case anyone still needs this, I wrote this little function to modify the swagger doc to use oneOf:
[code]

[2022-07-20 15:23] Jule- opened #824 "[TypeScript] Unknown file extension ".ts""
I have issues running `express-openapi` in a basic TypeScript project run through `ts-node` this way: `node -r ts-node/register`, this happens when the framework is trying to import my paths `.ts` files on this line:
https://github.com/kogosoftwarellc/open-api/blob/9e8204657c656410aeafff9249834f66af6f97c3/packages/openapi-framework/index.ts#L238

[code]

Worth mentioning, I am ~using~ trying to us

[2022-07-20 16:01] Jule- commented on #824
Relevant issue but without founding a viable solution to my issue: https://github.com/TypeStrong/ts-node/issues/1062

[2022-07-20 16:06] Jule- commented on #824
@cspotcode if you can have a look at this MRE code maybe you could enlighten some basic `ts-node` config issues or incompatibility/misuse of `await import("/path/to/file.ts")` with `ts-node`? Many thanks! :pray:

[2022-07-20 16:13] Jule- commented on #824
Updated CodeSandbox with less noise and `nodemon` to play around with configs more easily:
https://codesandbox.io/s/express-openapi-ts-node-we8kqn

[2022-07-20 16:27] cspotcode commented on #824
Sounds like you need to our our ESM loader.  Be warned: this may require learning new things about node.  You may be surprised that node's ESM support requires breaking changes to your project.  These problems are imposed by node, *not* by ts-node.  Be ready to read some node docs, and be ready for surprises.

First, the easy way: can you run `ts-node-esm` instead of `node -r`?

[2022-07-20 16:33] Jule- commented on #824
@cspotcode Thanks for the quick response! :slightly_smiling_face: I can give it a try but in fact, I do not want to use ESM at all.

Do you mean that this project requires ESM loader? I have already played a bit with ESM modules and know some of the implications, but this project is not an ESM module and that is what is making me confused:
https://github.com/kogosoftwarellc/open-api/blob/9e8204657

[2022-07-20 16:41] cspotcode commented on #824
This seems to be the problem:

The framework uses `import()` and gives it a path to a TS file, sorta like this: `import('./path/to/ts/file.ts')`

Even when the file being loaded is a CommonJS file, `import()` goes through node's internal ESM codepaths.  Those codepaths *can* load CJS files, so it's not changing the interpretation of your code from CJS to ESM.  That is not the problem: your code is

[2022-07-20 16:45] Jule- commented on #824
@cspotcode :exploding_head: it sounds that `ts-node-esm` is working in the CodeSandbox! Nice bit of :magic_wand:. I think I am more confused.

[2022-07-20 16:52] Jule- commented on #824
I understand. :pray: And I'll do, thanks for pointing me to this one! At least this explanation could enlighten other fellow devs searching on the web!

[2022-07-20 20:12] #824 closed

[2022-07-20 21:06] akinnee opened #825 "OpenAPIResponseValidatorArgs.responses type incompatible with OpenAPIV2.ResponsesObject type exported from openapi-types"
I had to manually define:
[code]
and coerce the type of what I pass to responses:
[code]

`responses` is type `OpenAPIV2.ResponsesObject`"

`OpenAPIV2` is imported from `openapi-types`

[2022-07-20 21:07] Jule- opened #826 "[express-openapi] OAS 3.0 servers and express app mount point"
Regarding an API served at `https://example.com/api/sub-api/`, we should expect an API doc like this:

[code]
But if we try, for the sake of containment, to mount a sub express app at `/api/sub-api` with `express-openapi` we land in a "double nested routing" that leads to serving our API on `/api/sub-api/api/sub-api/`.

It seems that this lib is not subtracting the express mounting point to the ac

[2022-07-20 21:39] Jule- commented on #826
You can use this sandbox to check that you need to double the `/api` to a path like `/api/api/api-docs` in order to reach the doc route.
https://codesandbox.io/s/express-openapi-ts-node-we8kqn

[2022-07-29 06:26] nss-ysasaki commented on #818
@DLakin01 Have you found any solution? I am facing the same issue.

[2022-07-29 11:54] DLakin01 commented on #818
@nss-ysasaki I switched to using "[jest-light-runner](https://github.com/nicolo-ribaudo/jest-light-runner)" instead of the default runner, it solved my issue. Comes with some limits on Jest functionality, so YMMV

[2022-08-01 09:10] nss-ysasaki commented on #818
@DLakin01 Thanks! I'll try it out.

[2022-08-02 00:01] teone commented on #768
I have the same issue, what is the workaround that you are using?

[2022-08-02 14:56] FrankEssenberger commented on #768
We manually extended the types like [here](https://github.com/SAP/cloud-sdk-js/blob/3bff42e1aa498baec330a11c5d3af9e1122cbae2/packages/openapi-generator/src/parser/parsing-info.ts#L28).

So the `OperationNameExtended` contains the [explicit extension field name](https://github.com/SAP/cloud-sdk-js/blob/3bff42e1aa498baec330a11c5d3af9e1122cbae2/packages/openapi-generator/src/extensions.ts#L29) we use

[2022-08-17 22:09] jsdevel opened #827 "Automate CHANGELOG with release-please"
https://github.com/googleapis/release-please

[2022-08-17 22:10] jsdevel commented on #825
@akinnee please submit a PR

[2022-08-17 22:12] jsdevel commented on #768
@FrankEssenberger if you think there's a way to update the types please submit a PR.  Thanks for raising this issue.

[2022-08-22 14:52] tzaitoun opened #828 "Is there a built-in way to use ajv standalone validation module?"
https://ajv.js.org/standalone.html

I want to precompile my openapi validation functions so that I don't have to do it at runtime but in a build step. Does this library expose that interface?

[2022-08-27 10:07] kibertoad opened #829 "openapi-types incompatible with TypeScript 4.8"
Error:
[code]

[2022-08-27 15:17] mcollina commented on #829
I think we are in a bit of a hurry to fix this. Maybe we should consider forking the original package or vendor the openapi types?

[2022-08-29 20:41] #829 closed

[2022-09-08 01:43] jftanner commented on #776
I ran into this issue just now. Unfortunately, it doesn't appear to be as simple as just changing to draft-04 (since there wasn't really a 5). Doing so in my `node_modules` folder for a test, I get this:
[code]

Unfortunately, changing to be `{"type": "boolean","default": false}` instead of a ref doesn't seem to make any difference, either. Still get the Ajv error: `exclusiveMinimum must be number

[2022-09-21 05:53] tvardy opened #833 "TypeScript 4.8 fails with `openapi-types`"
When updated from TS 4.7.4 to 4.8.2 I'm getting this error during the build:

[code]

I checked the TypeScripts changelog and this was actually introduced with the `4.8.0-beta` version.
Check here: https://devblogs.microsoft.com/typescript/announcing-typescript-4-8-beta/#unconstrained-generics-no-longer-assignable-to

[2022-09-29 15:30] itswoop commented on #765
We have this issue too. Your call to `initialize()` returns a promise. So that's why you are getting a 404 – the routes aren't yet configured. You can verify this by debugging and inspecting `app._router.stack`.

However, my problem is that my test just seems to hang when importing my `app.js` file with an `initialize()` call. As soon as I comment out `initialize()` in `app.js`, I get the same res

[2022-10-01 07:19] jsdevel commented on #833
@tvardy please submit a PR to fix this

[2022-10-06 12:54] fabien-renaud opened #834 "Only validate first item when using ref in array"
When using `$ref` on `array` schema, it only validate (and apply default value to) the first item, ignoring others.

**Example**
[code]

**This works**
[code]

**This also works**
[code]

This issue only occurs when using `$ref` on `array`, it works well when declaring schema directly on the `requestBody`, not using `$ref`.

[2022-10-24 07:05] jonaskello opened #836 "openapi-types extensions of other things than `OperationObject`"
It seems today extensions such as `x-myexension` is only possible to pass through to `OperationObject<T>` by putting it in `T` of `Document<T>`. However openapi v3 supports extensions in the following places [according to the docs](https://swagger.io/docs/specification/openapi-extensions/):

- info section
- paths section, individual paths and operations
- operation parameters
- responses
- tags
-

[2022-10-24 08:19] jonaskello commented on #836
As a temporary work-around I made this mapped type which allows for extension of `SecuritySchemeObject`:

[code]

[2022-10-26 21:57] brianphillips commented on #833
I'm pretty sure this is fixed by #830

[2022-10-29 13:19] RafDevX opened #837 "[openapi-schema-validator] Add support for OAS v3.1.0 schema"
Support validating v3.1.0, not just v3.0.0.

[2022-11-12 15:09] lyair1 commented on #837
+1

[2022-11-12 20:43] agnoam opened #838 "Load `.ts` route file"
I'm trying to use the `express-openapi` package
I tried to use this configurations in my `typescript-node` project:
[code]

But when I tried to run this, it throws me that error:
`TypeError: Unknown file extension ".ts" for src/config/routes.config.ts`

I'm trying to run it in my `ts-node` development environment. and can not "compile" the code into .`js` files.
Does anyone have idea how to solve

[2022-11-21 06:15] baophamtd commented on #838
I'm running into the same issue and trying to figure it out...
Everything works fine with `.js` or `.cjs` extension

[2022-11-27 07:09] bricss commented on #837
+1

[2022-11-30 14:55] erwannb-pro opened #839 "Quick Question: Can we parse a list of param in a PostgREST format ?"
Hello,

I was wondering if there was a way to parse correctly and check for the keys in an openAPI specification when using a PostgREST format (e.g. : `url.com?key=operator.value&key2=operator2.value2`).

We currently have a project using `express-openapi` with types defined in specification files and we would like to use them to verify the keys and cast the values of our query parameters directly