[2016-01-07 23:24] jsdevel opened #1 "Add support for res.validate"

[2016-01-08 09:15] #1 closed

[2016-01-10 03:19] jsdevel opened #2 "Error transformer should receive jsonschema and friendly errors."

[2016-01-16 20:33] #2 closed

[2016-01-16 20:34] jsdevel opened #3 "Looking for feedback"
This issue is to request feedback from the community so `express-openapi` may be improved.  For any who wish not to be apart of this, please comment herein with `please remove me` and I'll delete any comment herein containing your @ mention.

[2016-01-16 20:35] jsdevel commented on #3
@hilkeheremans  would you be willing to try `express-openapi` out and give me some feedback?  Thank you!

[2016-01-16 21:54] hilkeheremans commented on #3
@jsdevel Too bad I didn't see this earlier; I had just forked swaggerize-express and stripped off the validation to circumvent the issue. Still, express-openapi looks interesting as well so I'll give it a go.

Just as an FYI, I will be combining this with swagger-express-middleware.

[2016-01-16 23:41] jsdevel commented on #3
Sounds good!  `express-openapi` leverages `jsonschema` to the max, so you should find it to be pretty stable.  Looking forward to your feedback!

[2016-01-17 09:07] hilkeheremans commented on #3
Seems to work perfectly for a very simple use case. FYI, we are using this in what most devs would probably call an enterprise-grade application, with a public API described by OpenAPI. We're still working on the plumbing and robustness. Over the next few weeks we'll be hooking up all our business logic etc, so feedback will get more interesting at that point.

Some quick observations. I'm putting

[2016-01-18 05:12] jsdevel commented on #3
Looking forward to it!

It can either be relative _or_ absolute.  Relative is based on the working directory of the running process.  Should this be called out in the docs somehow?

You can actually use json or js.  `.initialize()` just needs a parsed javascript object that is your api definition.  But yea, calling this out in the docs would be better.

Haven't heard of json5!  Looks pretty cool.

[2016-01-18 21:00] jsdevel commented on #3
@skindc should you have any issues with `swaggerize-express`, I'd be really interested to get your feedback on `express-openapi`.  The benefits of this framework are that it is entirely built on top of jsonschema which is more standard in a swagger (openapi) sense.

[2016-01-21 10:28] hilkeheremans commented on #3
@jsdevel It seems I was a little too enthusiastic; express-openapi currently also does NOT handle recursive definitions. See kogosoftwarellc/express-openapi-validation#1 for more details.

[2016-01-21 16:54] jsdevel commented on #3
@hilkeheremans see my response https://github.com/kogosoftwarellc/express-openapi-validation/issues/1#issuecomment-173632203.

I also updated the tests in this project to use recursion and it works.  See `test/sample-projects/basic-usage/api-doc.js`.

[2016-01-29 12:17] seveves opened #4 "Filename with ":" is not supported in Windows"
npm install express-openapi fails because it cannot create the file name ":id.js" from the sample-projects.

npm install express-openapi --save
npm ERR! tar.unpack untar error C:\Users\fries\AppData\Roaming\npm-cache\express-openapi\0.4.2\package.tgz
npm WARN EPACKAGEJSON express-openapi-example@1.0.0 No repository field.
npm ERR! Windows_NT 10.0.10586
npm ERR! argv "C:\\Program Files\\nodejs\\nod

[2016-01-30 19:49] #4 closed

[2016-01-30 19:50] jsdevel commented on #4
Thanks @seveves!  I've removed the test directory from the published npm package.  I'm afraid I'll have to update the file format for windows though, to allow for something else.

[2016-02-01 23:06] jsdevel commented on #3
@rcherny, @rochal Just an FYI, `express-openapi` returns batched validation errors.  I'd love to see you try it and leave any feedback you may have.

[2016-02-02 06:28] jsdevel commented on #4
@seveves with `v0.5.1`, `express-openapi` now expects filenames to be in the following format: `{id}.js`.  I've tested this on windows and unix flavors and it works great.  Let me know if you have any more issues.

[2016-02-02 13:30] rcherny commented on #3
Hey @jsdevel I've tried it but had some issues with what I was precisely looking to do. Overall it looked like a nice set up. I'm trying to basically mock a swagger-based API with node.js and have validation that resembles what a .NET WebAPI back-end would be returning. I've got endpoints and all set up with Swaggerize-Express but the validation bypasses the handlers and I'm a relative ExpressJS n

[2016-02-02 13:34] rcherny commented on #3
@jsdevel sorry I should also have said, I'd be totally game for dropping `express-openapi-validation` into an existing ExpressJS set up but I'd need to:

1. drop it in as middleware
1. have it augment pre-existing paths
1. have it do it's "magic validation" and then augment it with `express-openapi-response-validation`

But I haven't had enough time to get that working so I had to move on for the

[2016-02-02 16:03] jsdevel commented on #3
@rcherny I think what you may be looking to do is intercept the validation errors, and change the status code.  If so, put some error catching middleware (defined with 4 parameters) as the last middleware in your chain like so:

[code]

[2016-02-02 16:30] rcherny commented on #3
Hey @jsdevel that's exactly what I ended up doing, more or less. The issue though is really that the `err` that comes back should have multiple errors listed, and other frameworks thus far are only giving me one. That said, I haven't tried the `express-openapi` modules listed above yet.

[2016-02-02 16:46] jsdevel commented on #3
I think you'll be pleasantly surprised :smile:

[2016-02-02 16:47] jsdevel commented on #3
@rcherny checkout the multiple errors returned in this data driven test: https://github.com/kogosoftwarellc/express-openapi-validation/blob/master/test/data-driven/fail-multiple-invalid-path-params.js

[2016-02-02 18:51] jsdevel commented on #3
@asaf not sure if you're using `swaggerize-express`, but `express-openapi` should handle empty strings just fine.

[2016-02-02 19:44] rcherny commented on #3
Hey @jsdevel I am using `swaggerize-express` — main thing is I'm unsure where to tap into it to use `express-openapi-validation` instead — as I have an api.json file with the rules in it, and the examples for openapi seem to include validation inside the code. Given more time I might just move the whole thing over, but for this current sprint I'm on, this may have to suffice. Otherwise, this does

[2016-02-02 23:50] jsdevel commented on #3
You'll find with `swaggerize-express` that it isn't possible currently to disable input validation.  If you add `express-openapi-validation` to your project as is, you'll incur the cost of double validation which isn't good.

I understand deadlines completely.  `express-openapi` was borne because the maintainers of `swaggerize` just weren't very responsive to issues.  You'll find the migration pat

[2016-02-02 23:52] jsdevel opened #5 "Add ability to make express-openapi not add middleware."

[2016-02-03 03:40] rcherny commented on #3
@jsdevel re: the validation issue with Swaggerize ... yeah it's buried pretty deep in the code, I was afraid of that. No I certainly don't want double validation.

If you could describe / document how to use `ecpress-openapi` with the definitions, paths, and rules in an external file, I'd be grateful. What I recall is the paths that I had file handlers for defined in the file system vanished from

[2016-02-03 03:42] rcherny commented on #3
Sigh. Fat thumbed that on my phone. Sorry. `express` **

[2016-02-03 03:46] jsdevel commented on #3
@rcherny I have a sample project that's really straight forward.  Check it out https://github.com/kogosoftwarellc/express-openapi/tree/master/test/sample-projects/basic-usage.

[2016-02-03 14:17] MugeSo commented on #3
Hi @jsdevel!
This project has more simple, readable, beautiful code than `swaggerize-` :smile:
I have a high expectation for this :laughing:

BTW, it seems `parameters` property of [path item object ](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#path-item-object)is not supported.
It makes api definition simpler! Especially, defining parameter in path.

[2016-02-03 15:51] jsdevel commented on #3
@MugeSo parameters should be supported, unless I'm not understanding what you mean.

[2016-02-03 16:18] MugeSo commented on #3
@jsdevel

sorry, I'm not so good at English :pensive:
I just intended to say how important `parameters` property is.

[2016-02-03 16:21] jsdevel commented on #3
@MugeSo no worries.  So `parameters` is supported.  See this example: https://github.com/kogosoftwarellc/express-openapi/blob/master/test/sample-projects/basic-usage/api-routes/users/%7Bid%7D.js#L45

What's probably throwing you off is that you define it in your handler files.

I'm glad you think so!

[2016-02-03 16:33] MugeSo commented on #3
@jsdevel It's `parameter` of [operation object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#operationObject), I said `parameter` of [path item object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#pathItemObject).

[2016-02-03 16:38] jsdevel commented on #3
Ah ha!  I understand now!  Cool!  I didn't know swagger supported that.  I should be able to add that support easily.  Basically just concat the 2 arrays (path parameters and operation parameters).  I'll add this support tonight most likely.

[2016-02-03 16:38] jsdevel opened #6 "Support path parameters"
https://github.com/kogosoftwarellc/express-openapi/issues/3#issuecomment-179331450

cc @MugeSo

[2016-02-03 16:44] MugeSo commented on #6
for reference: https://github.com/krakenjs/swaggerize-routes/pull/38

[2016-02-03 17:23] MugeSo commented on #3
great!

[2016-02-04 03:44] #6 closed

[2016-02-04 03:45] jsdevel commented on #3
@MugeSo added path parameters with https://github.com/kogosoftwarellc/express-openapi/commit/e6e1835addfbb3476df64da7969b088be049bab3.  Thanks again for the feedback!

[2016-02-04 05:03] MugeSo commented on #3
@jsdevel thanks for quick action!
However, it seems not satisfy the specification.

the [specification](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#pathItemObject) says:

On the other hand, e6e1835 just concat `parameters` and then duplicated validation  will be built for a key(a combination of a name and location).
 So, it should be overridden by a key.

[2016-02-04 05:12] jsdevel commented on #3
Hey, thanks for the reference!  Let me fix that real quick.

[2016-02-04 05:57] jsdevel commented on #3
@MugeSo fixed it with https://github.com/kogosoftwarellc/express-openapi/commit/a4bb78376added0301ea1a1486c183c6634636ca.  Also beefed up the tests.  Thanks again!

[2016-02-04 06:40] MugeSo commented on #3
@jsdevel cool! you are great quick at work!

[2016-02-04 07:42] jsdevel commented on #3
Just added the ability to completely configure middleware.  See https://github.com/kogosoftwarellc/express-openapi#configuring-middleware.

[2016-02-04 07:44] jsdevel commented on #5
Closed with https://github.com/kogosoftwarellc/express-openapi/commit/4d246057db2761b1c3dbbebb7dddd388291a5fd7

[2016-02-04 07:44] #5 closed

[2016-02-05 02:33] MugeSo commented on #3
@jsdevel Will security feature be implement until 1.x?
Security feature mean handling of `security` property([security requirement object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#securityRequirementObject)) [of [swagger object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#swagger-object) and [operation object](https://github.com/OAI/Open

[2016-02-05 03:28] jsdevel commented on #3
@MugeSo

I haven't had plans to implement security, but I'm open to suggestions.  My thought process thus far is that you could just handle it with middleware.

### At the global level

[code]

### At the operation level

[code]

As I'm typing this though, I realize that these approaches don't really scope well.  Like, you can't just add middleware at the apiDoc/path level alone.

## Full circle

[2016-02-05 04:27] MugeSo commented on #3
@jsdevel thanks for response.
IMHO, this library should not handle securities because it is too complex.
And there is many good authorization/authentication libraries.
So, what I need is just ability to bridge built api doc (including operation doc) and such libraries.

OTTOMH:
[code]

[2016-02-05 04:46] jsdevel commented on #3
I couldn't agree more.  This approach also conforms to the [single responsibility principle](https://en.wikipedia.org/wiki/Single_responsibility_principle).

I think returning the built apiDoc from `.initialize()` would be a good approach.  I wonder though if we should return an object instead?

[code]

I can see additional properties being useful in the future.  Thoughts?

[2016-02-05 04:50] MugeSo commented on #3
It look nice!

[2016-02-05 07:25] jsdevel commented on #3
@MugeSo try `0.8.0`.

[2016-02-05 07:29] jsdevel opened #7 "Add vendor extension for scoped middleware"
`'x-express-openapi-additional-middleware': [myMiddleware]`.

The middleware should be appended after coercion, defaults, and validation middleware, but not after operation middleware.

[2016-02-05 08:56] #7 closed

[2016-02-05 08:59] jsdevel commented on #3
Added scoped middleware with `v0.9.0`.

[2016-02-10 20:16] jsdevel commented on #3
@talvor @Lucg I'd be curious to know what your thoughts are on the way `express-openapi` handles middleware.  You should be able to handle security in a super flexible manner.  See [Configuring Middleware](https://github.com/kogosoftwarellc/express-openapi#configuring-middleware).

[2016-02-12 21:33] seveves commented on #4
Thank you. This works for me also! :+1:

[2016-02-12 21:45] jsdevel commented on #4
Sweet!  Thanks for reporting back!

[2016-02-15 07:44] jsdevel commented on #3
@phillip-hall saw that you had an open PR against `express-swaggerize` to move route middleware before route validation.  I feel this is an important feature that would be good to incorporate into `express-openapi` somehow.

I'd be curious to know if you would take a look at the way `express-openapi` currently handles middleware, and what a clean addition to the api would look like?

I'm kind of t

[2016-02-15 09:21] talvor commented on #3
@jsdevel I have not seen this module and I like the direct it is going.

I think a better approach would be to replace/extend `x-express-openapi-additional-middleware` with `x-express-openapi-middleware-before-validation` and `x-express-openapi-middleware-after-validation`.

These would allow for a route definition to define middleware that executes before and after any validation/security middlew

[2016-02-15 09:55] jsdevel commented on #3
I think that would be good.  My thoughts about your proposal mainly have to do with defaults and coercion, and the potential complexity of 6 options for all 3.  I.E.

* `x-express-openapi-middleware-before-defaults`
* `x-express-openapi-middleware-after-defaults`
* `x-express-openapi-middleware-before-coercion`
* `x-express-openapi-middleware-after-coercion`
* `x-express-openapi-middleware-before-

[2016-02-15 10:17] talvor commented on #3
@jsdevel Yes, this sounds very flexible.

Another option would be to just export the `defaults`, `coercion` and `validation` middleware functions and let the developer setup the middleware order they require for each api route definition. Similar to your previous idea.

[2016-02-15 17:36] hsablonniere commented on #3
Hey @jsdevel.

Your projet and especially the different middlewares it contains look very interesting. I've also looked around and found other projects that do similar stuffs (in different ways).

I wanted to know how you compare your project to **swagger-tools**? It's 2 years old and they've started a big split/refactor in different modules. I asked them [how they compare to your project](https:/

[2016-02-16 03:27] jsdevel commented on #3
@talvor

The only way I know to do that is with strings in the array, but that would break the concept of scoped middleware pretty quickly.  I think I'm leaning more towards your suggestion as defined [here](https://github.com/kogosoftwarellc/express-openapi/issues/3#issuecomment-184139310).

@hsablonniere  I've only looked at `swagger-tools` briefly, but here's my take on it having looked at it's

[2016-02-16 09:33] hsablonniere commented on #3
Thanks @jsdevel. This is crystal clear.

For our product, we're considering your project because we **really** want to avoid the monolithic API document. We want the path definitions to be in the same file as the handler code (and their middlewares).

To be honest, I'm not a huge fan of the API you proposed in this very project but it's really a matter of taste :wink:

* Because of the nature of o

[2016-02-16 16:08] jsdevel commented on #3
No problem and good luck!

[2016-02-16 18:26] whitlockjc commented on #3
swagger-tools works with JSON, YAML and can even work with computed JavaScript objects to describe your API so it's not limited to just a single, monolithic JSON file.  Yes, there is [currently a bug](https://github.com/apigee-127/swagger-tools/issues/227) *(with workaround)* with relative references that makes it a little more difficult to break things up but there is a very simple workaround and

[2016-02-16 20:03] jsdevel commented on #3
@hsablonniere

On this note

How would you prefer to organize your route files?

[2016-02-16 21:57] phillip-hall opened #8 "validation error for formData type boolean"
Given the following operation definition
[code]

and then calling using the following
`curl -X POST --header 'Content-Type: application/x-www-form-urlencoded' --header 'Accept: text/html' -d 'booleanParam=false' 'http://localhost:3200/api/info'`

the following error is returned
`error:  status=400, errors=[path=booleanParam, errorCode=type.openapi.validation, message=instance.booleanParam is not o

[2016-02-16 22:00] jsdevel commented on #8
Do you have form parser middleware wired up?

[2016-02-16 22:23] phillip-hall commented on #8
I have body-parser middleware setup as follows.

app.use(bodyParser.json());
app.use(bodyParser.urlencoded({ extended: true }));

[2016-02-16 22:28] jsdevel commented on #8
Hmm.  I'll have to do some testing around this.  Admittedly, for data isn't entirely tested.  Posting JSON in the body is though.

[2016-02-16 22:28] jsdevel commented on #8
In the mean time, if you can submit a PR for a fix it would be greatly appreciated!

[2016-02-16 22:40] phillip-hall commented on #8
OK.  The issue is in the express-openapi-coercion library.  It needs to build a formData coercer.

[2016-02-16 22:42] jsdevel commented on #8
Ahh.  Good catch!  Sounds like a patch then.

[2016-02-16 22:44] phillip-hall commented on #8
How do you do a patch?

Should I issue a PR on the express-openapi-coercion library?

[2016-02-16 22:47] jsdevel commented on #8
Yes.

[2016-02-16 22:48] jsdevel commented on #8
Once `express-openapi-coercion` is updated, I'll update package.json for a patch release.  That should make your PR available everywhere.

[2016-02-16 22:52] phillip-hall commented on #8
OK, PR is on its way.

[2016-02-16 22:55] jsdevel commented on #8
Thanks!

[2016-02-17 10:11] hsablonniere commented on #3
Thanks @whitlockjc for your message. Yes, it's a matter of opinion. In my team, we all share the *"put the doc next to the code"* mantra. It's the only way (for us) to enforce the fact that doc is always up to date. We'll definitely monitor the evolution on the sway projects.

[2016-02-17 10:12] hsablonniere commented on #3
@jsdevel We're still experimenting. More info soon... :smile:

[2016-02-18 03:26] jsdevel commented on #3
Added support for custom json schema formats with https://github.com/kogosoftwarellc/express-openapi/commit/b01fc0ea6da2440c3292c29c42fc5806b0c1932b.

Here's an example:

[code]

[code]

[2016-02-18 03:32] phillip-hall commented on #8
@jsdevel Did you see the 2 PR is submitted to the express-openapi-coercion project?
When can they be merged and this project bumped?

[2016-02-18 03:38] jsdevel commented on #8
I didn't!  Looking now.  I don't think I'm watching that repo (yet).

[2016-02-18 08:02] jsdevel opened #9 "Populate api doc tags from operation tags."
This will reduce boilerplate.

[2016-02-19 01:08] MugeSo commented on #3
@jsdevel I wrote type definition of this package for typescript.
https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/express-openapi

If you want, you can port it ;)
And add `typings` into package.json.
https://github.com/Microsoft/TypeScript/wiki/Typings-for-npm-packages

P.S.
... I know my type definition does not support `customFormats` yet.

[2016-02-19 01:16] jsdevel commented on #3
Super awesome @MugeSo!  I'd love to include it.  Can you submit a PR?

[2016-02-19 01:54] MugeSo commented on #3
@jsdevel OK, I'll do it.

[2016-02-19 08:02] jsdevel commented on #3
@dcolens I'd love to get your feedback on `express-openapi`.  It was inspired by `swaggerize-express`, but has fewer pain points.  Your migration path should be trivial.

[2016-02-19 08:02] jsdevel commented on #8
This was closed with https://github.com/kogosoftwarellc/express-openapi/commit/8d5b26ed10d62bf4c9d397492cb51dfda1c3f00e

[2016-02-19 08:02] #8 closed

[2016-02-19 08:27] #9 closed

[2016-02-19 08:30] jsdevel commented on #3
`express-openapi` now adds tags found in operation docs that are missing in your apiDoc tags array.  See https://github.com/kogosoftwarellc/express-openapi/commit/b94068ff9c873c560971af9cde9a9bb83a8e8a22

[2016-02-24 00:26] jsdevel commented on #3
Added support for error middleware that is scoped to the API's basePath property with 9f4b733340cd3aefe699e5231e9a62ce60d1b5c4.

[2016-03-03 02:41] jsdevel commented on #3
@johnleetechnology I noticed that you were having issues using $ref in swaggerize-routes.  I'd be interested in having you try express-openapi to see if it handles your use case.

[2016-03-03 21:53] DaleJefferson opened #11 "Option to validate all responses"
I can't find an option to validate all responses, it gets repetitive to keep doing.

[code]

[2016-03-03 21:56] jsdevel commented on #11
Yea, I agree.  What would you suggest?

[2016-03-03 22:02] jsdevel commented on #11
I usually add middleware to my stack that formats my data in a certain way.

So for example, I may call a service from my controller, and that service will give me most of what I need.  But usually in an API you have additional information you want to return.

Here's an example of what I may want to return from my API layer:

[code]

From my service layer though, I'm not concerned about status cod

[2016-03-03 22:03] DaleJefferson commented on #11
Personally I found this option confusing,

I assumed that response validation was turned on i.e. all responses were validated and that option opted you out for a specific request.

This would be the simplest and then you could use x-express-openapi-disable-response-validation-middleware to opt out.
[code]

But maybe this is a better idea?

[code]

[2016-03-03 22:05] jsdevel commented on #11
Yea, I can see that.  Perhaps that should be renamed to `x-express-openapi-add-validation-methods`?

[2016-03-03 22:06] jsdevel commented on #11
I like this.  What would it look like for other content types like XML?

[2016-03-03 22:06] jsdevel commented on #11
Almost seems like `res.validateAndSend` would be best, as the content type should be defined by your openapi document.

[2016-03-03 22:12] DaleJefferson commented on #11
I've just added validateAndSendJSON to my project and it seems to work well.

[code]

Is  x-express-openapi-disable-response-validation-middleware a performance optimisation? I'm not sure what harm it does having validateResponse available on every request.

[2016-03-03 22:12] DaleJefferson commented on #11
Yes res.validateAndSend would be better

[2016-03-03 22:13] jsdevel commented on #11
It was mainly to prevent the method from colliding with other libs mainly.

[2016-03-03 22:14] jsdevel commented on #11
If you can open a PR to add `res.validateAndSend` to this project that would be awesome.

[2016-03-03 22:14] jsdevel commented on #11
Or should it be separate middleware?

[2016-03-03 22:23] DaleJefferson commented on #11
Thanks for your prompt response @jsdevel a separate middleware that is loaded by default like the others?

I'm trying express-openapi on a small project, next I plan to use it on a large enterprise project. So far i'm really happy with this library.

[2016-03-03 22:33] jsdevel commented on #11
Yea.  Perhaps this could go in `express-openapi-response-validation`?  Feels related to that an not necessarily something that `express-openapi` should manage.

I'm glad to hear it!

[2016-03-03 22:51] DaleJefferson opened #12 "Alterative route declaration"
The only thing I don't like about express-openapi is the "convention based programming", I found very confusing and limiting.

I would prefer a simple javascript api doc with embedded handlers.

[code]

You can use modules to split up the code, you have the full javascript language to generate routes or do whatever you like.

[code]

The existing convention based system could be used to build this

[2016-03-03 22:53] DaleJefferson commented on #11
I will try to find some time to put a pull request together.

[2016-03-03 23:04] jsdevel commented on #11
Sounds good!  What do you feel about making it in `express-openapi-response-validation`?  I feel it belongs there.

[2016-03-03 23:15] DaleJefferson commented on #11
I agree, I will add it to express-openapi-response-validation, it should be pretty simple. The only bit i'm unsure about is how to handle XML.

What would this line look like for XML?

[code]

We would need to depend on a xml serialised and give options for formatting, I really would prefer to just do JSON.

Would you accept res.validateAndSendJSON and someone who is using XML can add res.validate

[2016-03-03 23:27] DaleJefferson opened #13 "Middleware should be opt-in like express"
This project has been really nicely designed to be modular with separated middleware, but all of the middleware seems to be included by default. In express, koa and other frameworks all middleware is optional so you are free to add what you wish and use alternatives which allows for a rich ecosystem.

I suggest we define a middleware spec for express-openapi.

[code]

[2016-03-03 23:29] jsdevel commented on #11
So I was researching this in the current schema https://github.com/OAI/OpenAPI-Specification/blob/master/schemas/v2.0/schema.json

Looks like you can define a `produces` array at the [apiDoc](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#swagger-object) level and the [operation level](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#operation-obje

[2016-03-03 23:44] jsdevel commented on #13
`express-openapi` has the notion of `scoped` middleware.  Checkout https://github.com/kogosoftwarellc/express-openapi#supported-vendor-extensions.

You can accomplish what you want by doing this in your apiDoc:

[code]

The problem is that `express-openapi-defaults` directly depends on your operation doc, so it's almost necessary that it's baked in and managed with vendor extensions.

[2016-03-03 23:44] #13 closed

[2016-03-03 23:46] jsdevel commented on #12
So you can define paths in `apiDoc.paths`, and `express-openapi` will inherit from it, except for handlers.

What you would consider limiting, I would consider freeing.

Consider that you never have to duplicate a path, as it's entirely inferred from fs.

[2016-03-03 23:47] jsdevel commented on #12
Also, you're documentation is kept up to date for users.  So if you delete a handler, you don't have to worry about your docs getting out of sync.  This is what bothers me about other frameworks that expect a monolithic json document or yaml doc to descript their apis.

[2016-03-04 01:05] jsdevel opened #14 "Allow del alias for delete"
delete is a javascript keyword / unary operator.  It is invalid for functions to be named delete in javascript, so it would be good to support a del alias to allow for this:

[code]

[2016-03-04 08:21] jsdevel opened #15 "Look for method doc on handler. not just on module.exports.handler"

[2016-03-04 08:57] #14 closed

[2016-03-04 08:57] #15 closed

[2016-03-04 09:09] jsdevel commented on #3
Added `del` alias for `delete` and recognizing api docs on method handlers in array middleware with `v0.14.0`.

[2016-03-14 04:46] MugeSo opened #17 "Support external schema reference"
## Problem
Now my api receives json schema object.

so, i wrote:
[code]

Then i sent request to it and got:
[code]

## Suggestion

1.  support external schema
2.  support maping external id to local file (for when can not connect to server hosting the external schema or the url don't serve schema json.)
3.  keep external reference as is in exposed api doc, not expanded loaded schema.

[2016-03-14 21:45] jsdevel commented on #3
@rkarodia if you're looking for a swagger module that allows you to transform validation errors, checkout `express-openapi`.  See [args.errorTransformer](https://github.com/kogosoftwarellc/express-openapi#argserrortransformer) for more details.

[2016-03-15 04:25] MugeSo commented on #17
For SRP, local file loading should be omitted.
Just requires passing {id : SchemaObject} hash to ‘jsonschema` via `express-openapi-validation` or `express-openapi-response-validation`.
And also, of course, I want to pass it via initialize argument of express-openapi.

[2016-03-15 04:43] jsdevel commented on #17
Can you try this?

[code]

[2016-03-15 07:16] MugeSo commented on #17
I got the same error :cry:

[2016-03-15 08:06] jsdevel commented on #17
@MugeSo this will likely take a decent amount of work.  Have a look at https://github.com/tdegrunt/jsonschema#dereferencing-schemas.  As you can see, we'd need to update each module that uses `jsonschema`.

Given that, one of the designs of openapi is to be a limited subset of jsonschema.  I'm curious to know what intentions you have in referencing `http://json-schema.org/schema`?

[2016-03-15 08:45] MugeSo commented on #17
@jsdevel
At first, i know i should use 'http://json-schema.org/draft-04/schema#', 'http://json-schema.org/schema' is my mistake.

The reason why I reference it is to contain external defined schema in api-doc is nonsense.
When api-doc contains them, it get large wastefully.

And as i said in https://github.com/kogosoftwarellc/express-openapi/issues/17#issuecomment-196648659 , i don't need dynamic

[2016-03-15 16:27] jsdevel commented on #17
PRs are welcomed!

[2016-03-16 07:26] jsdevel commented on #11
@DaleJefferson I'm curious to know if you've made any progress on this.  I feel it would be a great addition.

[2016-03-16 09:45] MugeSo commented on #17
@jsdevel
I fond `$ref` of parameters object are also unresolved.
e.g:

[code]
And I considered about it and this again.

Now I think it's better to use [json-refs](https://www.npmjs.com/package/json-refs) or something to resolve any references(not only schema) in api doc.

How do you about?

[2016-03-16 16:44] jsdevel commented on #17
So `$ref` actually isn't listed as a valid property in `parameters`.  See the [spec](https://github.com/OAI/OpenAPI-Specification/blob/master/schemas/v2.0/schema.json#L607).

[2016-03-16 16:46] jsdevel commented on #17
I usually use code to overcome this shortcoming of openapi/swagger

[code]

`myParameterModule` looks like this:

[code]

[2016-03-16 17:35] MugeSo commented on #17
`$ref` is valid.

See `parameters` property.
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#operationObject
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#path-item-object

https://github.com/OAI/OpenAPI-Specification/blob/master/schemas/v2.0/schema.json#L1482

[2016-03-16 17:58] jsdevel commented on #17
I see it: https://github.com/OAI/OpenAPI-Specification/blob/master/schemas/v2.0/schema.json#L1482

Then it should work.  Have you tried this?

[code]

[2016-03-16 18:06] MugeSo commented on #17
It's wrong. `parameters` property of `Swagger Object` is for define parameters.
See:
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#fixed-fields
https://github.com/OAI/OpenAPI-Specification/blob/master/schemas/v2.0/schema.json#L186

[2016-03-16 18:09] MugeSo commented on #17
And it doesn't work because `openapi-jsonschema-parameters` doesn't handle that.

[2016-03-16 18:12] jsdevel commented on #17
@MugeSo can you open a PR to address this?  This is a good find.

[2016-03-16 18:26] MugeSo commented on #17
Also `resposes` property of `Operation Object'.
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#responses-object

I'll try it.
But it takes some time because it seems complex.
(And it's 3:25am here)

[2016-03-16 18:35] jsdevel commented on #17
Go to bed! lol

[2016-03-16 19:51] jsdevel commented on #17
Yea, I feel this would be a major addition to the framework.  Perhaps we should track responses and parameters separately?

[2016-03-16 19:58] jsdevel commented on #17
[json-ref-lite](https://github.com/coderofsalvation/json-ref-lite) looks pretty cool too.

[2016-03-17 00:44] MugeSo commented on #17
I've seen `json-ref-lite`.
It' nice except that it resolve reference start with `http:` only through network.
This causes problem when schema host server is down.

However, unfortunately, other library i found is async.
If we async one, `openapi.initialize` get async too :(

[2016-03-17 01:04] MugeSo commented on #17
OTTOMH
[code]

[2016-03-17 01:14] MugeSo commented on #17
The reason why use only `apiDoc.definitions` is [Reference Object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#responses-object) supports only canonical reference.

`definitions` is array of [JSON Schema Object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#schemaObject) and it has own `$ref` definition in spec.

[2016-03-17 01:21] MugeSo commented on #17
Sorry, in the previous code, `ids` include all ids in externalSchemas.
And external thing not only schema.

[code]

[2016-03-17 02:24] MugeSo commented on #17
Finally:
[code]

OK, I send PR soon.

[2016-03-17 04:06] MugeSo commented on #17
Unfortunately, current implementation works with invalid reference like:
[code]

This should be:
[code]

See: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#responses-object

So, what should I do? Can I cause BC break?
If so, it need more time because i need fix some tests existing.

[2016-03-17 06:46] jsdevel commented on #17
Let me take a crack at this.  After thinking about it some more, I feel I have a simple solution.

[2016-03-17 06:57] DaleJefferson commented on #11
I wrote my own wrapper that validates the response. I agree that this should be part of the project, I will try to find some time to add this.

[2016-03-17 08:39] MugeSo commented on #17
I found simple solution too.

[code]

[2016-03-17 08:49] jsdevel commented on #17
@MugeSo can you review #20 ?

[2016-03-17 09:06] jsdevel commented on #17
@MugeSo with version `v0.16.0`, `parameters` and `responses` have support for local `$ref`s whereas before they didn't.  If you can submit a PR for external refs then that would be great.  Thanks for all your contributions!

[2016-03-17 09:14] jsdevel commented on #17
@MugeSo after looking into `json-ref-lite` a bit more, I have a few things about it that I'm not sure would be good for `express-openapi`:

* It's relying on `spawnSync` which is available in the latest versions of node, but isn't in older versions.
* When `spawnSync` isn't available, it tries to install a native add on.  I'd really like to avoid native add ons if at all possible.
* Initialization

[2016-03-17 09:25] MugeSo commented on #17
`spawnSync' is used in `sync-request` right?
But it's just optional.
No network access is needed when jsonRef.cache has every external JSONs.

[My solution](https://github.com/kogosoftwarellc/express-openapi/issues/17#issuecomment-197658250) do that.

[2016-03-17 10:34] MugeSo commented on #17
After https://github.com/coderofsalvation/json-ref-lite/pull/2 is merged i'll send PR ;)

[2016-03-19 09:56] MugeSo commented on #3
I wish something like:
[code]

[2016-03-20 09:49] MugeSo commented on #3
How about to add [app.mountpath](http://expressjs.com/en/4x/api.html#app.mountpath) to `apiDoc.baseUrl`.

[2016-03-21 18:21] jsdevel commented on #3
@MugeSo adding app.mountpath would be good.  Can you submit a PR for that?

[2016-03-21 18:22] jsdevel commented on #3
@MugeSo what would the use case of `openapi.resolveRoute` be?

[2016-03-21 23:25] jsdevel commented on #12
Re-opening as express-openapi should aim to be as un-opinionated as possible to follow express's purpose `Fast, unopinionated, minimalist web framework for Node.js`.

[2016-03-22 00:29] MugeSo commented on #12
OpenAPI spec has [`$ref` for `Path Object`](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#fixed-fields-4)

[2016-03-22 00:44] MugeSo commented on #3
@jsdevel OK, I'll send PR for app.mountpath

`resolveRoute` is to generate URL by `operationId` for  `Location` and `Content-Location` header or other links.
It keeps programmer away from path except when touch directory or file name.

Now I think `res.resolveRoute` would be bettter.

[2016-03-22 00:45] jsdevel commented on #3
Oh I see what you mean.  Cool!

Can you submit a PR for that as well?

[2016-03-22 01:49] MugeSo commented on #3
@jsdevel No, I can't because `resolveRoute` is just idea yet.
We need more considering and discussion.

[2016-03-22 02:04] jsdevel commented on #3
@MugeSo makes sense.  I feel `getOperationURL` makes more sense then as your intent is to get a URL by an operation name.

[2016-03-22 06:22] DaleJefferson commented on #12
Thanks for re-opening this, it sounds like we could pull out the current convention over configuration router part of express-openapi into a separate middleware.

BTW I've successfully used a few of the express-openapi middleware with Koa, the middleware strategy you have chosen works really nicely.

[2016-03-30 09:02] hkors opened #29 "File upload not working"
Hello,

I have an endpoint documented like this:

[code]

In the Swagger UI, a file upload thing is visible:

![swagger](https://cloud.githubusercontent.com/assets/17003285/14137171/eace27ee-f666-11e5-8d39-0b368c67b0f3.png)

However, I keep getting this error when I send a file:

[code]

I do have a `Content-Type: multipart/form-data` header in the HTTP request.
Am I doing something wrong or is it

[2016-03-30 09:23] hkors commented on #29
I can now receive the file by adding ```
  'x-express-openapi-disable-validation-middleware': true``` to this documentation, but I suppose this shouldn't be the solution...

[2016-03-30 15:55] jsdevel commented on #29
@hkors there's currently no support for file uploads.  It would be great if you could propose a solution.  Most swagger frameworks that I've seen don't handle this very well.  I'd love to be one of the first!

[2016-04-01 17:47] jsdevel commented on #17
Closed by #30 .

[2016-04-01 17:47] #17 closed

[2016-04-01 17:48] jsdevel commented on #3
Thanks to @MugeSo, `args.externalSchemas` is now supported in `v0.19.0`.

[2016-04-07 07:53] MugeSo opened #35 "Security middleware initialization fails with operation without medthodDoc."
Other middleware initialization in if block begins in L.130.
[code]

Security middleware is initialized out of the block.

[2016-04-07 08:11] jsdevel commented on #35
dang.  You're right!

[2016-04-07 08:20] #35 closed

[2016-04-07 08:21] jsdevel commented on #35
Fixed in `v0.20.2`

[2016-04-11 22:59] phillip-hall opened #37 "Dynamic routes are being loaded before static routes"
The following file structure results in the routes being loaded in the wrong order. Note the use of the {id} pattern as windows does not support ":" in file names.

[code]
This results in route /users/{id} being defined before /users/query which is not the desired outcome.

I have submitted a PR to the node-fs-routes repo that fixes this.  [https://github.com/jsdevel/node-fs-routes/pull/2](url)

[2016-04-11 23:27] jsdevel commented on #37
Fixed in jsdevel/node-fs-routes/pull/2.

[2016-04-11 23:27] #37 closed

[2016-04-14 07:36] jsdevel commented on #3
@jacob-zneider just saw the issue you submitted on swaggerize-express.  The main issue with that library is that it doesn't rely on jsonschema.  Swagger/openapi are built on jsonschema, so any library not build on top of that is almost doomed to fail.  I'd love to know what you think about `express-openapi` after giving it a shot.

[2016-04-18 15:59] jsdevel commented on #3
@marcofranssen `express-openapi` used `express-openapi-response-validation` middleware.  I'd love to see what you think of it. (saw that you posted a related issue in `swaggerize-express`.

[2016-05-04 06:39] jsdevel commented on #12
@DaleJefferson glad to hear the middleware strategy is working out for you!

I've had a few thoughts related to closing out this ticket:

* Add a new argument to the initialization args that specifies either a module or a directory (haven't decided which would be more friendly).
* This argument will define the operation handlers for the provided `apiDoc`.
* Operation handlers are referenced via `o

[2016-05-04 11:38] Santinell opened #38 "What about refactoring? ^_^"
To be honest I don't like the way which you choose for routing.
What about to make your router optional?
How can it be? For example:

[code]

If you don't mind, I can try to make PR

[2016-05-04 14:33] jsdevel commented on #38
We have one issue where we'd like to allow operationHandlers instead of routesDir.  Would that suffice?

[2016-05-04 14:54] Santinell commented on #38
If I could handle methods by operationId - yes.
Can I help with it?

[2016-05-04 16:15] jsdevel commented on #38
Of course!  Ideally I think we'd have a new initialization arg `operationHandlers`.  `operationHandlers` would be an object who's keys map to `operationId`s.

[2016-05-04 21:34] jsdevel opened #39 "Add support for consumes."
This came out of #32

[2016-05-05 05:42] Santinell commented on #38
How about a little change logic of using fsRoutes ?
Instead of read method by method and in same loop add midlewares, I propose to split it.
In first loop we union all apiDoc and generate array of objects like
for example: {method: "GET", path: "/host/status", handler: function(){ return true; }}

So after that we have same logic for operationHandlers - we no need to union, because we have full ap

[2016-05-05 05:51] jsdevel commented on #38
@Santinell I like where you're going with this.

Here's my take on what's currently happening:
* We're building out the apiDoc
* We're adding middleware/routes to an express app

The problem as you've mentioned is that we're doing both of these things in the same loop.

In order to support a second strategy (args.operations) we need to:
1. Build the apiDoc using args.routes and/or args.operations.

[2016-05-05 06:55] Santinell commented on #38
1) If args.operations contain only handlers like:
[code]
then what should we add to apiDoc? handlers?

2) I think it would be better if args.routes and args.operations will work separately.
It's more clear and hard to imagine situation when you need both of them.

So I propose to do something like this:
[code]

[2016-05-05 07:01] jsdevel commented on #38
Yea, working separately should be fine.  We can at least start with that and handle them working in tandem later if requested.

[2016-05-05 07:24] Santinell commented on #38
And what do you think about wild-card handler?
It would be nice if I could do for example:
[code]
For all paths will be the same handler which will dynamically call that required

[2016-05-05 08:15] jsdevel commented on #38
I kind of feel it's better to be explicit.  Form a consumer perspective, I'd like to know what operation is getting called.  With a wildcard that we apply, I don't feel that's known.

so if you want to have the same handler used for multiple operations, then I feel each operation should have the same operationId.

[2016-05-05 10:04] Santinell commented on #38
I want to have just one handler for all operations, because my methods inside classes, not in array.
For example: operationId = 'host.getByIP', this means that class Host has method getByIP.

[code]

[2016-05-05 10:28] jsdevel commented on #38
So in your apiDoc, you'll reference it with `operationId: 'generalHandler'`.  Then when you initialize, just pass `{operations: {generalHandler: function(req, res, next) {}}}`

[2016-05-05 10:41] Santinell commented on #38
But I use operationId to define class and method, which I need to use...
I can't do that.

[2016-05-05 10:43] Santinell commented on #38
Besides operationId must be unique - is a requirement of the standard

[2016-05-05 11:06] jsdevel commented on #38
well, there'd really be nothing stopping you from just re-using the same handler, but I don't feel a wildcard would be good.

[2016-05-05 11:23] Santinell commented on #38
Maybe another argument?
args.defaultHandler - if no handlers from routes or operations we use it

[2016-05-05 14:11] Santinell commented on #38
if save operationId in req, then we can use handler without wrapper
[code]

[2016-05-05 15:34] jsdevel commented on #38
args.defaultHandler would work.

[2016-05-05 15:36] jsdevel commented on #38
I'm not sure what you mean by wrapper.  Exposing arrays is optional.  It's just a way to precede your handler with business specific middle ware.  Array or function should be accepted.

[2016-05-05 17:29] jsdevel commented on #38
Also, keep in mind that we're _not_ going to be using es6 syntax features until v0.10 and v0.12 have been deprecated.

[2016-05-11 19:58] willist opened #40 "Account for deeply nested apps in basePath."
When express-openapi is mounted on a sub app, the basePath ignores the mount path of the parent app.
[code]

If ``./api-doc.js`` has a basePath of ``/v1``, I would expect the basePath in the generated api doc in this case to be ``/subapp/subapp2/v1``. Instead, the basePath of the api doc is ``/subapp2/v1``, ignoring the highest mount path.

[2016-06-11 04:20] tjaartvdwalt commented on #11
any progress on this?

[2016-06-14 16:24] jsdevel commented on #40
@willist can you submit a PR for this?

[2016-06-14 16:25] jsdevel commented on #11
ping @DaleJefferson

[2016-06-14 17:32] willist commented on #40
Fixed by #41

[2016-06-14 17:32] #40 closed

[2016-06-14 17:43] jsdevel commented on #40
Thanks for closing!

[2016-06-17 02:00] #39 closed

[2016-07-01 16:37] amcdnl opened #42 "(feature): ES7/TypeScript Decorators"
# Investigate Adding Support for ES7/TypeScript Decorators

Per my convo with @jsdevel on Gitter, I'd like to propose adding some implementation for decorators perhaps something like this:

## Example
[code]

## Resources
- Here is a project doing something similar but a slightly different approach: https://github.com/lukeautry/swagger-ts
- This project already has support for those style decorato

[2016-07-01 16:39] jsdevel commented on #42
I'm all for this.  Thoughts @MugeSo ?

[2016-07-30 01:23] jsdevel opened #43 "Add applySecurity to initialization arguments."
This will allow security to be applied to all operations by path based on regex

I.E.

[code]

[2016-07-30 23:13] #43 closed

[2016-08-02 21:07] greghart opened #44 "Parameters question"
First off thanks for the framework. It's been very useful for growing my knowledge of OpenAPI and the ecosystem while getting prototypes up fast!

I was wondering if there was a best practice for utilizing and working off of route parameters. All examples end in a {id}.js file, but what if I want to have a nested structure against {id}?

For example, two routes such as:
`/items/{id}/this`
`/items/

[2016-08-02 22:51] jsdevel commented on #44
There are a few ways of handling this:

* Take a look at this [sample project](https://github.com/kogosoftwarellc/express-openapi/tree/master/test/sample-projects/with-apiDoc-parameters-and-responses) used in the tests.  Notice how `$ref` is used in the operation doc.  You can define re-usable parameters at the API doc level, and use `$ref` in your operation docs.  This is probably the most `opana

[2016-09-01 14:56] marcofranssen commented on #38
Why no es6 if there is also babeljs to tranpile back to es5?

[2016-09-01 21:38] jsdevel commented on #38
There certainly can be.  It's mainly just more setup to add babel, but things that can natively be supported would probably be quick wins.

[2016-09-01 22:02] troymolsberry opened #45 "modular approach"
Hello, thank you for the excellent framework. I have a question about using it to construct modular express applications, where multiple routes are defined in individual npm modules, and the final product is composed from these. Can I call openapi.initialize() multiple times in a single app, once for each module? This implies that instead of a single routes folder, I may have several...

[2016-09-01 22:04] jsdevel commented on #45
Give me some more details for your use case.  It sounds like maybe you have different versions of your API in separate directories, like `api-v1/` and `api-v2/` etc.  If that's the case, you can definitely call `.initialize()` with separate instances of your app and then have a parent app that you `parentApp.use(v1App` with.

[2016-09-01 22:07] jsdevel commented on #45
I haven't tried this, but it should work.

[2016-09-01 22:09] troymolsberry commented on #45
My specific use case would be <company initiative #1> as a stand-alone npm module, and <company initiative #2> as a stand-alone npm module. Each of these modules would have a "routes" folder that conforms to the express-openapi format. There is a parent express project that is composed of all company initiatives (modules). Ultimately, I would like the parent api to behave exactly as though it had

[2016-09-01 22:40] jsdevel commented on #45
I see.  You should be able to run `initialize()` multiple times on the same app then.

[2016-09-01 23:40] troymolsberry commented on #45
`var app = require('express')();
var openapi = require('express-openapi');
var async = require("async");

var modules = ['foo', 'bar'].map(function (module_name) {
    return require(module_name);
});
async.eachSeries(modules, function (module, cb) {
    openapi.initialize({
        apiDoc: require('./api/api.js'),
        app: app,
        routes: module.routes_directory
    });
    cb();
}, func

[2016-09-02 00:05] jsdevel commented on #45
I see.  Yea.  That would be an issue.

How about if `routes` can accept an `Array` of paths?  They'd have the same version prefix as outlined in your api-doc.  Would that work?

[2016-09-02 00:18] troymolsberry commented on #45
absolutely would work, that was what I was originally hoping for

[2016-09-02 00:45] jsdevel commented on #45
Sweet!  I'll try to have this implemented tonight.

[2016-09-02 07:32] jsdevel commented on #45
@troymolsberry can you review #46?

[2016-09-02 17:07] troymolsberry commented on #45
Smoke testing passed, I will now start digging in to building a modular api with this excellent framework. Thank you for the impressively rapid attention to this enhancement. Cheers

[2016-09-02 17:07] #45 closed

[2016-09-02 17:39] jsdevel commented on #45
published as `v0.26.0` @troymolsberry !

[2016-09-03 07:00] troymolsberry opened #48 "external schemas appear to not render in swagger-ui"
running the test/sample-projects/with-external-schema-references app and viewing the generated api doc in swagger UI results in html markup displayed as well as errors implying that the external schemas could not be referenced.

Does express-openapi actually attempt to pull the schemas from the uris specified as the keys to the externalSchemas option object? Seems like the with-external-schema-ref

[2016-09-03 07:17] jsdevel commented on #48
looks like it isn't currently being bundled in the built api doc.  I think we could fix this easily, just need to know where in the api doc it should appear.

[2016-09-03 07:37] jsdevel commented on #48
@troymolsberry also, see this: https://github.com/swagger-api/swagger-ui/issues/1592

It looks like this could be a bug in SwaggerUI

[2016-09-03 07:47] troymolsberry commented on #48
agreed. express-openapi works perfectly here, and swagger-ui has two issues. External references that aren't hosted won't work, and it's displaying markup in it's ui for failed references.

[2016-09-03 07:47] #48 closed

[2016-09-03 08:00] jsdevel commented on #48
Thanks for submitting the issue nonetheless!  This will be great for others facing similar issues.

[2016-09-05 10:49] casras opened #49 "Have case insensitive query parameters"
I know this is kind of against the open api documentation, but we are moving legacy public endpoints from .net (query params are case insensitive), and right now we have to disable input validation using "x-express-openapi-disable-validation-middleware", and then we read the parameters by below function:

[code]

Meaning we can't benefit from validation rules we already wrote in the open api spec.

[2016-09-05 11:18] jsdevel commented on #49
Thanks!

* If you have a list of query parameters that your .Net API expected, then you could normalize them in some pre API middleware before your API is reached.  Your parameter definitions could then use standard naming conventions that you prefer.
* We could add support for a vendor extension that would lowercase the parameters for you.  It would likely only work with flat input parameter stru

[2016-09-05 11:45] casras commented on #49
If possible, a vendor extension would be nice.

But again if I'm the only one facing this issue, I guess the pre middleware option would be the way to go.

[2016-09-06 18:36] jcheroske commented on #11
I ran into this same issue and I just wanted to add my two cents.

First off, why does the code snippet above hardcode the "200" status code? How come it's not:
[code]
This way, the schema will be consulted and the response that matches the code will be the one validated against. I made the above change and everything is working correctly.

Second, the use-case I'm hitting, and I'm assuming others

[2016-09-06 18:46] jsdevel commented on #11
I think the `200` was being passed in from the handler.  I don't believe it was hard coded in the middleware.

I agree.  It should be fairly straightforward to check the operationDoc or apiDoc for produces.  If the provided data is of type Object and the operation can produce JSON, then it should use `.json`.  Otherwise it should probably just use `.send`.

[2016-09-07 04:49] jcheroske commented on #11
Just to clarify, I see two separate needs in regards to the format/produces issue:

1) Verifying that the format being requested by the client is in fact produced by the endpoint. This is a simple fix, and pretty much just requires passing in the requested format (probably the MIME type) to the `validateResponse()` method. Perhaps:

  * No format requested / no produces -> Valid
  * No format requ

[2016-09-07 06:53] casras commented on #49
I have had a chance to look further into this, and right now I really miss an option to add middleware at least before validation.

A rough example:
`function(req, res, next) {
      if(!req || !req.operationDoc || !req.operationDoc.parameters) { next();return; }
      var names = req.operationDoc.parameters.map(x => { return x.name; })
      for(var i = 0; i < names.length; ++i) {
        var nam

[2016-09-07 07:38] jsdevel commented on #49
I'd feel the same way.

I think we could add a vendor extension for this.  It would look like this in your parameter definition:

[code]

I think this middleware could reside in this package as opposed to being in it's own repo.  We could probably do some optimization too being that we know during `initialize` what parameters need to be case insensitive.

[code]

The trick is iterating over the pa

[2016-09-07 07:53] casras commented on #49
I'll try, ASAP

[2016-09-12 20:30] #49 closed

[2016-09-12 20:31] jsdevel commented on #49
@casras see `v0.29.0`.  `parameter` definitions now support `'x-express-openapi-case-sensitive': false`.

[2016-09-13 10:53] casras commented on #49
Thanks a lot, I'll have a look at it when I'm back from vacation.

[2016-09-16 23:02] notxt opened #52 "200 is invalid"
Getting:
[code]
when I try to do the example in the `readme`

I'm a bit new to openapi but it seems like it's not recognizing `200` as a valid responses key, which I believe it should be

... michael

[2016-09-16 23:23] jsdevel commented on #52
Can you change `type` to `$ref` for the `items` definition?

[2016-09-16 23:38] jsdevel commented on #52
Updated the README.

[2016-09-16 23:39] #52 closed

[2016-09-17 00:05] notxt commented on #52
works! there was one other little error that I put in a pr for

https://github.com/kogosoftwarellc/express-openapi/pull/53

[2016-09-17 00:06] jsdevel commented on #52
Thanks a ton @notxt !  I hope you enjoy the framework.

[2016-09-17 17:12] notxt commented on #52
oh I'm already loving it, I was a big fan of swagger via [hapi-swagger](https://github.com/glennjones/hapi-swagger) which I used at my old job. Just got a new one and they use express. It's taken me a minute find good equivalent but I'm liking your philosophy of `Stays as close to express as possible.`

How long has the project been around?

[2016-09-17 19:45] jsdevel commented on #52
It's been around for about 9 months.  I developed it while at my last contract.  We started off using swaggerize-express, but found that one to be too buggy.  I wanted a framework that leveraged jsonschema which the main reason I wrote this.

[2016-09-23 21:44] notxt opened #54 "Validation messaging"
Liking this more and more so thanks for making such a stellar implementation. Question:

I'm not getting req validation messaging back - ( just 400s ) - can I enable that somehow?

[2016-09-23 22:04] jsdevel commented on #54
Hmm.  Can you paste an example?

[2016-09-23 23:02] notxt commented on #54
so for `#/parameters` I've got:

[code]
and when I put in bad input - ( ie "abc" instead "123" ) - I get a response like:

![validation](https://cloud.githubusercontent.com/assets/338020/18803658/e44dac16-81a6-11e6-96aa-a793328ef2ce.png)

and was wondering if there's a way to get messaging out. Something like 'bad parameter "page" must be an integer' or something

[2016-09-23 23:10] notxt commented on #54
you know what ... it might be getting intercepted by my other middleware ...

[2016-09-23 23:41] notxt commented on #54
so my middleware was a large part of it, but after removing all of it (to test) I was still getting:

![validation](https://cloud.githubusercontent.com/assets/338020/18804064/0fa12f10-81ab-11e6-9980-e02716ce5240.png)

I then added an [errorMiddleWare] override and started getting messaging. So maybe it's the default error handler running toString on the err object somewhere?

or my app could still

[2016-09-23 23:45] jsdevel commented on #54
I'd start without any middleware.  Most of the sample projects in the test suite include examples with validation messages being returned.  It's also possible you initialized your app with an errorTransformer that isn't returning proper messages.

[2016-09-23 23:55] notxt commented on #54
yeah ... there's something stinky in my app :(

sorry to bother, thanks for the quick response!

[2016-09-23 23:55] #54 closed

[2016-09-24 00:06] jsdevel commented on #54
no bother at all!  I'm happy to be of help.

[2016-10-04 12:46] mghignet commented on #29
Hi!

The issue should be fixed now, I had the same problem.
See https://github.com/kogosoftwarellc/express-openapi/pull/55

[2016-10-04 16:39] jsdevel commented on #29
Thanks @mghignet !  I've published #55 as `v0.30.0`.  If you have the time, could you add a sample project to the test suite showing a file upload example?

[2016-10-04 16:40] jsdevel commented on #29
@hkors if you're able to try again with the latest version it would be appreciated.  I'll leave this issue open until we have confirmation that file uploads work.

[2016-10-05 13:33] mghignet commented on #29
Actually the bug is still present.
The issue is that we need to validate the presence of some fields (typically, a file) in formData, but it's not as easy as for a body or a query string.
The only workaround I've found is to remove the "required" property from formData parameters.

[2016-10-05 14:06] mghignet commented on #29
https://github.com/kogosoftwarellc/express-openapi-validation/commit/0096f84256dd5448c6b21c328d69bf0139194b13
I've commented on this.
The "quick and dirty" solution I see would be to remote the piece of code I commented to disable errors for formData fields, since we're not able to validate them correctly.
It means "required" property (and maybe some other ones) would be ineffective.
What do you t

[2016-10-14 12:09] mika-fischer commented on #12
A related issue is that the reliance on fs-routes makes it totally impossible to package an app using express-openapi using webpack or similar tools. I'd like to be able to provide express-openapi with a list mapping urls to module paths or already loaded modules.

[2016-10-14 23:15] jsdevel commented on #12
@mika-fischer PRs are always welcome!

[2016-10-17 14:21] mika-fischer commented on #12
@jsdevel I might give it a go. But what would your preferred API look like?

My idea would be to make the `paths` option optional, and add a new option (maybe `routes` or `urls`(?)) and allow to pass an array of objects: `[ { route: 'foo', module: require('foo') }, ... ]` or `[ { route: 'foo', path: 'foo' }, ... ]`, similar to what fs-routes generates.

That way most of the code could be reused...

[2016-10-17 16:17] jsdevel commented on #12
@mika-fischer I think the `paths` option array could also contain objects, and if no strings are in the array then we can skip the fs-routes call.  Thoughts?

[2016-10-17 16:27] mika-fischer commented on #12
Yes, that also sounds fine, I'll see if I can implement this this week.

[2016-10-18 17:50] jsdevel commented on #12
@DaleJefferson see the great work @mika-fischer did in #60.  I feel it closes this issue.  Thoughts?

[2016-10-18 20:12] DaleJefferson commented on #12
Thanks @mika-fischer this looks great, I will happily close this issue

[2016-10-18 20:12] #12 closed

[2016-11-05 05:35] memelet opened #61 "Console.log ??"
I notice that all logging is hard-coded to use Console. Is there some way to redirect this modules console output to a application specific logger so it can be routed to eg, a file then ELK, like all the other logs in our api?

[2016-11-05 06:06] memelet commented on #44
@jsdevel I don't follow your response on how to support

`/items/{id}/this`
`/items/{id}/that`

Give that the controller would need to be called `{id}.js`

[2016-11-05 06:28] jsdevel commented on #61
Hmm.  I see what you mean.  Have any ideas?  Maybe a console provider option in the initialize args?

[2016-11-05 06:32] jsdevel commented on #44
/items/{id}/{subject}.js

Would that work?  You can name the directory as a parameter

[2016-11-05 08:45] memelet commented on #44
Ah, yes. Did not think of naming the directly as a parameter. Thanks!

[2016-11-05 08:49] memelet commented on #61
Since almost all logging modules support the basic api log.info,warn,error(string) take an logging instance in the initialize(). This would allow the use of bunyan or winston. And even if the logger did not support just that interface it would be trivial to map into it.

It's too bad that node does not have something like slf4j.

[2016-11-07 17:21] jsdevel commented on #61
Yea.  I'd love it if you could submit a PR with support for such an interface in `.initialize(args)` @memelet .

[2016-11-07 17:21] jsdevel commented on #44
np!

[2016-11-09 08:57] memelet commented on #61
If we end up with swagger vs raml, I will do so. Thanks!

[2016-12-05 16:43] ksmithut opened #65 "Option to strip out unused parameters"
This may already be included somewhere, but it would be awesome if there was an option to strip out parameters that aren't in the docs. For example:

If a query parameter `age` is defined, but `?age=30&foo=bar` is passed, I would like `req.query` to only contain `age`.

I'm not sure which underlying `express-openapi-*` module would contain this, or perhaps it would be a new one.

[2016-12-05 17:08] jsdevel commented on #65
I like the idea a lot.  It would probably make sense as middelware in this project for now.  If you'd like to add a PR feel free.

[2016-12-05 23:35] ksmithut commented on #65
Cool, I'll take a look :) When I was attempting to build a swagger type api "thing" once upon a time, I relied on ajv to do my parsing and stripping and stuff. Might need to do something like that for `body`. Any favorite json-schema libraries?

[2016-12-05 23:38] jsdevel commented on #65
Checkout the dependencies for this project.  Ideally we can leverage one of those.

[2016-12-05 23:39] ksmithut commented on #65
Cool, I'll check it out

[2017-01-25 06:17] jsdevel commented on #29
@mghignet sorry for the late reply.  Holidays and election happened here in the states.  Barely getting back in the swing of things.

Whatever we need to do to get file uploads working, as long as the tests pass, I say we do it!  Can you submit a PR?

[2017-01-25 06:20] jsdevel commented on #65
@ksmithut how are things going?  Is this still an issue?

[2017-01-25 14:22] ksmithut commented on #65
I haven't had time to look into get... Got back into the swing at work and such. Feel free to close this out.

[2017-01-25 18:49] jsdevel commented on #65
I like the idea as an enhancement (labeled this as such).  If you have time to add the functionality feel free!

[2017-02-25 08:22] zcb22000 opened #69 "$ref external yaml file does not work"
I use the dist folder files in master, and use $ref to reference external yaml file, but it can't resolved.
my yaml format is :

      parameters:
        -
          name: request
          in: body
          required: true
          schema:
            $ref: './deviceManageDF.yaml#/definitions/AddDeviceDTONA2Cloud'
even modified with full acess path as:

      parameters:
        -
          nam

[2017-02-25 08:24] zcb22000 commented on #69
The response model alse shows not defined

[2017-02-25 08:26] #69 closed

[2017-02-27 20:56] jsdevel commented on #69
@zcb22000 were you able to solve your issue?

[2017-05-12 16:16] #3 closed

[2017-06-23 15:25] fdescamps opened #71 "API - How to have valid nullable fields in swagger ?"
Hi,

Thanks for express-openapi. I really appreciate to use it :)
But I have a problem, I need to expose fields which the type strings that could be nullable.
This following code works when i run the server based on express-api :

`responses: {
    200: {
      schema: {
        title: 'MyObject',
        properties: {
          myfield: { type: ['string', 'null'],`

**But** it's not valid against

[2017-06-24 02:18] MugeSo commented on #71
At first, your question is not library matter but just OpenAPI (swagger) matter.
So I think you should ask it in other better place.

Answer is here:
https://github.com/OAI/OpenAPI-Specification/issues/229

[2017-06-24 07:15] jsdevel commented on #71
@fdescamps try using [anyOf](https://github.com/OAI/OpenAPI-Specification/blob/master/schemas/v2.0/schema.json#L1005).  Glad that you like the framework!

[2017-06-26 07:12] fdescamps commented on #71
Hi,

Thanks for your answers.

I tried **anyOf** like that :
`
responses: {
    200: {
      description: 'MySchema',
      schema: {
        title: 'Schema Example',
        properties: {
          myproperty: {
            example: 'myvalue',
            anyOf: [
              { type: 'string' },
              { type: 'null' },
            ],
          },
`

But when the nodejs is starting, an e

[2017-06-26 13:47] fdescamps commented on #71
More Informations, **oneOf** is not valid, but **allOf** is valid

[2017-06-29 05:11] jsdevel commented on #71
@fdescamps take a look at the [openapi schema](https://github.com/OAI/OpenAPI-Specification/blob/master/schemas/v2.0/schema.json).  It should have the answer you're looking for.

[2017-06-29 23:20] bkyarger opened #72 "Support for OpenAPI 3.0.0?"
Any plans in the works to support 3.0.0?

https://github.com/OAI/OpenAPI-Specification/blob/OpenAPI.next/README.md

Looks like it's expected to be released in July.

[2017-06-29 23:28] jsdevel commented on #72
Been monitoring that.  Once the spec is finalized, I think we'll setup some milestones.

[2017-07-18 13:18] alexandremello opened #73 "router-level middleware"
I tried to add an router-level middleware to expose some routes depending on `NODE_ENV`. But I could not figure out how to do it.
I used `x-express-openapi-additional-middleware` to include my middleware, but express-openapi does not execute it. There is an elegant way to expose/hide routes depending on `NODE_ENV`?
And there is a way to add middleware using `api-doc` as json file?

[2017-07-18 21:10] jsdevel commented on #73
https://github.com/kogosoftwarellc/express-openapi/blob/master/test/sample-projects/with-additional-middleware/api-doc.js#L31

[2017-07-18 21:20] jsdevel commented on #73
@alexandremello we have extensive tests for every feature that you can find here: https://github.com/kogosoftwarellc/express-openapi/tree/master/test/sample-projects

[2017-07-26 21:28] jsdevel commented on #73
closing due to inactivity.  Let us know if your issue is still persisting @alexandremello.

[2017-07-26 21:28] #73 closed

[2017-07-26 21:29] jsdevel commented on #72
@MugeSo Looks like the [3.0.0 spec](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md) is finally here!

[2017-07-26 21:31] jsdevel commented on #72
Looks like they haven't published an official jsonschema document yet (see https://github.com/OAI/OpenAPI-Specification/issues/1301).

[2017-08-16 16:41] jeffswitzer commented on #72
+1 looking to set up a new openapi 3 express project

[2017-10-12 22:40] jsdevel opened #76 "Lerna Rewrite"
I'm thinking the project could benefit from using lerna.  That way the middleware etc. could be brought into the same repo.  Doing so could make maintenance easier as PRs, issues and so forth wouldn't be spread across multiple repositories.  Looking for thoughts from the community.

- [x] Move project root files to `packages/express-openapi` with the exception of files that _belong_ in the project

[2017-10-30 02:23] kevipapo1 opened #77 "Request validation sending [object Object] in Express response"
If I'm not mistaken, `express-openapi` is using `express-openapi-validation` by default and will validate requests to endpoints when the endpoint has given a value to the `apiDoc` parameter.

The validation is working correctly, but the response that a user receives is not helpful. Below is an example of what I get when hitting an endpoint with an improper request using Postman:

[code]

Providing

[2017-10-30 16:45] sethwenzel commented on #72
Any word on this?  Sure would be handy to describe webhooks for subscriptions...

[2017-10-30 19:09] jsdevel commented on #72
We're still waiting for a finalized version.  We _could_ base an implementation off of the beta schema they have in PR, but I'm somewhat reluctant to do that.  Let me know what you guys think.

[2017-10-30 19:12] sethwenzel commented on #72
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md
https://swagger.io/announcing-openapi-3-0/
-- isn't that released?

[2017-10-30 19:29] jsdevel commented on #72
Do you have a stable jsonschema file?  See my [issue](https://github.com/OAI/OpenAPI-Specification/issues/1301)

[2017-10-30 19:42] jsdevel commented on #77
@kevipapo1 this is very helpful!  I agree with you 100%.  Can you do some digging and possibly open a PR against `express-openapi-validation`?  If anything, perhaps a customer `toString` method should be added to output stringified JSON.

[2017-10-30 19:51] sethwenzel commented on #72
Ah well i'm with you then, they need to provide a schema if it's really released.

[2017-11-03 01:26] kevipapo1 commented on #77
Done! PR can be found [here](https://github.com/kogosoftwarellc/express-openapi-validation/pull/7).

[2017-11-03 01:26] #77 closed

[2017-11-03 01:52] kevipapo1 commented on #77
Also, for anyone in the future: you can add middleware to your Express app that handles all errors, including those from validation. This it the key line from the [express-openapi-validation](https://github.com/kogosoftwarellc/express-openapi-validation) README:

You can add this code to the entry point of your node app and it will send the error object as JSON:

[code]

The above code will handle

[2017-11-03 03:35] jsdevel commented on #77
Awesome!  Thanks @kevipapo1 !

[2017-11-27 06:53] sean256 opened #78 "Is there a way to manually validate using the schema in the apiDoc definitions?"
I have some code which is fetching an object from an external source and the object matches something I already defined in my apiDoc definitions.

Instead of redefining it with jsonschema, is there a way to run it through the existing validator?

[2017-11-27 17:35] jsdevel commented on #78
@sean256 I'm not exactly sure what you're asking.  Do you want to validate the object before you send it as a response?

[2017-11-27 17:51] sean256 commented on #78
@jsdevel basically I’m looking to recycle the definitions I defined for express-openapi and use them elsewhere in the app.

I have a JSON blob that did not go through express and I’d like to validate it as if it had.

Thanks for th quick reply!

[2017-11-27 18:09] jsdevel commented on #78
For that you should be able to use jsonschema directly.

[2017-12-15 15:30] XuluWarrior opened #79 "Using "$ref: '#/definitions/...'" for responses has been deprecated."
All the examples in the test suite have API definitions similar to

`
  responses: {
    default: {
      $ref: '#/definitions/Error'
    }
  }`

These are flagged as errors in the Swagger Editor.

A valid alternative is to use

`  responses: {
    default: {
      description: "Unexpected error",
      schema: {
        $ref: '#/definitions/Error'
      }
    }
  }
`

[2017-12-16 06:59] jsdevel commented on #79
closed by #80

[2017-12-16 06:59] #79 closed

[2017-12-28 20:39] XuluWarrior opened #82 "Set apiDoc.host to running host"
When the api docs json is requested the basePath is automatically updated to include the baseUrl of the request.  It would make sense if the host is also updated to reflect the host in the request object.

This would allow the same code to run in different environments (dev, production, etc) without having to manually change the host.

[2018-01-02 23:08] alrik commented on #29
I got it to work with `multer` and a little tweak. Hopefully the following examples will be helpful for some people.

Multer is a multipart form-data handling middleware. by default it stores the upload to `req.file` or `req.files`. The express-openapi-validation logic is looking for defined files in `req.body`. So we need to copy the file upload to the expected position.

[code]

[2018-01-02 23:13] jsdevel commented on #29
Nice @alrik !  Can you by chance update the README with this example, and possibly create a test (i.e. can you add `multer` as a `devDependency` to show that it works)?

[2018-01-03 08:54] alrik commented on #29
Hey @jsdevel sure. I'll add an example to the readme and add some tests when i got some spare time. Could you assign me the issue, so that i don't forget about it?

[2018-01-03 15:35] jsdevel commented on #29
@alrik looks like I'm unable to assign to non-project collaborators.  If you own an issue, I can assign it to you.  Want to open a new issue here about a missing example in the README for file uploads?  I should be able to assign that to you.

[2018-01-04 04:34] jsdevel commented on #82
closed by #83

[2018-01-04 04:34] #82 closed

[2018-01-17 03:02] BkunS opened #86 "Output [object Object] when trying to identify 'body' parameter in path's apiDoc"
I was trying to do a PUT /inventories/{id} endpoint that will accept request body as:
`{ "inventory": 100 }`

I defined the apiDoc in each path js file, and this is the one for PUT.
[code]

// schemas.json:
[code]

However, when I call this endpoint, it will always return html error response instead of json:
[code]

and console would have logged: `[object Object]` after I send the request, which I

[2018-01-17 03:20] jsdevel commented on #86
_.get(req, 'body.data')?

[2018-01-17 14:52] BkunS commented on #86
There's no 'body' inside req, though '_heepMessage.ServerResponse._hasBody' in req is true.

[2018-01-17 14:53] alrik opened #87 "Possibility to separate openapi-spec from http-controller"
As far as i can see, the execution of any middleware like parameter validation happens based on the `apiDoc` property of a single http endpoint / route.

[code]

It would be nice if express-openapi could fallback to path-definitions passed to the `initialize({ apiDoc })` routine.

That way the developer could choose between having the route-handler and the api-spec in one file or separated.

I'd l

[2018-01-17 15:36] alrik commented on #86
Have you set up the middleware for consuming json?

[code]

[2018-01-17 16:07] BkunS commented on #86
Tried, but no luck.

[2018-01-17 16:31] MugeSo commented on #86
@BkunS See https://github.com/kogosoftwarellc/express-openapi#argsexternalschemas

[2018-01-17 16:49] BkunS commented on #86
@MugeSo I'm defining the apiDoc in each path's js file, where would be relative path for args.docPath?

[2018-01-17 17:00] jsdevel commented on #87
@alrik I feel supporting the path handler's apiDocs separate would be good.  Instead of having to do something during initialize, what bout something like this?

[code]

Then we could tweak the startup logic to have logic like `operationApiDoc = methodHandler.apiDoc || fs.existsSync(path+method+'.yml') && /* pull in file */`.  Thoughts?

[2018-01-17 17:40] MugeSo commented on #86
@BkunS
First, the content of `$ref` should  be relative path from `args.docPath` because it will be sent as-is to api users as a part of the api doc.
And the definition file referred by `$ref` should be served with resolved URL (args.docPath + $ref).

`arg.externalSchemas` is just used for internally (validation and coercion).

[2018-01-17 19:23] BkunS commented on #86
@MugeSo If I have project stucture as follow:
So the args.docPath should be where api-doc.js located, right?

[code]
[code]
[code]
[code]
So far, besides `$ref: './configs/schemas.json#/Inventory'`, I've also tried `$ref: '#/definitions/Inventory`, `$ref: '#/apiDoc/definitions/Inventory'`, but none of them works. It still gives me `[object, Object]` error.

[2018-01-17 20:12] alrik commented on #87
My idea was to implement it like:
[code]
This seems to me to be the most flexible and unopinionated way.

But both approached do not exclude each other.

[2018-01-17 20:21] jsdevel commented on #87
Yes!  I agree, that would be the most flexible.

[2018-01-18 14:06] alrik commented on #86
I think i traced down the issue.

**TLDR;**: you might have **no error handling middleware** defined

---

I was able to reproduce this with the following 4 lines of code:

[code]
Launch http://localhost:9095 and see `[object Object]`.

The same happens with express-openapi when a validation fails. The validator internally triggers `next({ status : 400, ...someValidationErrorInfo })` in case of a

[2018-01-18 15:11] BkunS commented on #86
@alrik @jsdevel Thanks! With the error handling middleware, I was able to know what's inside the error now, and realized that this whole thing is just because I also didn't use body-parser which I once thought was built in with express. This can be closed.

[2018-01-18 15:11] #86 closed

[2018-01-24 19:16] h2non opened #89 "Thanks for creating this package :)"
Just want to say thank you so much for investing time and sharing this package with the community.

It's extremely useful, especially for API first design & development.

Cheers!

[2018-02-03 14:41] h2non commented on #72
Any updates here? What's the approximated cost for upgrading the package?

[2018-02-04 01:05] jsdevel commented on #72
I'm hoping the changes aren't too huge.  Haven't seen progress on the OAI ticket.

[2018-03-01 14:06] saborrie opened #90 "BasePath problems with empty string vs '/'"
My application doesn't have anything like '/v1', for a basePath. I need either '' or '/'.
Unfortunately neither option is completely problem free while using express-openapi:

If I set it to '/', I get routing problems, my routes are defined like:
[code]
If I have a leading '/' in the path for my module, then the route ends up being set up as '//auth/token', which obviously breaks things. If I don

[2018-03-01 17:03] jsdevel commented on #90
Can you submit a PR?  I agree that `basePath: '/'` should be allowed.  I think the issue is that `fs-routes` gives `/` as a prefix.

[2018-03-07 21:48] #87 closed

[2018-03-08 09:32] juliusza opened #91 "Body validation does not work?"
I'm trying to get validator to work on the body of this route:

[code]

here are my request parameters:
`{ uri: 'http://127.0.0.1/apiv2/filtered',
  headers:
   { 'x-api-key': 'blah' },
  json: { test: 'test' } }`

I expect openapi-express to return 400, because body should be an object with filtered prop. Yet I get 200 response. Swaggerize express worked fine with this one. Am I doing something w

[2018-03-08 11:34] juliusza commented on #91
world.js
[code]
main.js
[code]

Got output:
[code]

Expected output:
[code]

[2018-03-08 17:23] jsdevel commented on #91
The schema seems right.   Have you looked at the sample projects?  Here's a spec from the `basic-usage` project that seems to do what you want: https://github.com/kogosoftwarellc/express-openapi/blob/master/test/sample-projects/basic-usage/spec.js#L77

[2018-03-08 17:25] jsdevel commented on #78
@sean256 did you resolve your issue?

[2018-03-09 12:50] juliusza commented on #91
I was breaking my head for hours as to why this doesn't work.

This unreleased change fixes the issue: https://github.com/kogosoftwarellc/express-openapi/commit/471f9a3909326459fb272f3c8b4918b80bcc4fca#diff-168726dbe96b3ce427e7fedce31bb0bc

how about making a release? @jsdevel

[2018-03-09 17:16] jsdevel commented on #91
@juliusza done.  published @alrik 's PR as `v1.5.0`

[2018-03-09 18:03] jsdevel commented on #91
@juliusza if the latest version works for you, would you mind closing this?  Let us know if you still have problems.  I see why it didn't work for you now, as defining `paths` in the global `apiDoc` wasn't added until @alrik 's PR.  Should be good to go now.

[2018-03-09 18:19] juliusza commented on #91
Thanks, you're awesome. Looks like I'll be able to replace swaggerize-express lib with this one after all.

[2018-03-09 18:19] #91 closed

[2018-03-09 18:27] jsdevel commented on #91
You're welcome!  Happy to have you!  Don't hesitate to report issues here.

[2018-03-14 16:46] jsdevel commented on #78
closing due to inactivity

[2018-03-14 16:46] #78 closed

[2018-03-14 16:46] jsdevel commented on #71
closing due to inactivity.  let us know if you still have questions @fdescamps

[2018-03-14 16:46] #71 closed

[2018-03-14 16:49] jsdevel commented on #44
closing due to inactivity.  let us know if you still have queestions @greghart

[2018-03-14 16:49] #44 closed

[2018-03-16 01:01] jsdevel commented on #76
- [ ] Move project root files to `packages/express-openapi` with the exception of files that _belong_ in the project root i.e. `.travis.yml` etc.
- [ ] Add lerna and ensure that travis builds are running.
- [ ] Create a README.md file at the project root
- [ ] Rename repository (decide on name later)
- [ ] Move dependency packages under `packages/`

[2018-04-11 22:35] notxt opened #92 "Quick question"
Are you planning on supporting OpenAPI 3 at some point?

[2018-04-11 22:49] jsdevel commented on #92
Duplicate https://github.com/kogosoftwarellc/express-openapi/issues/72

[2018-04-11 22:49] #92 closed

[2018-04-23 18:02] vasergen commented on #72
Any updates here?

[2018-04-27 21:51] bugeats commented on #90
I just hit this snag during my first hour with this project. Very unintuitive.
<img width="353" alt="screen shot 2018-04-27 at 2 50 11 pm" src="https://user-images.githubusercontent.com/33055/39386606-521ed27c-4a2a-11e8-930c-c7f8ab1664e3.png">

[2018-04-28 08:39] #90 closed

[2018-04-28 17:58] jsdevel commented on #90
@saborrie @bugeats can you guys try with the latest?

[2018-04-30 18:11] bugeats commented on #90
Works as expected now, thanks.

[2018-04-30 18:21] abrinckm opened #93 "Directory structure for a nested paths"
Hi I'm noob,

The paths I want look something like this:

`/v1/resource/{type}/`
`/v1/resource/{type}/something`

I assume I'll need this directory structure :
[code]

however it doesn't seem to be working. It is returning 404 for either endpoint.
The documentation only helps with a specific type of nested pattern and doesn't have any further examples for this particular pattern I'm having trouble

[2018-04-30 18:30] abrinckm commented on #93
Nevermind. I answered my own question. The bottom example works just fine. I must've done something wrong when testing the first time.

[2018-04-30 18:30] #93 closed

[2018-04-30 18:50] abrinckm commented on #93
To clarify... The problem I had, (which I corrected in my original comment), and the reason it wasn't working for me, was that I had the file named incorrectly:

Wrong: `{type.js}`
Correct: `{type}.js`

[2018-04-30 19:36] bugeats opened #94 "Use object destructuring for dependency injection"
Introspecting function parameter names is [nasty business](https://github.com/kogosoftwarellc/express-openapi/blob/master/index.js#L614). Relying on something like `fn.toString()` as a core technique is error prone and hacky. With native object destructuring **there is no need**.

Hacky parameter name introspection:

[code]

Clean object destructuring:

[code]

[2018-04-30 20:27] jsdevel commented on #94
Very coincidental that you've opened this.  Over the weekend I published [difunc](https://www.npmjs.com/package/difunc).  It uses `esprima` which handles arrow functions (the current solution does not).

While object destructuring works great for shortening code, it doesn't validate that the dependency you're wanting to use is actually defined.

[2018-04-30 20:28] jsdevel commented on #93
Thanks @abrinckm !

[2018-04-30 20:53] bugeats commented on #94
... and the entire babel runtime apparently. You'll probably find yourself updating regexes with every new JS runtime that comes out.

I don't find this to be a problem, and at a higher level I believe it to be fighting the nature of JS. Module tests are good enough for me.

----

Hmm... given that you just authored a project just for introspective dependency injection, I don't think we're ever go

[2018-04-30 21:39] jsdevel commented on #94
There are less abrasive means of engaging in dialog on github for an open source project that a maintainer is voluntarily donating their time to.  I'm not opposed to any of your ideas.  I appreciate you for raising your concerns.  My goal is to make the framework better for everyone.

1. I'm not opposed to object destructuring.  I just hadn't considered it as an option.  And just because I publish

[2018-04-30 22:08] pontusr opened #95 "Security Filtering"
I'm eager to switch over to express-openapi but we're missing one feature which we require: security filtering of the documentation itself. Essentially we only want to show scopes, paths and operations that the user has access to in the documentation. It is described in the spec: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#security-filtering

Any plans to implement thi

[2018-04-30 22:12] jsdevel commented on #95
@pontusr I'm _definitely_ open to this and I see a need for the feature.  Perhaps a `docFilter` can be added to the `.initialize(args)`?  Could be a simple function that the documentation is passed to.  Thoughts?

[2018-05-01 00:57] jsdevel opened #96 "Arrow functions aren't working with dependency injection."

[2018-05-01 00:58] #96 closed

[2018-05-01 00:59] jsdevel commented on #94
See #96

[2018-05-01 00:59] #94 closed

[2018-05-01 06:57] #95 closed

[2018-05-01 07:02] jsdevel commented on #95
@pontusr I added `securityFilter` to `args` mainly because `express-openapi` is currently managing the api doc route.  Let me know if you find this to be annoying in practice and we can look at alternatives.  For now, you should be able to mostly use your existing middleware.  See https://github.com/kogosoftwarellc/express-openapi/commit/68af447ffc67aa9f75e76cc2da3f596a143fefbf for more details.

[2018-05-01 11:12] pontusr commented on #95
Thanks for quick implementation @jsdevel 🥇
It works great for our needs.

[2018-05-03 15:34] jsdevel commented on #72
FYI, @blortfish has an initial PR ready for the validation https://github.com/kogosoftwarellc/openapi-schema-validation/pull/1

[2018-05-20 22:51] lukiano opened #107 "Example without api-routes folder"
Hi, I'm looking for an example where the paths are defined in the .yaml file, instead of being in a folder, and the handlers are manually added later to Express. Thanks

[2018-05-21 06:09] jsdevel commented on #107
Something like this? https://github.com/kogosoftwarellc/open-api/pull/88

[2018-05-21 06:33] lukiano commented on #107
Not really, that one still has paths defined: `paths: path.resolve(__dirname, 'api-routes')`. I'm looking for an example that doesn't rely on scanning folders

[2018-05-21 07:25] jsdevel commented on #107
Also see https://github.com/kogosoftwarellc/open-api/pull/60

[2018-05-22 04:31] jsdevel commented on #107
See #60.  Feel free to reopen

[2018-05-22 04:31] #107 closed

[2018-05-22 08:03] lukiano commented on #107
Thanks for #60. Then if I

- manually parse the Swagger YAML (using js-yaml)
- retrieve all the paths and http methods for each path
- build the paths field for the arguments, an array whose entries have the structure {path, module} and having a dummy express handler on each defined http method in the module object

It results in express-openapi not requiring the paths to be valid folders and try

[2018-05-22 08:05] lukiano commented on #107
Typescript:
[code]

[2018-05-24 16:51] fijshion opened #108 "errorMiddleware argument validation"
I spent too long trying to figure out why my errorMiddleware function wasn't being called. The problem was that I only defined three of the four args because next() isn't used. My linter has a rule to disallow unused function arguments which I think is fairly common. The requirement to define all 4 arguments on errorMiddleware should be relaxed or better documented.

See https://github.com/kogosof

[2018-05-24 17:00] jsdevel commented on #108
Thanks @fijshion.  I could see how that was confusing.  Can you open a PR to add that in the README?  This convention (i.e. error middleware with 4 arguments) originates from [express](https://expressjs.com/en/guide/error-handling.html)

[2018-05-24 18:44] jsdevel commented on #108
closed by #109

[2018-05-24 18:44] #108 closed

[2018-05-25 14:43] simpgeek commented on #29
I submit that this issue is addressed satisfactorily by #105

[2018-05-25 14:55] jsdevel commented on #29
Agreed.  Thanks @simpgeek!  @hkors let us know if you disagree.

[2018-05-25 14:55] #29 closed

[2018-06-12 22:00] jsdevel opened #111 "Still call functions exported when args.dependencies is undefined."
No message is shown to the user and it's difficult to debug.

[2018-06-12 22:01] jsdevel opened #112 "Handle es6 default"

[2018-06-14 16:54] #111 closed

[2018-06-14 16:54] #112 closed

[2018-06-19 06:48] jsdevel opened #113 "Add support for other frameworks i.e. koa, hapi..."
- [ ] Extract `openapi-request-coercer`
- [ ] Extract `openapi-request-validator`
- [ ] Extract `openapi-default-setter`
- [ ] Extract `openapi-response-validator`
- [ ] Extract `openapi-security-handler`

[2018-06-20 13:10] rockebee commented on #113
Hi @jsdevel,
I like the idea of setting up the tooling broader - would you mind to also put restify-openapi onto the list of other frameworks?

Thx!

[2018-06-20 16:01] jsdevel commented on #113
done @rockebee

[2018-06-23 07:21] jsdevel commented on #71
@fdescamps I recently adding [schema extension](https://github.com/kogosoftwarellc/open-api/tree/master/packages/express-openapi#extending-openapi-schema) support.  Should address this.

[2018-06-26 19:37] Frizzled opened #126 "x-express-openapi-additional-middleware when not using JS APIDoc?"
Is it possible to inject middleware that fires on all routes without using a JavaScript APIDoc?

I want to validate & load data based on the route provided (after req.params are initialized but before any services) while keeping the APIDoc in JSON or YAML for documentation generation.

As a work-around I'm keeping the API Doc separate then adding x-express-openapi-additional-middleware:
[code]

Is

[2018-06-26 19:39] jsdevel commented on #126
right now it's only supported in `.js` files.  I suppose we _could_ add `args.middleware` that you could provide key/vals to where the key is a string used in the `x-express-openapi-additional-middleware` array and the val is the middleware function.  Would that work?

[2018-06-26 20:45] jsdevel commented on #126
You're welcome!  I should be able to add support for this soon

[2018-06-26 20:45] jsdevel commented on #126
In the mean time, feel free to open a PR.

[2018-06-28 12:41] lzear commented on #71
Is there a way to correctly validate requests/responses having nullable fields with OpenAPI v3?

The OAI specifies that nullable fields should use the keyword "nullable", which doesn't seem to be implemented in any JS library for validation.
There are several discussions related to this topic:
https://github.com/epoberezkin/ajv/issues/486
https://github.com/OAI/OpenAPI-Specification/issues/1389
ht

[2018-06-29 09:59] greenkeeper[bot] opened #129 "An in-range update of commander is breaking the build 🚨"
## Version **2.16.0** of **commander** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/kogosoftwarellc/open-api/compare/master...kogosoftwarellc:greenkeeper%2Fdefault%2Fcommander-2.16.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://gi

[2018-06-30 04:36] jsdevel commented on #129
closed by #130

[2018-06-30 04:36] #129 closed

[2018-07-03 13:13] Frizzled commented on #71
The example in the test wouldn't pass validation until the quotes were removed from the $ref value:

[code]

Error with quotes around `#/definitions/schema` is:
[code]

[2018-07-03 16:55] jsdevel commented on #71
@Frizzled which test are you referring to?

[2018-07-09 11:13] Nox-404 opened #134 "Unable to load ts files routes with ts-node"
Hello,
I got some trouble loading routes with `fs-routes` in `TypeScript`.
When using `express` and `express-openapi` with `ts-node`, I can't get any routes to load.
`ts-node` is dynamically loading `ts` files on-demand, but since `fs-routes` look for js files, it doesn't see anything.

Is there a way to make `fs-routes`to pick up those `ts` files, or to make `ts-node` pick them ?

[2018-07-09 16:36] jsdevel commented on #134
Yes, please submit a PR to allow those file extensions.  It probably needs to be an arg for express-openapi that gets passed to fs-routes.

[2018-07-10 02:19] jsdevel commented on #134
@Nox-404 see #135.

[2018-07-10 06:40] #134 closed

[2018-07-10 17:15] Nox-404 commented on #134
Awesome, thx

[2018-07-13 06:13] srogers202 opened #137 "Support for root path"
Hey Joe! Thank you for continuing to work on this... it's one of my favorite API frameworks to work with!

I'm developing some serverless APIs in Google Cloud, and there is always a relative base path. For example, in `{domain}/api1/v1/path/to/resource`, **/api1** is the root path, but I don't want to add it to `basePath`, or I'll get `/api1/api1/v1/...`. When I use petstore, all requests are made

[2018-07-13 17:00] jsdevel commented on #137
Glad it's useful for you!

I _think_ I understand what you're facing.  So google adds `api1` to the end of the endpoint?  And then your API paths are supposed to come after that?  I.e. `{domain}/api1` (managed by google) `/v1/path/to/resource` is added by `express-openapi`?

[2018-07-13 17:12] jsdevel commented on #137
I _think_ this can actually be handled naturally with `req.baseUrl` https://github.com/kogosoftwarellc/open-api/blob/master/packages/express-openapi/index.js#L358

[2018-07-13 17:12] jsdevel commented on #137
https://expressjs.com/en/api.html#req.baseUrl

[2018-07-13 17:35] srogers202 commented on #137
That’s perfect! I didn’t even notice the Host header. Thanks, Joe!

[2018-07-13 17:35] #137 closed

[2018-07-17 20:00] jsdevel commented on #76
Deciding against lerna for the time being as the scripts in `bin` are working well enough.

[2018-07-17 20:00] #76 closed

[2018-07-17 20:00] jsdevel commented on #72
OpenAPI v3 is now supported.  Any issues relating to it should be reported in new issues.

[2018-07-17 20:00] #72 closed

[2018-07-17 20:54] BBKolton opened #138 "Fix link in main README"
Don't have the opportunity to change it myself, but the link for `It is also possible to have just one central apiDoc.` is 404'd. Use https://github.com/kogosoftwarellc/open-api/tree/master/packages/express-openapi/test/sample-projects/basic-usage-with-central-apiDoc instead

[2018-07-18 15:31] Frizzled commented on #11
If you want to automatically validate responses with res.json() use this express middleware:

[code]

[2018-07-25 13:48] gnuton opened #139 "Typescrript: Unable to pass cb(null, true) on successfull auth"
Hi!
The documentation says I should be able to call the
cb(null, true) in case auth is successfull, but the d.ts file doesn't allow that in TS code.

Could you please make the error type nullable in here: https://github.com/kogosoftwarellc/open-api/blame/master/packages/express-openapi/index.d.ts#L119

Something like this should work
export interface SecurityHandlerCallback {
    (error: SecurityH

[2018-07-25 14:12] gnuton commented on #139
Note for TS devs.
As for now we can get around this issue by casting null to any and keep strict null checks enabled.
cb(null as any, true)

[2018-07-25 15:05] MugeSo opened #140 "Error on clone/checkout master branch on windows"
As a subject, following error message  is displayed when we clone nor checkout master branch on windows.

Because `：` is special character on windows files system.

[2018-07-27 02:36] gemmi opened #141 ""name" field is ignored after converting body section when it is an array"
swagger sepc:
[code]
the converted parameters field:
[code]
the "name" filed is ignored, is that a bug?

[2018-07-27 06:17] jsdevel commented on #141
I'm not sure.  Is validation failing for you?  Is there another side effect that you're noticing?

[2018-07-27 06:22] jsdevel commented on #140
@MugeSo does the rest of the project get cloned properly?

[2018-07-27 06:33] #138 closed

[2018-07-27 06:33] #139 closed

[2018-07-27 06:33] jsdevel commented on #139
Thanks!  Published in `express-openapi@1.10.1`

[2018-07-27 06:34] jsdevel commented on #138
Thanks!  Published in `express-openapi@1.10.1`

[2018-07-27 06:39] jsdevel commented on #140
@MugeSo can you try a sparse checkout?  See an example [here](https://stackoverflow.com/questions/26097568/git-pull-error-unable-to-create-file-invalid-argument/34515900#34515900).

I'm guessing that the only ways to solve this are:
1. Remove the offending file from the repo (it may not be absolutely necessary as it's just a test file).
2. Require Windows users to use sparse checkout.

[2018-07-28 01:17] gemmi commented on #141
@jsdevel It doesn't casue failure in swagger-parsing, but it caused an exception when i parse parameters in page as i can't get the key of the value, and if i mock data i can't response with json-object in key-value shape.

[2018-07-28 02:37] jsdevel commented on #141
@gemmi can you post an example?

[2018-07-28 21:59] fluggo opened #142 "host and basePath are invalid in OpenAPI 3.0"
https://github.com/kogosoftwarellc/open-api/blob/b1745633b13aff9d0c284312eac0881cdbc70063/packages/express-openapi/index.js#L357-L358

The `host` and `basePath` attributes don't pass validation in OpenAPI 3.0, at least according to the Swagger UI. These look like they've been replaced by the [`servers`](https://swagger.io/docs/specification/api-host-and-base-path/) attribute.

[2018-07-29 03:14] #142 closed

[2018-07-29 03:16] jsdevel commented on #142
thanks @fluggo !  published a fix in `1.10.2`.

[2018-07-29 19:19] fluggo commented on #142
Thank you!

[2018-07-30 13:52] MugeSo commented on #140
Yes, all except `:id.js` exists.
Then `git status` says:
[code]

Sparse checkout with following `.git/info/sparse-checkout` file works well for master branch.
[code]
However, It still displays warning message when checkout the branch which does not have `:id.js` from master branch.
[code]

I like 2 because it's not good to force windows users to set "sparse-checkout".
It will reduce their motivati

[2018-07-31 10:37] YannickMeeus opened #145 "Option Argument 'args.routesIndexFileRegExp' is required in d.ts"
Hiya, I've just updated from a relatively old version to latest, and I'm getting some Typescript build failures around `args.routesIndexFileRegExp` being a required field, and when having a look at the d.ts file, this is indeed a thing:

[code]
The README, however, is saying this is not required. I can get around this by just setting it to the default value for the time being but just wanted to le

[2018-07-31 14:51] #145 closed

[2018-07-31 14:51] jsdevel commented on #145
Thanks!  Just pushed a fix.  I'll publish shortly

[2018-07-31 22:15] LandonSchropp opened #146 "Design of OpenAPIRequestValidator"
Thank you all for tackling this problem!

Our team is attempting to use the `openapi-request-validator` package to write a custom Koa middleware. We know you guys have a Koa middleware planned, but we figured we'd write a simplified version. We'd be happy to contribute to a larger middleware, and we're okay with maintaining our own if our visions are incompatible.

We're currently finding the inte

[2018-07-31 22:32] jsdevel commented on #146
@LandonSchropp thanks for opening this issue.

`openapi-request-validator` was designed to handle the full range of things you can do with `jsonschema`, namely custom formats, extended schemas and so forth.

Your proposal isn't very far off from what `openapi-request-validator` _already does_ i.e.  you've proposed the following interface:

[code]

This is `openapi-request-validator`'s interface:

[2018-08-01 07:08] greenkeeper[bot] opened #148 "An in-range update of openapi-types is breaking the build 🚨"
## Version **1.0.4** of **openapi-types** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/kogosoftwarellc/open-api/compare/master...kogosoftwarellc:greenkeeper%2Fdefault%2Fopenapi-types-1.0.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=http

[2018-08-01 08:17] #148 closed

[2018-08-02 14:11] gnuton opened #150 "OpenAPI security Handler doesn't allow errors to be formatted in different ways"
Hi,
OpenAPI security handler returns erros always as text eg: "Challenge is a required header with 401 status codes."
Would it be possible to get errors as JSON?

I would like to return errors for instance in Problem JSON format
So they would look like this:
header: 'content-type'/ 'application/problem+json'
body: {"type":"https://httpstatuses.com/401","title":"the_message","status":401}

Is it al

[2018-08-02 15:19] jsdevel commented on #150
Thanks for opening this.  Yes, this currently is a limitation.  I'm open to solutions.

[2018-08-03 05:08] gnuton commented on #150
Well the best solution I guess would be to let  errors be handled by my
error-handling middleware function instead to be intercepted by the lib.

On Thu, Aug 2, 2018 at 6:20 PM Joe Spencer <notifications@github.com> wrote:

[2018-08-03 18:14] LandonSchropp commented on #146
@jsdevel Thanks for the awesome, detailed reply!

The reasoning behind the interface makes total sense, and it's kind of cool that you can validate more than what Open API supports. We did end up taking an approach very similar to the Express code you posted above.

One issue we ran into was matching requests (specifically requests with path parameters) with their appropriate configuration values.

[2018-08-03 18:19] griesmnr commented on #146
@jsdevel Thank you for the help understanding the interface! What a relief it's been to have these repos to use on our koa apps.

We have built a simplified koa middleware to use on our projects. Its a first pass tailored to our projects and may not include all use cases, but we'd be happy to contribute what we have, or otherwise work with you on it! It'd be the least we could do. Hit me up if you

[2018-08-03 18:41] jsdevel commented on #146
I'm glad you guys were able to find a workaround!  I'm in the process of getting `koa-openapi` going, so when that's ready I may draw your attention to that for review.  Going to close this now.  Thanks for your support!

[2018-08-03 18:41] #146 closed

[2018-08-06 08:57] #150 closed

[2018-08-09 14:54] seeker89 opened #162 "Support OpenApi 3.0 requestBody"
Hi and thanks for this package !

I've noticed, that https://github.com/kogosoftwarellc/open-api/tree/master/packages/openapi-request-validator doesn't yet support `requestBody`, so if provided with OpenApi 3.0 spec, things mostly work, apart from validating the actual body.

Are there plans to add support for that ?

Thanks !

[2018-08-09 22:17] jsdevel commented on #162
Right now I'm looking for the community to provide support for OpenAPI v3.  If you have the time to open a PR to add that functionality, it would be very much appreciated.

[2018-08-09 22:20] jsdevel commented on #141
closing due to inactivity.  @gemmi if you can provide examples I'll re-open and look at this further.  Right now I'm not sure if it's the framework or something in your code that needs to be updated.

[2018-08-09 22:20] #141 closed

[2018-08-09 22:27] #140 closed

[2018-08-09 22:28] jsdevel commented on #140
@MugeSo this should be fixed now (see #163)

[2018-08-10 17:25] greenkeeper[bot] opened #173 "An in-range update of request is breaking the build 🚨"
## Version **2.88.0** of **request** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/kogosoftwarellc/open-api/compare/master...kogosoftwarellc:greenkeeper%2Fdefault%2Frequest-2.88.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github

[2018-08-10 18:57] #173 closed

[2018-08-10 20:37] jsdevel opened #174 "Convert packages to typescript"
This will enhance the typing support and move to ES6.

- [x] express-openapi
- [ ] fetch-openapi
- [x] fs-routes
- [x] koa-openapi
- [x] openapi-default-setter
- [x] openapi-framework
- [x] openapi-jsonschema-parameters
- [x] openapi-request-coercer
- [x] openapi-request-validator
- [x] openapi-response-validator
- [x] openapi-schema-validator
- [x] openapi-security-handler
- [x] openapi-types
- [

[2018-08-10 20:37] jsdevel commented on #174
working on fs-routes

[2018-08-11 13:33] jsdevel opened #178 "Deprecate method.apiDoc in favor of method.operationDoc"

[2018-08-11 13:59] jsdevel opened #179 "Remove responses $ref for definitions deprecation"

[2018-08-11 14:00] jsdevel opened #180 "Remove args.routes deprecation"

[2018-08-11 15:06] #180 closed

[2018-08-16 10:06] seeker89 commented on #162
Gotcha. Thanks for your answer.

[2018-08-16 10:12] seeker89 opened #183 "Improve the response validation error for easier debugging"
Currently, the response validation errors look something like this:

[code]

And that's great, thanks for writing this awesome library 👍

What would be super amazing, though, is if the error included also the offending value, so that you can just read that log line, and understand what happened, instead of having to match it with some other log line containing the input.

If the concern is the pot

[2018-08-16 19:40] jsdevel commented on #183
I agree it would be helpful.  May have to investigate to see how feasible it is if ajp doesn't provide that.

[2018-08-27 11:42] greenkeeper[bot] opened #184 "An in-range update of glob is breaking the build 🚨"
## Version **7.1.3** of **glob** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/kogosoftwarellc/open-api/compare/master...kogosoftwarellc:greenkeeper%2Fdefault%2Fglob-7.1.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/isa

[2018-08-28 14:03] wingedfox opened #185 "Fix PARAMETER and RESPONSE regexps"
https://github.com/kogosoftwarellc/open-api/blob/43e7baba9efa5503a47891aa8d38a53a0a19af68/packages/openapi-framework/src/util.ts#L6
https://github.com/kogosoftwarellc/open-api/blob/43e7baba9efa5503a47891aa8d38a53a0a19af68/packages/openapi-framework/src/util.ts#L8

There are multiple issues with these lines

1. OAS 3.0 defines parameters and responses under `#/components/`
2. Spec downconverted fro

[2018-08-28 16:58] jsdevel commented on #185
@wingedfox thanks for reporting this.  Can you raise a PR with the fix?

[2018-08-28 17:19] wingedfox commented on #185
I'd check how to fix that, but it seems to be a quite complex PR.
Actually, I do not see such params/responses in the supplied args in the corresponding functions.

[2018-08-28 22:37] #184 closed

[2018-09-04 23:00] moravcik commented on #113
Hi @jsdevel, your openapi solution looks very promising. What about adding support for [Serverless framework](https://serverless.com/framework/)?

[2018-09-04 23:07] jsdevel commented on #113
looks pretty cool!  Added to the list.  PRs welcomed :smile:

[2018-09-07 10:13] moravcik commented on #185
I am also having this issue, the problem is not only RESPONSE_REF_REGEX, but also this line:
https://github.com/kogosoftwarellc/open-api/blob/43e7baba9efa5503a47891aa8d38a53a0a19af68/packages/openapi-framework/src/util.ts#L230

which accesses `apiDoc.responses` directly

[2018-09-07 10:43] greenkeeper[bot] opened #187 "An in-range update of commander is breaking the build 🚨"
## Version **2.18.0** of **commander** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/kogosoftwarellc/open-api/compare/master...kogosoftwarellc:greenkeeper%2Fdefault%2Fcommander-2.18.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://gi

[2018-09-07 18:26] jsdevel commented on #185
@moravcik if you could raise a PR it would be appreciated.  Right now OpenAPIv3 support is entirely community driven.

[2018-09-11 18:22] troymolsberry opened #188 "going from 1.12.0 to 2.0.0 with a parameter of type "file" breaks in Ajv"
when upgrading from 1.12.0 to 2.0.0, this parameter breaks with the following error:

POST
`        consumes: [
            "multipart/form-data"
        ],
        parameters: [
            {
                name: "infile",
                in: "formData",
                type: "file",
                description: "The file to upload"
            }
        ],`

`Error: schema is invalid: data.prop

[2018-09-12 09:57] vkoldus opened #189 "README.MD usage is incorrect about how to specify openapi version"
Readme states that the validate function accepts a second argument that specifies the version. However, it's actually expected to be part of the validator constructor function args object. The validate function only expects one argument.

I wanted to send you a pull request, but I couldn't push to your repo. I'm attaching a patch instead.
[patch.diff.zip](https://github.com/kogosoftwarellc/open-ap

[2018-09-14 12:43] jsdevel commented on #189
@vkoldus can you fork this repo and open a PR?

[2018-09-14 12:43] #189 closed

[2018-09-14 12:45] jsdevel commented on #188
Hmm, looks like it could be an issue with the AJV upgrade.

[2018-09-14 12:49] jsdevel commented on #183
Actually, there could be issues where you _wouldn't_ want to log what the offending value was (like in the case of submitting credit card information).  If you can find some sensible settings for AJV please submit a PR.

[2018-09-14 12:49] #183 closed

[2018-09-17 11:03] greenkeeper[bot] opened #190 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `10.9.4` to `10.10.0`.

🚨 [View failing branch](https://github.com/kogosoftwarellc/open-api/compare/master...kogosoftwarellc:greenkeeper%2F%40types%2Fnode-10.10.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/

[2018-09-17 17:34] #190 closed

[2018-09-17 17:51] #187 closed

[2018-09-17 17:51] jsdevel commented on #188
@troymolsberry can you post your full schema?

[2018-09-19 18:53] notxt opened #197 "Can't get security handler to return a 401 without a "challenge" attributes"
**Context:**
Looking to return `401`s when a token is missing from a header. Front end redirects to login if this is the case

**Issue:**
The docs indicate that you can use [`cb(null, false)`](https://github.com/kogosoftwarellc/open-api/tree/master/packages/openapi-security-handler#response) from all securityHandlers to return a `401`. I only have one but I'm getting a `500` with:
[code]

**Notes:

[2018-09-19 19:59] jsdevel commented on #197
honestly, i think the way it was implemented was a little wonky.  how do you propose it should behave?

Thanks for supporting it!

[2018-09-19 21:02] notxt commented on #197
Hm, I might need to google a bit on 401s and challenges before knowing exactly ... I can do that this evening

@buckwheat24 did you have any thoughts?

[2018-09-20 19:36] jsdevel commented on #197
i'm thinking the handlers should change as follows:

* if they throw an error, the error is passed to the framework i.e. for express it would simply pass the error thrown to `next`
* if any of the handlers return `true` no error is thrown
* if none of the handlers return `true`, the security handler throws an error with `status=401` and the framework handles the error accordingly i.e. for express

[2018-09-20 23:22] allanchau opened #198 "Changelog"
Hi,

Is there a changelog I can view somewhere?

[2018-09-21 01:21] jsdevel commented on #198
<o o>
    ~

... no.  but there should be!  I'm thinking there should probably be one in each package as this _is_ a monorepo.

The closest thing right now is via git history.

[2018-09-21 19:29] notxt commented on #197
same as above but with async support
[code]

[2018-09-21 19:41] notxt commented on #197
so the general business logic is:
- if *any* handler succeeds: authenticate
- if *no* handler succeeds: return `401`
- if *any* handler throws an error: next(err)

I like that because if you want a specific response you can throw and then write a [custom error handler](the-default-error-handler)

[2018-09-21 21:56] jsdevel commented on #197
exactly!

[2018-09-21 21:56] jsdevel commented on #197
i just think there are too many scenarios where the current API is too rigid (libraries should never call methods like `.json` imo).

[2018-09-23 11:34] greenkeeper[bot] opened #200 "An in-range update of ajv is breaking the build 🚨"
## The dependency [ajv](https://github.com/epoberezkin/ajv) was updated from `6.5.3` to `6.5.4`.

🚨 [View failing branch](https://github.com/kogosoftwarellc/open-api/compare/master...kogosoftwarellc:greenkeeper%2Fdefault%2Fajv-6.5.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ajv is a direct dependency of this projec

[2018-09-23 22:40] allanchau commented on #198
Thanks, no problem.

[2018-09-24 10:45] h2non commented on #113
Folks, any release plans for Koa? What's currently blocking it? Any help wanted?

[2018-09-24 15:49] troymolsberry commented on #188
unfortunately this is a proprietary schema I'm working with. However, I do believe the issue could be easily reproduced with a simple file upload using POST via swagger, as long as you have the following parameter:

```consumes: [ "multipart/form-data" ], parameters: [ { name: "infile", in: "formData", type: "file", description: "The file to upload" } ],```

[2018-09-24 17:19] jsdevel commented on #113
@h2non it shouldn't take too much now that most of the functionality has been abstracted to `express-openapi`.  Basically all that needs to happen is a duplication in https://github.com/kogosoftwarellc/open-api/blob/master/packages/koa-openapi/index.js of https://github.com/kogosoftwarellc/open-api/blob/master/packages/express-openapi/index.js.  I can publish any changes.

This has been taking a w

[2018-09-24 23:32] jsdevel commented on #113
@h2non I'll take a stab at an initial `koa-openapi` implementation tonight.

[2018-09-28 08:27] jsdevel commented on #113
@h2non see #206.  Doesn't work but at least gets the ball moving.  Also, I'm thinking `koa-router` should be a required param seeing as how koa lacks that ootb.   Thoughts?

[2018-09-29 21:14] jsdevel commented on #198
Thanks for raising this!  All future changes will be documented as follows: https://github.com/kogosoftwarellc/open-api/pull/208.

[2018-09-29 21:14] #198 closed

[2018-09-29 21:30] #197 closed

[2018-09-29 22:10] #200 closed

[2018-10-01 09:31] danilameister commented on #188
I have experienced this issue too, had to rollback to 1.12.0. By the way, @troymolsberry, thanks for the hint, I was ready to give up on this module altogether, but 1.12.0 worked fine for me!

@jsdevel, were you able to reproduce it? Let me know if you need me to do any additional testing. Thanks!

[2018-10-01 14:33] jsdevel commented on #188
I could use a sample test case if you have one.

[2018-10-01 20:46] notxt commented on #197
Thanks! Can't wait to try it out!

[2018-10-01 20:53] jsdevel commented on #197
i may have closed this a bit soon.  still need to publish `openapi-framework` and `express-openapi` with the latest version of `openapi-security-handler`.

[2018-10-01 22:02] notxt opened #213 "Question: Setting value to Null via OpenAPI"
Hey! It's me again!

Just a quick question more related to OpenAPI than your implementation. I noticed that [`null` is not a valid type](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#data-types)

How do you deal with attributes that can be set to `null` on update? Are they just omitted and then the code assumes that any non-required, omitted attribute should be set to `n

[2018-10-02 06:52] jsdevel commented on #213
@notxt something like this? https://github.com/kogosoftwarellc/open-api/blob/master/packages/express-openapi/test/sample-projects/with-schema-extension/api-doc.js#L38

[2018-10-02 16:55] notxt commented on #213
gracias sir!

[2018-10-02 17:42] jsdevel commented on #213
@notxt can this be closed out?

[2018-10-02 18:08] notxt commented on #213
@jsdevel absolutely, do you prefer when the reporter closes?

[2018-10-02 18:08] #213 closed

[2018-10-02 20:30] jsdevel commented on #213
i do, only because i want to be sure the issue was resolved properly.

[2018-10-03 19:53] jsdevel commented on #188
@troymolsberry what version of open-api is your API doc?

[2018-10-04 08:28] funduck opened #218 "seems "nullable" is not understood by validator"
trying to use for OpenAPI3, validator wont understand
[code]
So I have to bring "schema" up
[code]
output
[code]

[2018-10-04 08:39] jsdevel commented on #218
@funduck if you have time, it would be appreciated if you'd open a PR with a test case in https://github.com/kogosoftwarellc/open-api/tree/master/packages/openapi-response-validator/test/data-driven that reproduces this.

[2018-10-04 09:09] jsdevel commented on #38
closing this for the following reasons:

* Typescript is now extensively used herein (#174)
* Changes to the wiring up of paths and operations can go in https://github.com/kogosoftwarellc/open-api/tree/master/packages/openapi-framework.  PRs are welcomed :smile:

[2018-10-04 09:09] #38 closed

[2018-10-05 04:15] #174 closed

[2018-10-05 09:01] funduck commented on #218
should I also add case for OpenAPI3 format? of response like
[code]

[2018-10-05 09:21] danilameister commented on #188
Sorry, I missed the notification. Here is the part of the schema that defines the failing post request:

[code]

[2018-10-05 16:27] jsdevel commented on #218
yes please @funduck !

[2018-10-05 18:46] troymolsberry commented on #188
`
    "swagger": "2.0",
    "schemes": ["https", "http"],
    "consumes": ["application/json"],
    "produces": ["application/json"]
`

[2018-10-05 19:30] jsdevel commented on #188
@danilameister @troymolsberry can either of you open a PR with a failing test case?

[2018-10-05 23:40] troymolsberry commented on #188
Done ;)

On Fri, Oct 5, 2018 at 12:30 PM Joe Spencer <notifications@github.com>
wrote:

--
*Troy Molsberry*
Solutions Architect
*M*:  (858) 225-2352
<http://www.packetsled.com/>
<http://www.packetsled.com/>

[2018-10-06 01:00] jsdevel commented on #188
thanks @troymolsberry !

[2018-10-06 21:00] #188 closed

[2018-10-06 22:09] jsdevel commented on #218
Man, really sucks that OAI decided to deviate from json schema :sigh:.  The response validator now needs to convert nullable to oneOf with type null.

[2018-10-09 10:00] funduck commented on #218
Or result from ajv should be processed so that errors on "nullable" fields would be ignored and removed from response

[2018-10-11 13:11] nunodamaso opened #232 "Coercion Strategy - Object type"
Will the type: "Object" be supported?

[2018-10-11 14:38] jsdevel commented on #232
If there's a proposal with clear heuristics then yes.  Up until now there hasn't been any.

[2018-10-11 17:47] nunodamaso commented on #232
Hi, I was thinking something along the following lines, regarding the Headers, Params, Query and FormData types:

{
...
type: object // or {}
} --> defaults to JSON.parse

{
...
type: object // or {}
format: json
} --> JSON.parse

{
...
type: object // or {}
format: Possible future implemented strategies(qs maybe?)
} -->strategy

{
...
type: array
items:
  type: object // or {}
  format: json
} --

[2018-10-11 20:52] jsdevel commented on #232
@nundamaso I like it.  Can you open a PR?

[2018-10-12 09:37] viyaha opened #233 "express-openapi - package.json points to wrong typescript-types-location"
Types-Attribute in the package.json points to "./index.d.ts", but the file gets deployed to "./dist/index.d.ts"

This doesn't compile:
![image](https://user-images.githubusercontent.com/44086665/46861323-bcf97b80-ce12-11e8-876c-04e804528619.png)

This does compile:
![image](https://user-images.githubusercontent.com/44086665/46861440-021dad80-ce13-11e8-9db1-ddb43e8411c9.png)

[2018-10-12 09:49] nunodamaso commented on #232
Will do

[2018-10-12 17:09] #233 closed

[2018-10-13 07:14] jsdevel commented on #113
@h2non Just released `koa-openapi@0.0.4` with #237.  Has basic-usage covered.  Need to write a solid README, but it mostly follows the conventions of express-openapi.  See the bundled sample test for more info.

[2018-10-15 14:06] jabby opened #238 "Publish openapi-3.0.json on schemastore"
Hello maintainers,

I start to write some open-api-3.0 documentation for my APIs and I discovered that this repository contains a really useful schema here. https://github.com/kogosoftwarellc/open-api/blob/master/packages/openapi-schema-validator/resources/openapi-3.0.json

Do you think it's possible to publish it on http://schemastore.org/json/ ?

If you agree I can create the PR to the correspon

[2018-10-15 16:50] jsdevel commented on #238
The one bundled in this repo is a bit of a stop gap until the official schema is published.  See https://github.com/OAI/OpenAPI-Specification/issues/1032.

You're free to do as you wish; however, we're not likely to reference it in any of our documentation until the official schema is published.

[2018-10-16 08:33] jabby commented on #238
As you can see I created a PR on schemastore and link your schema. I will update the schema with the official one when it will be available.

[2018-10-16 18:05] jsdevel commented on #238
Thanks for your support!

[2018-10-16 18:05] #238 closed

[2018-10-16 18:05] jsdevel commented on #232
closed by #234

[2018-10-16 18:05] #232 closed

[2018-10-17 15:10] user-0209 opened #241 "Type definitions do not match with the "Using Typescript" example"
The index.d.ts file that gets installed with express-openapi does not export a member "Operation". However, that is needed in the second part of the "Using with Typescript" example, where it imports like:
import {Operation} from "express-openapi";

There is another @types/express-openapi module that does export "Operation". I'm confused about which type definition is right.

[2018-10-18 06:42] #241 closed

[2018-10-18 06:44] jsdevel commented on #241
thanks!  published in `3.0.3`

[2018-10-18 06:58] jsdevel commented on #146
FYI, `koa-openapi` is now ready.

[2018-10-18 06:59] jsdevel commented on #13
FYI, `koa-openapi` is now ready.

[2018-10-23 17:41] raplemie commented on #197
Am I missing something or the new openapi-security-handler (2.0.3) does not have examples that "connects" with other uses ? I see we can now create an object that has a "handle" promise, but where/how do I inject that into my apiDoc ? The example on the express-openapi still present the solution where everything is build directly in the apiDoc, thus no use for the openapi-security-handler.

I'm pr

[2018-10-23 18:08] jsdevel commented on #197
@raplemie see https://github.com/kogosoftwarellc/open-api/tree/master/packages/express-openapi#argssecurityhandlers.

Also look at the sample projects in the test suite.  This one has an example: https://github.com/kogosoftwarellc/open-api/tree/master/packages/express-openapi/test/sample-projects/with-securityHandlers

[2018-10-23 18:18] raplemie commented on #197
So the information presented here: https://github.com/kogosoftwarellc/open-api/tree/master/packages/openapi-security-handler is mainly for internal use by the library ? If we use express-openapi, the only difference is that we must define handlers with the return true/false/"throw" behavior instead of the callbacks?

I think that is what drove me on the wrong track, I thought that now I was suppos

[2018-10-25 08:55] jsdevel commented on #232
@nunodamaso @Amxd: `express-openapi` and `koa-openapi` have been published with `args.enableObjectCoercion`.

[2018-10-25 14:10] Amxd commented on #232
Perfect :) we're glad we could contribute :)

[2018-10-29 08:25] patrickgoeler opened #247 "YAML Definitions without JS routes?"
Hey there,

I came across the [Central ApiDoc Example](https://github.com/kogosoftwarellc/open-api/tree/master/packages/express-openapi/test/sample-projects/basic-usage-with-central-apiDoc) and I was wondering whether the files in `api-routes` are necessary since the paths are already defined in the `.yml` file. In my case I need to put everything into that one, big `.yml`.

Thanks in advance!

[2018-10-29 16:30] jsdevel commented on #247
@patrickgoeler does this help? https://github.com/kogosoftwarellc/open-api/issues/107

[2018-10-29 22:44] Arbuzov opened #249 "Node "stuck" inside security handler"
Nodejs 8.12.0 and 10.12.0
modules:
[code]

app.js
[code]

Then I call secured resource I get:
[code]
And that`s all i get. Later reques dies by the timeout. No warnings no messages, nothing.
Then a remove security section from the api-doc request pass correct. So its stuck not during the rquest processing.
What I do wrong? How to reseach-investigate this problem?

[2018-10-30 07:01] jsdevel commented on #249
your version of express-openapi is out of date.  update to the latest.  <3 needs to define a cb in securityHandlers.

[2018-10-30 07:01] #249 closed

[2018-10-30 07:59] Arbuzov commented on #249
Thanks a lot.

[2018-11-01 19:56] jsdevel commented on #247
closing due to inactivity.  @patrickgoeler let me know if you have any more questions.

[2018-11-01 19:56] #247 closed

[2018-11-22 17:59] tancredi opened #264 "Validation on multiple examples"
#### Problem

Multiple response examples don't seem to pass validation when running `swagger-cli validate [...]`

#### Example

Following the [specification provided in the docs](https://swagger.io/docs/specification/adding-examples/) I have the following examples in the spec of an endpoint response:

![screen-01](https://user-images.githubusercontent.com/1300753/48917639-c3522d00-ee7f-11e8-9541-0

[2018-11-23 01:08] jsdevel commented on #264
Can you provide the API doc that fails validation?

[2018-11-23 12:43] mbsimonovic commented on #218
validator doesn't undestand openapi v3, so what are my options then? to manually construct a config based on apidoc, disable the built-in middleware, and mount my own custom one?

[2018-11-23 13:16] tancredi commented on #264
Hi @jsdevel , While I cannot provide the original full spec, I've created an example repo from which you can reproduce this:
https://github.com/tancredi/swagger-examples-validation-demo

[2018-11-26 15:12] tancredi commented on #264
Is that helpful? Happy to provide more context if needed

[2018-11-26 16:41] jsdevel commented on #264
it's helpful.  sorry, getting over the Thanksgiving holiday here in the states.  i suspect that this issue has to do with the schema in openapi-types.  can you see if you can add a test case to that package and run it's tests?

[2018-11-26 16:47] jsdevel commented on #264
looking at the [spec](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#external-documentation-object), it looks like `example` allows `any`.  If you use examples, you're limited to using an [ExampleObject](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#exampleObject) or a [ReferenceObject](https://github.com/OAI/OpenAPI-Specification/blob/maste

[2018-11-26 17:14] tancredi commented on #264
I can imagine - thanks for the fast response though - seems I was just being thick - didn't realise I had to put the example data under `value` - thanks for helping out!

[2018-11-26 17:14] #264 closed

[2018-11-29 11:55] funduck commented on #218
just fixed it, will push to my fork soon. Just did what @jsdevel  proposed

[2018-11-29 17:57] mbsimonovic opened #265 "rfc: wildcard or regex for variable path lengths"
I have a similar use case like (OpenAPI-Specification/issues/892)[https://github.com/OAI/OpenAPI-Specification/issues/892] - a single path that should accept for example all of these:

 * `/api/tags/`
 * `/api/tags/foo`
 * `/api/tags/foo/bar/baz`

It would be great to define this as `/tags/{/variablePath*}`. This would be trivial with express router: `app.use('/api/tags/*', tagsRouter);`, but seem

[2018-11-30 08:45] mbsimonovic commented on #265
found one:
[code]
but the spec is still not correct.

[2018-12-04 14:42] Goal54 opened #268 "Error: doc was not defined in dependencies"
When I try to run my application with open api express, I have this error.
Below, this is my configuration for the initialization:

[code]
I don't have especially dependencies. When I log in the difunc package the token I have:
{ type: 'Punctuator', value: '(' }
{ type: 'Identifier', value: 'doc' }

And those lines catch the exception: (line 27, index.js, in the package difunc)
[code]
If I comment

[2018-12-04 18:15] jsdevel commented on #268
did you forget to add `doc` in the `depencencies` object?  can you post your route file?

[2018-12-04 18:17] Goal54 commented on #268
It's a prototype, I just end a project with open api 2.0 and I try to jump on 3.0.
It's my route file:
[code]
I didn't found in the documentation the doc dependencies :/

[2018-12-05 16:35] jsdevel commented on #268
@Goal54 that's your app file.  can you past one of the files under `./src`?

[2018-12-05 16:46] Goal54 commented on #268
Sorry I misunderstood, this is my only route file
[code]

[2018-12-05 16:50] jsdevel commented on #268
that's your apiDoc.  I'm looking for the handler files in the directory that you specified with `path` in initialize

[2018-12-05 16:59] Goal54 commented on #268
I didn't have any handler files under ./src

[2018-12-05 17:18] Goal54 commented on #268
You can find  my project here:
https://gitlab.com/cnpsaintmartin/arpa-network

The problem is I begin the application with the version 1.2 of your package when I try to use open api 3.0 I've a lot of problem and I still can't use Open api 3.0

[2018-12-05 17:33] jsdevel commented on #268
so, you'll need to have some handler files defined under your `paths` directory.

[2018-12-05 17:34] jsdevel commented on #268
what files do you have under `./src`?  do you have any?  blank index.js?

[2018-12-05 17:35] Goal54 commented on #268
Yes, I try an other blank project and I find the solution. Before I didn't specify in my js file the path

[2018-12-05 22:51] #268 closed

[2018-12-05 22:51] jsdevel commented on #268
yw!

[2018-12-11 18:13] dosyara opened #269 "Question: Does openapi-response-validator support v3 schemas?"
I'm doing some tests with OpenAPI v3 and cannot figure out how to validate response object with `validateResponse`.
I use:
"express": "^4.16.3",
"express-openapi": "^3.3.0",

I have `openapi: "3.0.0"` schema yalm file. File itself is valid according to v3 validator.
Paths section looks like this:
[code]

When I run
[code]
for a valid response object, I get:
[code]

So my question is: is this happe

[2018-12-11 19:04] jsdevel commented on #269
@dosyara this may have been fixed by @funduck in https://github.com/kogosoftwarellc/open-api/pull/222.  I just published it.  Can you try it out?

[2018-12-11 22:44] dosyara commented on #269
Tried, no luck.
 Updated express-openapi to 3.4.0, and still get `response should be null`.

[2018-12-11 23:40] jsdevel commented on #269
what arguments are you passing to validateResponse?

[2018-12-11 23:43] dosyara commented on #269
I pass: two parameters: 200 (`statusCode`) and { my json response } ( `responseObject`).
I've experimented with different response objects, the only thing which not generates error is `null`

[2018-12-12 08:35] #218 closed

[2018-12-12 09:44] funduck commented on #269
pushed to #224, hope I did it right and @jsdevel will soon accept my request

[2018-12-12 19:03] jsdevel commented on #218
thanks for closing @funduck !

[2018-12-12 20:51] jsdevel commented on #269
you did @funduck !  try with the latest @dosyara

[2018-12-12 23:55] dosyara commented on #269
Updated to express-openapi@3.5.0 it now works with inlined schemas!
But have an issue with references. I get an error if schema is defined in components:
[code]
For this schema:
[code]

Schema validator says it's valid tho

[2018-12-13 05:48] jsdevel commented on #269
Ok.  Please open a PR.

[2018-12-13 07:10] jsdevel commented on #265
@mbsimonovic thank you for supporting this package with your idea!

it's a cool feature request, but this project is aimed at supporting the OpenAPI spec as closely as possible.  It goes beyond having express (or another frameworks') router exposing the routes properly, it also has to do with outputting an OpenAPI compliant document that can be understood by client SDKs and OpenAPI compliant UIs.

[2018-12-13 07:10] #265 closed

[2018-12-14 22:11] jsdevel commented on #269
@dosyara i'm going to close this as the original issue was fixed.  if you have other issues, please open up new issues or better yet PRs!  thanks for contributing!

[2018-12-14 22:11] #269 closed

[2018-12-17 16:33] jsdevel commented on #185
this is fixed in https://github.com/kogosoftwarellc/open-api/pull/271

[2018-12-17 16:33] #185 closed

[2018-12-18 14:21] bill-kitsune opened #273 "Thoughts on using a linter/formatter for this project?"
I was working on a PR and noticed a lot of the code was written with a certain style, that I found tedious to try to match.

Would the maintainers be interested in or have any plans to add a linter to the project? Prettier, or even just tslint?

[2018-12-18 15:26] bill-kitsune opened #274 "Support for servers attribute for OpenAPI 3.0"
2.0 uses a basePath attribute that the library uses to modify the paths that are created.  3.0 uses the servers attribute which is a list of servers.

Initial thoughts on how this could work is something like the following:

Add a useServer argument to `OpenAPIFrameworkArgs` interface.

The arg could have the following behavior:

* Is optional
* Only matters if the apiDoc is a OpenAPI 3.x.x docume

[2018-12-18 22:13] jsdevel commented on #274
does the spec provide guidance on a default server in the list?  or is that up to implementations to decide?  overall i feel the heuristics you've outlined herein are sound and would welcome a PR to implement this!

[2018-12-18 22:14] jsdevel commented on #273
yes!

both are fine, but no git hooks please

[2018-12-19 16:20] bill-kitsune commented on #274
So doing a bunch of reading on this this morning.  It seems that overall intent is something like "The important thing is that OpenAPI description for all the servers is the same."

It allows for things like this:

[code]
So this would mean that the api can be found can be found at any of these locations.  I don't think that in normal use cases people would have such diverse server definitions, bu

[2018-12-19 18:01] jsdevel commented on #274
i think we're all in that category :stuck_out_tongue:

[2018-12-20 08:32] jsdevel commented on #273
beautifully closed by #275!  thanks again @bill-kitsune !

[2018-12-20 08:32] #273 closed

[2018-12-20 08:32] jsdevel commented on #162
closed by @bill-kitsune in #272!

[2018-12-20 08:32] #162 closed

[2018-12-21 16:09] bill-kitsune commented on #274
@jsdevel Question on how to handle this issue with regards to the multiple projects within this repo.  A lot of things depend on `openapi-framework`.  Once that supports servers, should separate issues be created for things like  `express-openapi` and the like to then take advantage of that?

I guess I also ask because `express-openapi`depends on the version of `openapi-framework` it gets from  np

[2018-12-21 16:50] jsdevel commented on #274
@bill-kitsune I can publish fairly quickly.  You're right on about openapi-framework.  The update likely needs to go there.  For local development until it's published you can npm link from the packages.

[2018-12-31 07:50] mbsimonovic commented on #29
i'm getting an error trying to test this with curl. The spec is:

[code]
and express-openapi is initialised as suggested:
[code]

Hitting the app with curl:
`curl   "http://localhost:3000/upload/" -H "accept: */*" -H "Content-Type: multipart/form-data" -F docs=@package.json `, fails with the following error (the endpoint never gets called):

[code]

The same happens with superagent/supertest and p

[2018-12-31 08:07] jsdevel commented on #29
@mbsimonovic please file a new issue.  that appears to be related to V3 which wasn't published at the time this issue was created.

[2018-12-31 08:15] mbsimonovic opened #279 "fails to handle 'multipart/form-data' in openapi v3 (Unsupported Content-Type multipart/form-data; boundary=...)"
i'm getting an error trying to handle file uploads with v3.6.0. The spec is:

[code]
 express-openapi is initialised as suggested:
[code]

Hitting the app with curl or swagger-ui:
`curl   "http://localhost:3000/upload/" -H "accept: */*" -H "Content-Type: multipart/form-data" -F docs=@package.json ` fails with the following error (the endpoint never gets called):

[code]

The same happens with supe

[2018-12-31 08:48] mbsimonovic commented on #279
`function getSchemaForMediaType(contentType:'multipart/form-data; boundary=--------------------------480295105673604652952056', requestBodySpec='content: multipart/form-data') {` seems to be the problem:

<img width="1660" alt="screen shot 2018-12-31 at 09 46 54" src="https://user-images.githubusercontent.com/888008/50557023-1fab3680-0ce1-11e9-94c6-79861d8692f9.png">

[2018-12-31 10:28] mbsimonovic opened #280 "can't resolve reference to a schema component for requestBody"
GET and POST reference the same schema component, GET works fine, but POST fails with the following error:

[code]
The openapi-doc is as follows, and according to the specification https://swagger.io/docs/specification/describing-request-body/ it should be correct:

[code]

[2018-12-31 16:59] jsdevel commented on #279
@mbsimonovic please submit a PR to resolve this issue.

[2018-12-31 18:33] relativityboy opened #281 "Post with String in body is failing string validation"
This is my first app using open-api. Love it where numbers are concerned, but string validation _on this path_ are failing. Unsure if bug, or me being dumb.

## Environment
* express-openapi - 3.6.0
* node - 10.15.0

## Api Call (from chrome Network panel)
Url: `http://localhost:3000/app/121/toggle_setting`
Body: `{"settingName":"isLocked","val":false}`

## Api Definition

[code]

[2018-12-31 19:04] jsdevel commented on #281
@relativityboy please submit a PR

[2018-12-31 19:06] relativityboy commented on #280
I'm Running into the same issue, and I've triple checked it.
[code]

[2018-12-31 20:02] relativityboy commented on #281
I'll have time to learn open-api and debug in April. Until then, just a user.

[2018-12-31 20:36] mbsimonovic commented on #279
@jsdevel not sure now to setup and run tests, but the simplest fix could look like this (line 313):

[code]

[2018-12-31 20:39] mbsimonovic commented on #279
another option is to use a module, https://github.com/jshttp/content-type for example.

[2018-12-31 20:55] jsdevel commented on #279
@mbsimonovic see the README for development help

[2019-01-02 09:06] mbsimonovic commented on #279
there's no tests for getSchemaForMediaType, and the function is not exposed/exported. Would it be ok to put it under OpenAPIRequestValidator._getSchemaForMediaType or something?

[2019-01-02 10:40] mbsimonovic commented on #279
btw shouldn't this work in typescript when importing an untyped js module:

[code]

[2019-01-03 14:10] gnuton opened #286 "Security check runs after content validation"
Hi,
We noticed that that the data sent to a secured endpoint gets validated even though the request cannot be authenticated. The problem seems to be related to the line:
https://github.com/kogosoftwarellc/open-api/blob/master/packages/express-openapi/index.ts#L158

Why the securityHandler runs at the end? is this by design or what?
This issue can be fixed by simply replacing middleware.push with m

[2019-01-03 14:38] mbsimonovic opened #287 "request validator: enforce string's minimum and maximum"
validate string's minimum and maximum lengths:
[code]

Tested on `express-openapi` 3.6.0 & 3.7.0 with `node` v10.x.

[2019-01-03 14:51] mbsimonovic commented on #281
shouldn't `settingName` and `val` be specified via [requestBody](https://swagger.io/docs/specification/describing-request-body/)

[2019-01-03 15:32] gnuton commented on #286
Please find here attached to this issue a PR with a fix and a test.
The test is quite simple. It adds a mandatory parameter to the GET. Without this patch, the test fails because it returns a 400 instead of the expected 403.

[2019-01-03 15:45] mbsimonovic commented on #287
the data-driven test file could look like this:

[code]

[2019-01-03 16:35] mbsimonovic commented on #287
so validation works something like this:

[code]
based on the given requestBody, this creates the following validator:

[code]

so for numbers it does check for the correct range, but for strings it just checks if the property is missing.

[2019-01-03 16:48] mbsimonovic commented on #287
here's a debug-friendly test case:
[code]

[2019-01-03 16:51] mbsimonovic commented on #287
according to [the ajv docs](https://github.com/epoberezkin/ajv/blob/master/KEYWORDS.md#keywords-for-strings), it should support min and max length

[2019-01-03 16:53] jsdevel commented on #287
@mbsimonovic can you submit a PR?  we don't have paid staff to implement the changes you've proposed.

[2019-01-03 16:59] mbsimonovic commented on #287
@jsdevel sure, but Ajv should support this out of the box, don't see why it doesnt check for min and max lengths.

[2019-01-03 17:02] mbsimonovic commented on #287
ah, looks like it's a typo, should be `maxLength`, not `maximum` 😤

[2019-01-03 17:02] #287 closed

[2019-01-03 17:07] jsdevel commented on #287
thank you for self-closing!

[2019-01-03 18:06] relativityboy commented on #281
@mbsimonovic - yes. Also attempted that, still failed. Will add example.

[2019-01-03 21:46] christian-knecht opened #289 "Resolve response references for OpenAPI 3.0 (#/components/responses instead of #/responses)"
# The problem

When defining reusable responses within the components object of the OpenAPI Document as specified in the [Open API 3.0.2 specification](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#components-object) the schema validation fails for Open API version > 3.0.0. The response references for V2.0 are resolved well.

Affected package: openapi-framework (util f

[2019-01-03 21:51] #279 closed

[2019-01-03 22:00] mbsimonovic commented on #289
isn't this a duplicate of https://github.com/kogosoftwarellc/open-api/issues/280 ?

[2019-01-03 22:13] christian-knecht commented on #289
As far as I understood you get the error message in #280 during the POST call. This error is thrown during schema validation at server startup. It seems that different packages or functions are affected.

[2019-01-03 22:14] mbsimonovic commented on #289
hm, you're right, seemed like the same problem at first

[2019-01-03 22:31] jsdevel commented on #289
@christian-knecht please submit a PR

[2019-01-04 00:29] christian-knecht opened #290 "Allow different content types in openapi-response-validator for OpenAPI 3.0 response definitions"
# The problem

Response validation fails for content types other than 'application/json'.

Affected package: openapi-response-validator getSchemas function

# Example

Following example spec fails for the GET /doc/admin or /doc/dev call when using the express-openapi middleware.

Error:
[code]

## The Open API Spec

[code]

## Path Handler

[code]

# Affected Open API Response validator function

[2019-01-04 06:59] jsdevel commented on #290
Thanks @christian-knecht.  Please open a PR to fix this.

[2019-01-04 15:34] christian-knecht commented on #290
Struggling with the tooling of the openapi repository on Windows 10 using Babun with zsh 5.5.1 (i686-pc-cygwin).

When I  run ./bin/test I get following error:
[code]

When I run ./bin/test packages/openapi-response-validator I get following error:
[code]

Any ideas how to solve this?

[2019-01-04 17:00] jsdevel commented on #290
i'd install virtualbox and setup linux :stuck_out_tongue_closed_eyes:

[2019-01-04 22:50] jsdevel commented on #286
probably makes sense to avoid doing anything until security passes.  can you check the V2/V3 spec to see if there's any defined ordering?

at this point, changing the ordering could be a breaking change, if there are security handlers out there that assume defaults/validation/coercion has happened first.  not a huge deal, just means that #288 would go as a major release.

[2019-01-05 02:58] #290 closed

[2019-01-05 15:20] jsdevel commented on #286
@gnuton that makes sense to me!

[2019-01-07 09:05] mbsimonovic commented on #280
the error happens because:
[code]
Ajv supports references so the problem must be that it's not being properly initialised.

[2019-01-07 09:33] mbsimonovic commented on #280
if the schema is added to ajv with `v.addSchema(spec, '#/components/schemas/Document1')` then it works fine:

[code]

this means openapi-request-validator isn't properly initialised. It does have a step to call v.addSchema:

[code]

[2019-01-07 09:54] mbsimonovic commented on #280
the simplest fix is to perhaps add another property to args, `componentSchemas` for example, and pass it when instantiating the validator:

[code]
if (args.componentSchemas) {
            Object.keys(args.schemas).forEach(function (id) {
                v.addSchema(args.schemas[id], `#/components/schemas/${id}`);
            });
        } else if (args.schemas) {
...
       }
// openapi-framework:

[2019-01-07 11:54] mbsimonovic opened #294 "v3: doesnt validate requestBody when no parameters are defined"
For operations with no parameters but only request body, there's no request validation. Here's an example:

[code]
The code responsible for setting up request validation:

[code]

`methodParameters` is empty, so request validator is never created. To fix it it's enough to add `|| operationDoc.requestBody` to the if condition:
[code]

I'd submit a PR if this is ok?

Tested on v3.7.0, openapi v3, no

[2019-01-07 19:30] maxwellb commented on #11
I picked up express-openapi a few weeks ago, and my initial impression was the same as @DaleJefferson - the documentation described how to disable the feature, and I assumed for lack of other description that implied that validation was otherwise enabled and performing magic in the middleware.

For what it's worth, I'm observing a few implementations of what "automatic validation producing errors"

[2019-01-07 19:38] maxwellb commented on #178
I only picked up express-openapi a few weeks ago. I'm interested in the motivation here. I wasn't aware of an operationDoc, since the documentation uses method.apiDoc throughout.

What are the benefits of method.operationDoc, and what would the behavior be for continued use of method.apiDoc? I ask because I'm wondering how stable my code will be for continued use of it, and when a change would be

[2019-01-07 20:33] jsdevel commented on #178
@maxwellb it'll definitely come with a major version bump, so i wouldn't worry too much about your code breaking.  I'll likely add a warning though an provide both for some time to give people the ability to update their projects.

[2019-01-07 20:41] jsdevel commented on #11
@maxwellb the problem with middleware is that your controllers will call a method like `res.json()` after validation has passed and no other middleware will get called, unless you're using koa.  With express you'd have to assign something to req (which is weird) or res (which is also weird) before calling next.  Is that what you were thinking?

[2019-01-07 20:42] jsdevel commented on #294
yes, please submit a PR.  also, i have a few modules that i need to publish tonight, so it's possible that this has already been fixed.

[2019-01-07 20:44] jsdevel commented on #280
@mbsimonovic if the argument can match the request validator then i'd welcome that change.  i also have some changes i need to publish tonight, and it's possible that this has been fixed.

[2019-01-07 20:59] maxwellb commented on #11
@jsdevel No, and perhaps that limitation would be too significant. I was thinking something like:

[code]

Where in the above, I can choose whether the status and body are overwritten or not. What I get from your reply, is that either express doesn't have a direct way to modify (the concept of) `res.body` within a middleware function, or there is not a direct way to insert the middleware at the ap

[2019-01-07 21:43] jsdevel commented on #11
even with your suggested approach, how would you invoke that from an operation handler?  i think you'll see what i mean when you look at it from that perspective.

yea, @Frizzled 's approach in https://github.com/kogosoftwarellc/open-api/issues/11#issuecomment-405973426 is likely the best approach, but you can add it at the api level to avoid duplication.  See https://github.com/kogosoftwarellc/op

[2019-01-08 11:03] mbsimonovic commented on #280
still not fixed with the latest changes, here's a failing test:

[code]

I'll submit a PR.

[2019-01-08 17:31] jsdevel commented on #280
that's fine

[2019-01-08 17:34] #289 closed

[2019-01-08 17:36] #274 closed

[2019-01-09 12:21] mbsimonovic commented on #281
is this the error you're getting:
[code]

I've tried this as an example and got that error:

[code]

However, when `settingName` and `val` are defined as requestBody, then it works just fine:
[code]
[code]

[2019-01-09 13:06] maxime-morand opened #301 "openapiv3 : missing validation for header, formdata and path parameters"
All validation informations for headers, formdata and path parameters are ignored for an openapi 3 specification (except checking for mandatory parameters).
For example with this API :
[code]
`GET /myApi/abc?bar=abcef` returns a validation error for the bar parameter
`GET /myApi/abcef?bar=abc` should return a validation error for the foo parameter

To my mind, all parameters should have the same v

[2019-01-09 15:41] relativityboy commented on #281
Here's my requestBody version.

Perhaps it's in the definition I created. Our definitions look to conform to the same structure to my eyes. Perhaps it's that I used (and prefer to use) json over yml

[code]
Here is **#/components/schemas/utilityToggleSetting**:

[code]

[2019-01-09 16:16] jsdevel commented on #301
yes, please submit a PR

[2019-01-09 16:34] #294 closed

[2019-01-10 05:16] maxwellb commented on #11
@jsdevel Yes, I think I can use `'x-express-openapi-additional-middleware': [myMiddleware]` to provide the function of overwriting `res.json`. Thank you for pointing me in that direction. Then it looks like operations can opt out of strict response validation by using `'x-express-openapi-inherit-additional-middleware': false`, so long as I don't want to keep potentially other middleware. Or, I can

[2019-01-10 15:04] mbsimonovic opened #305 "OpenAPIV3: security handler doesn't work as expected"
Perhaps this works but my expectations are wrong:

[code]
and app configured as:
[code]
Then I would expect the ApiKeyAuth to be invoked when /search gets hit with a GET request. This is not the case now. Am I missing something or this hasn't been implemented for v3?

[2019-01-10 16:55] jsdevel commented on #305
work was started on this in https://github.com/kogosoftwarellc/open-api/pull/259, but @jwmur hasn't finished it yet.

[2019-01-10 16:58] #301 closed

[2019-01-11 08:33] mbsimonovic commented on #305
allright then, will close this issue

[2019-01-11 08:33] #305 closed

[2019-01-11 08:53] mbsimonovic commented on #61
I'd like to give this one a crack. Any ideas on how/what it should look like? Guess a TypeScript Logger interface, and a couple of implementations for popular packages such as bunyan, winston, ..

[2019-01-11 09:07] mbsimonovic opened #307 "proposal: refactor to separate v2 from openapi v3"
The project is at a risk of having if/else sprinkled all over the place to support both spec versions (myself also guilty of this crime). This is better solved with two different data types/classes, which are instantiated with a single if condition (the famous Fowler's "_[replace conditional with polymorphism](https://refactoring.guru/replace-conditional-with-polymorphism)_").

Here's an example:

[2019-01-11 09:31] jsdevel commented on #307
I have thought about this for sure.  With 2 API versions to support logic is ok, but with more major versions it isn't going to hold up.

[2019-01-11 09:36] mbsimonovic commented on #307
I'm not sure i get it, it's either lots of if/elses, or lots of v2/v3 types, and having types is usually preferable.

[2019-01-11 10:03] jsdevel commented on #307
if you wanna start going that direction i'm fine with it.  maybe take the worst module and see how it goes.

[2019-01-11 11:55] #280 closed

[2019-01-13 07:00] AlexHolly opened #310 ""header" instead of "headers""
The result is called "headers" but OpenAPI uses "header". Would be nice to keep things consistent.
Current
[code]
Expected
[code]
https://github.com/kogosoftwarellc/open-api/blob/360af7345f18399c7998fb8d99ca5f5e9893f295/packages/openapi-jsonschema-parameters/index.ts#L6
https://github.com/kogosoftwarellc/open-api/blob/360af7345f18399c7998fb8d99ca5f5e9893f295/packages/openapi-jsonschema-parameters/

[2019-01-13 10:45] maxwellb commented on #11
Submitted #311

[2019-01-14 17:08] jsdevel commented on #310
not sure how i feel about this one, because the resulting object isn't one defined by OpenAPI, and is used more internally.

[2019-01-15 16:23] HerrRomich opened #312 "Properties of BaseSchemaObject"
According to JSON Schema specification elements of Object "properties" could be either Schema Objects
 or References. This means for me that in "[open-api/packages/openapi-types/index.ts](https://github.com/kogosoftwarellc/open-api/blob/master/packages/openapi-types/index.ts)" instead of Schema Object:
[code]

should be a union:
[code]
Thank you

[2019-01-15 17:04] HerrRomich commented on #312
Should I have a permission to create a branch?

[2019-01-15 17:22] jsdevel commented on #312
of course!

[2019-01-15 17:50] jsdevel commented on #312
oh, you can fork this repo and open a PR.

[2019-01-15 18:43] jsdevel commented on #312
closed by #313

[2019-01-15 18:43] #312 closed

[2019-01-15 18:44] jsdevel commented on #310
going to close this, as it's not really deviating from the spec.

[2019-01-15 18:44] #310 closed

[2019-01-16 15:24] mbsimonovic commented on #61
this again spans multiple packages, so i'd like to agree on a plan before making any changes.

I was thinking something along these lines (please feel free to change my typescript, it's pretty noob);

[code]

the `console` object can also be passed as a logger.  Winston and bunyan should also work, they all have those 4 methods (error, warn, info, debug).

Now the question is how to expose this `l

[2019-01-16 16:30] jsdevel commented on #61
Couple of suggestions:

Instead of `(message: string, ...extra: any[])` how about just `(data: any, ...args: any[])`.  This matches most loggers and more specifically [nodejs's](https://nodejs.org/api/console.html#console_console_log_data_args) console methods.

Instead of adding logger to each of the frameworks' Args interfaces, I feel it should be defined in OpenAPIFrameworkArgs.

I'd agree with

[2019-01-16 16:34] jsdevel commented on #11
with #311, i feel this can be closed.  if anyone has feelings to the contrary, please re-open.

[2019-01-16 16:34] #11 closed

[2019-01-17 09:01] mbsimonovic commented on #61
I was going to add it there but then that crosses package boundary so just to test the idea it ended up in `ExpressOpenAPIArgs`.

So how would each package receive the logger instance, `request-validator` for example?

1. It comes from `express-openapi`'s `initialize` method, which accepts an instance of `ExpressOpenAPIArgs` (which extends `OpenAPIFrameworkArgs`).
2. `express-openapi` creates `ope

[2019-01-17 16:32] maxwellb commented on #42
Personally I like the convention over configuration of what's here now. As long as decorators don't become the only way, seems ok. I was actually attracted to the lack of specifying such on each controller or operation. There are other frameworks which already do that as you say, so the lack is actually unique and a benefit in some way here, imo.

[2019-01-17 16:47] jsdevel commented on #61
I see your points @mbsimonovic.  I see the following options as viable:

1. add an OpenAPIFrameworkLogger interface to `openapi-types`.  Not sure if I like it because it would make that package no longer framework agnostic.
2. The low level packages could import `openapi-framework` if we wanted to expose the logger interface in `openapi-framework`, but that'd be circular and likely a dependency ma

[2019-01-17 16:48] jsdevel commented on #42
@maxwellb thanks for the feedback!  I don't believe this feature proposal was ever meant to sunset any existing convention.  It would be an additional way to configure APIs which would keep the framework more unopinionated.

[2019-01-18 15:23] mbsimonovic commented on #61
you mean some other npm package, outside https://github.com/kogosoftwarellc/open-api?

what's this https://www.npmjs.com/package/@types/bunyan, or this https://github.com/winstonjs/winston/blob/master/test/typescript-definitions.ts?

Maybe some unrelated to these particular ones: https://www.npmjs.com/package/ts-log (24 lines of code: https://github.com/kallaspriit/ts-log/blob/master/src/index.ts)

[2019-01-18 20:52] jsdevel commented on #61
in thinking about it further, we may run into issues supplying console for a ts-log Logger.

[2019-01-18 21:13] mbsimonovic commented on #61
so you want to include it as a dependency, or just copy/paste the 24 lines index.ts?

[2019-01-18 21:46] jsdevel commented on #61
i'd say include it as a dependency in each of the packages.  you'll probably have to create a default logger in `openapi-framework` that implements the Logger interface though, as I don't believe it will work by just passing in console.log.  Maybe it will.

[2019-01-18 21:48] jsdevel commented on #281
is this still an issue?

[2019-01-18 21:49] mbsimonovic commented on #281
i'd say no coz it works the way i did it

[2019-01-18 21:50] jsdevel commented on #281
ok.  going to close it then.  @relativityboy if this is still an issue after trying @mbsimonovic 's fix, or if you believe the spec isn't fully implemented please re-open.  thank you both for your support :heart:

[2019-01-18 21:50] #281 closed

[2019-01-18 23:52] relativityboy commented on #281
Thanks guys, really appreciate the followup. Wish I'd more time to do the same since opening. Will do  in the coming weeks and re-open (with better details) if I find something amiss.

[2019-01-21 17:34] renkei opened #315 "express-openapi: TypeScript does not allow nested objects in section components"
This is allows in yml (and also in json):
[code]
`theFirstProperty` is just a nested object, `theSecondProperty` an array of nested objects. The typings that come with the express-openapi npm package allow only the second one, the first one cannot be a reference. When I try to write it as TypeScript object like this...
[code]
..then  get this error:
[code]

[2019-01-21 19:44] AlexHolly opened #316 "Invalid GitHub link on openapi-response-validator"
1. https://www.npmjs.com/package/openapi-response-validator
https://github.com/kogosoftwarellc/open-api/tree/master/packages/eopenapi-response-validator

2. The example has a small typo it should be "OpenAPIResponseValidator" not "OpenapiResponseValidator"

[code]

[2019-01-21 19:46] AlexHolly opened #317 "Unable to create Object missing constructor"
I am not able to create an object "constructor not found"
As a workaround I had to add `module.exports = OpenAPIRequestValidator`
same for the response validator

[code]

Am I doing something wrong?
using  "node": "10.11.0"

[2019-01-21 19:56] jsdevel commented on #317
we're transpiling to es6, so try `require('openapi-request-validator').default`

[2019-01-21 19:56] #317 closed

[2019-01-21 19:57] jsdevel commented on #316
thanks!  can you open a PR?

[2019-01-21 20:02] jsdevel commented on #315
hmm.  seems like there've been quite a few tests added lately around this, and this is the first i've seen.  can you dig further and open a pr if there's an actual issue?

[2019-01-21 20:48] #316 closed

[2019-01-22 08:06] nahelbahel opened #319 "(feature) path parameters in yaml"

[2019-01-22 13:49] mbsimonovic commented on #61
no, seems to work fine with the `console` object passed in. so in which order should the PRs come?

[2019-01-22 14:56] mbsimonovic commented on #61
linter fails when i install ts-log:

[code]
ts-log/tslint.json:

[code]
i'm not sure why ts-log even gets checked when [express-openapi's tslint.json](https://github.com/kogosoftwarellc/open-api/blob/master/tslint.json#L15) has it excluded:

[code]

Perhaps this isn't correctly configured?

[2019-01-22 15:32] mbsimonovic commented on #61
tried all these and none correctly excludes `packages/openapi-framework/node_modules`:

[code]

On my Mac OS 13, and tslint v5.12.0 only this one correctly excludes:
[code]

[2019-01-22 16:25] jsdevel commented on #315
ahh, thanks for the reminder!  i forgot i had to publish that.  will do so soon.

[2019-01-22 20:24] jsdevel commented on #315
@renkei i published new versions of express-openapi and koa-openapi.  let me know if your issue is resolved.

[2019-01-23 09:21] renkei commented on #315
I can confirm that npm package 4.1.2 solves the issue, thanks a lot.

[2019-01-23 15:50] jsdevel commented on #315
Thank you for your support!

[2019-01-23 15:52] jsdevel commented on #61
Yea, that seems counterintuitive.  Thanks for fixing that.

[2019-01-29 22:34] jsdevel commented on #279
i'll defer to @mbsimonovic

[2019-01-30 12:48] mbsimonovic commented on #279
the error says:

[code]
ideally i would now just turn on the debug level for openapi and see what's going on.

[2019-01-30 13:39] mbsimonovic commented on #279
i somehow got multipart working for me, so perhaps i could strip it down and give it to you so you have a working version?

[2019-01-30 13:43] mendelk commented on #279
That would be great! (My example is pretty stripped down, but a working starting point would be awesome.)

[2019-01-30 14:20] mbsimonovic commented on #279
here you go. so `npm install` first, then `npm run test`.

[openapi-multipart-demo.zip](https://github.com/kogosoftwarellc/open-api/files/2812928/openapi-multipart-demo.zip)

[2019-01-30 14:24] mbsimonovic commented on #279
here you go. so npm install first, then npm run test.

[openapi-multipart-demo.zip](https://github.com/kogosoftwarellc/open-api/files/2812943/openapi-multipart-demo.zip)

[2019-01-30 16:55] mendelk commented on #279
Thanks @mbsimonovic .

In your example, changing the spec like so:

[code]

(Note the `required` property.)

This causes the following error:

[code]

This, I believe, is the crux of our issue!

[2019-01-30 20:56] mendelk commented on #279
After spending some time on this, this would require quite a few changes to get working, and I'm not sure it's in scope of this library. Other libraries handle this issue by skipping validation on `format: binary`, but not sure that's any better. Ultimately, the problem can be solved by setting `body[files][0]` to an arbitrary (or empty) string, and getting the file via `req.files`. Is it the pret

[2019-01-30 21:01] jsdevel commented on #279
@mendelk can you open a PR to update the applicable README?

[2019-01-30 21:05] mendelk commented on #279
@jsdevel Sure! But as I said, not sure my solution is Right Way™ to do this. If you still want me to, I'll be happy make it.

[2019-01-30 21:35] jsdevel commented on #279
@mendelk i feel a clear example of how to get files working would be beneficial.  it doesn't have to be branded as the right/only way to handle it, but A Way ™

[2019-01-30 22:58] brianwestphal commented on #126
Also, the documentation on https://www.npmjs.com/package/express-openapi shows setting 'x-express-openapi-additional-middleware' during initialize, which doesn't seem to work.  I.e.

[code]
one has to set it on `apiDoc`, as in the above issue

[2019-01-31 09:19] mbsimonovic commented on #279
i've got 2 tests failing on the master at the moment:
[code]

[2019-01-31 10:17] mbsimonovic commented on #279
If i understand this correctly, after multer parses the request, it attaches `files` on `req` which we should put on the `body` before validation runs:
[code]
The apidoc says that `files` array should have 2 props called `type` and `format` :
[code]
but there're no such properties, so that's why it fails?

Btw the proposed solution:
[code]
Doesn't validate when schema defines `files` as an array,

[2019-01-31 11:45] mbsimonovic commented on #279
nah, seems like this isn't the case, `files[0] should be a string` makes no sense. i've opened a PR that nicely reproduces this in request validator https://github.com/kogosoftwarellc/open-api/pull/329

[2019-01-31 11:59] mbsimonovic commented on #279
here's how the generated validator looks like:

[code]

[2019-01-31 12:00] mbsimonovic commented on #279
we should create a new issue for this

[2019-01-31 12:07] mbsimonovic commented on #279
hm, could this be a case of a badly defined apidoc https://swagger.io/docs/specification/data-models/data-types/#array ?

[2019-01-31 12:31] mbsimonovic commented on #279
when multipart schema is defined like this then it passes validation (w/ `required`):
[code]

this makes more sense to me, to properly define the schema according to what the backend expects, using multer in this case, then to do some hacks with custom middleware to actually disable validation. so either don't use required and disable validation, or properly define request body. What do you guys s

[2019-01-31 13:16] mendelk commented on #279
@mbsimonovic

Not quite accurate. The items in the `files` array have no props at all, because they're strings. The `format` has no effect at all (unless you define a `customFormat`).

See my extended example linked in README for code that handles both single files and arrays.

The problem is that that the spec expects `type: string, format: binary` for strings (as do all the tools that tie in, su

[2019-01-31 13:36] mendelk commented on #279
Correct. My example was for a **single** file.

[code]
To be 100% accurate, you can't do this without inspecting the `apiDoc` for this route because you don't know if it should be an array or a single file. In my example, I make the assumption that if there are multiple files with the same `fieldname`, we have an array. But that can fail in the real world, if for example your spec specifies an arr

[2019-01-31 13:40] mbsimonovic commented on #279
just to double check, with `consumesMiddleware` defined, does it execute on all requests, not just some custom paths that should handle uploads? this is security problem:

[code]

[2019-01-31 13:57] mendelk commented on #279
I think it does execute on all routes, but not quite sure what the security problem is. Can you explain?

[2019-01-31 14:01] mbsimonovic commented on #279
i'm not sure either, but sounds like something like this:

1. there're 2 paths, /ctrlpanel and /upload, both accept POST requests but only /upload should handle files
2. a malicious user sends a  multipart POST to /ctrlpanel
3. multer runs and handles file upload because consumesMiddleware runs on all requests, not just for /upload

can't think of an exploit from the top of my head, but the fact t

[2019-01-31 14:18] mendelk commented on #279
Yeah I'm not seeing the problem but then again I'm no security expert 😀.

I think a strong argument can be made that Multer should be an official dependency of `express-openapi` and that the library would handle all multipart file uploads, only on the specified routes based on the spec etc.

What are your thoughts @jsdevel?

[2019-01-31 14:34] mendelk commented on #279
I agree with your list, however, considering that Multer is the **official** way to handle file uploads (according to express docs), maybe the con isn't too bad!

[2019-02-01 11:27] mandeepm91 opened #335 "How can we control the order of rendering of paths in swagger-ui?"
I have my paths directory structure as follows:

[code]

When this gets rendered in swagger-ui, the paths can appear in some random sequence. I want to somehow make sure that all the paths related to auth are displayed first, then users paths and then cities paths. Is there any way I can configure this in express-openapi ?

[2019-02-03 15:41] sebasmagri opened #336 "Is there a way to just provide operation handlers?"
I'd like to have an apiDoc which provides `paths`, and then just pass in a module which could have all the operations defined using the same `operationId`, and the dependency handling.

This makes it much easier to maintain the api and publish docs for my use case, and allows me to use other tools that consume the apiDoc.

Is there a supported way to do this? If not, any pointers to implement some

[2019-02-04 08:21] jsdevel commented on #336
Checkout the openapi-framework package.  It'll scan your directory door operation handlers and let you wire it up manually.  It's that what you mean?

[2019-02-04 16:22] jsdevel commented on #335
See byRoute in https://github.com/kogosoftwarellc/open-api/blob/master/packages/openapi-framework/src/util.ts.

[2019-02-04 17:48] jsdevel commented on #336
@sebasmagri i think what you're asking for would be a great feature.  just so i understand, i think what you want is to have this framework do nothing but parse your existing api doc and add middleware etc. according to that?  meaning, this framework wouldn't try to gather your api doc together, it would only respond to it?

i feel that would be a welcomed addition.

[2019-02-04 17:56] sebasmagri commented on #336
@jsdevel exactly, the scenario would be to generate, using express for example, an express application out of an api doc, by providing only the api doc plus a module or object with functions which names match the `operationId`s defined in the api doc.

I'm currently using something like this to partially implement this approach, still without middlewares:

[code]

[2019-02-04 17:59] jsdevel commented on #336
i think if you were to pass in an `operations` arg to `.initialize`, you could easily match up the operation handler to the path and then let it function as it normally does.  we've actually been wanting to do this for a while since we'd be able to add support for typescript decorators see #42

[2019-02-04 18:02] sebasmagri commented on #336
That was the first thing I wondered, but then seeing `paths` being mandatory scared me a bit of that approach being too much work.

[2019-02-05 07:49] mandeepm91 commented on #335
Thanks. So if I comment out this line https://github.com/kogosoftwarellc/open-api/blob/b01cc368c94cff4646d328dabf5f55a9b8578d6a/packages/openapi-framework/index.ts#L229

and then provide the `paths` as an array of objects with `path` and `module`, the ordering that I provide is preserved. What are your thoughts on the idea of making the sorting configurable in the `initialize` function? Like if we

[2019-02-05 07:58] jsdevel commented on #335
@mandeepm91 i like it!  feel free to open a PR!

[2019-02-05 10:11] mandeepm91 commented on #335
I've made my changes and ready to commit. I was going through the workflow and it says not to bump the version in `package.json` file. However, when I run the tests, it does alter the `package-lock.json` file. Should I keep those while committing or discard them?

[2019-02-05 16:03] jsdevel commented on #335
I'll bump the version.  Just be sure to add tests.

[2019-02-05 16:03] jsdevel commented on #335
Updates to package-lock.json are fine.

[2019-02-06 08:20] mandeepm91 commented on #335
Did some more research on this and it seems this won't be a good idea. The rendered JSON has paths as an object and not an array so even though my fix works, theoretically it can break since ordering of keys in a Javascript object is not guaranteed. Also, I found that we can use `tags` to group the APIs together and configure their sorting in swagger-ui. Although, in my opinion it would have been

[2019-02-06 08:20] #335 closed

[2019-02-06 08:33] jsdevel commented on #335
ok.  thanks for following up and sharing what youo've learned @mandeepm91 !  i wasn't aware that the V3 spec mentions the ordering of the tags.

[2019-02-06 08:55] jsdevel commented on #336
@sebasmagri i added experimental support for `args.operations`.  You can pass in an object of `operationId` to `function` e.g.:

[code]

[2019-02-06 08:58] jsdevel commented on #335
prs are welcome @mandeepm91

[2019-02-06 09:00] sebasmagri commented on #336
@jsdevel that's awesome! I was planning to work on this a bit this weekend. I'm gonna try that out in the next few days and let you know how it goes.

[2019-02-07 04:59] jsdevel commented on #336
Got it working!

See:
https://github.com/kogosoftwarellc/open-api/tree/master/packages/express-openapi#argsoperations
https://github.com/kogosoftwarellc/open-api/tree/master/packages/express-openapi/test/sample-projects/basic-usage-with-central-apiDoc

P.S. I feel this is leading us towards decorators! https://github.com/kogosoftwarellc/open-api/issues/42

[2019-02-07 04:59] #336 closed

[2019-02-08 03:24] brianwestphal opened #344 "Path folders for in-path parameters"
When specifying a paths root, in-path parameters, files need to be named like ":variable-name"

example:
[code]

the handler filename needs to be called "my-path/:id.js".

1. This isn't clear from the documentation
1. apiDoc and validateResponse never get set on these requests / responses, making it more painful to add response validation to these handlers

[2019-02-09 18:47] xeoneux opened #346 "Default error response"
Why is the default error response `[object Object]`?

It would be beneficial to have the middleware
[code]
active when `NODE_ENV` is `development` by default.

[2019-02-09 21:35] jsdevel commented on #346
Because handling global API level errors isn't something within the purview of this project.

[2019-02-09 21:35] #346 closed

[2019-02-10 23:09] sebasmagri commented on #336
@jsdevel just tried it and its working pretty good. The only thing I miss still is a way for the operations to get `dependencies` injected. I guess that's only supported when using `paths`? How could I achieve this or help getting this supported?

[2019-02-11 12:53] jsdevel commented on #336
@sebasmagri this is where decorators could come into play!  The issue with the current approach to operations is that the framework has no way of knowing if the function is a handler or if it should be injectable.  Something like an `@Inject` decorator could assign a property to the function to let the framework know it should inject dependencies.

[2019-02-11 12:56] jsdevel commented on #344
Not so: https://github.com/kogosoftwarellc/open-api/tree/master/packages/express-openapi/test/sample-projects/basic-usage/api-routes/users

[2019-02-11 12:56] #344 closed

[2019-02-11 13:53] sebasmagri commented on #336
@jsdevel right, I checked it out and I think we could get something going by setting `module` instead on each route when populating from the operations argument. What do you think?

[2019-02-11 14:42] jsdevel commented on #336
@sebasmagri the framework still has no way of knowing if the function should be injected or is a handler

[2019-02-11 14:55] sebasmagri commented on #336
@jsdevel you're right, I was considering it should always inject, so that operations should always return the handler function

[2019-02-12 09:51] naugtur opened #349 "require('openapi-schema-validator') no longer works as documented"
currently available build (v3.0.3) exports a default so the example in readme will throw because it's not calling a constructor.

Should the build be fixed or the docs?

[2019-02-12 13:54] nasht00 opened #350 "Passport.js integration"
Can I specify a passport-js strategy as a securityHandler ?

So far it seems I need to wrap the `passport.authenticate` call and check for every kind of event it might throw as me.

Is there a way to treat the security handle as just a regular middleware so that express will know how to handle it out of the box?

[2019-02-12 13:58] nasht00 commented on #350
wrong issue

[2019-02-12 14:27] nasht00 opened #351 "securityDefinitions documentation"
Where are the rules defined, regarding what I can write in the `securityDefinitions` yml ?

For example when my definition is called `Bearer` it seems to only accept:

[code]

But what if it's not an API key? I can't find the list nor logic behind what it valid or not...

[2019-02-12 15:40] sebasmagri opened #352 "args.operations does not handle multiple operations per route"
When a path has multiple operations defined, openapi-framework is going to produce duplicate routes.

[2019-02-12 16:22] jsdevel commented on #349
yes.  please open a PR!

[2019-02-12 16:26] jsdevel commented on #350
You can do whatever you want in the securityHandlers.  Please read the docs and examine the tests for [openapi-security-handler](https://github.com/kogosoftwarellc/open-api/tree/master/packages/openapi-security-handler).

You're free to use `app.use()` before you `.initialize`

[2019-02-12 16:26] #350 closed

[2019-02-12 16:40] jsdevel commented on #351
you're limited to the OpenAPI spec.  Please refer to the version you're using for more information.

[2019-02-12 16:40] #351 closed

[2019-02-13 08:07] nasht00 commented on #351
I've been looking at it: https://swagger.io/docs/specification/authentication/bearer-authentication/
And I'm confused as it does not seem to match the implementation in this package.

For example I've tried `type: http` and it rejected it, and the properties documented in this document don't match the ones in the securityDefinitions...

Sorry if I'm missing something.

[2019-02-13 08:10] jsdevel commented on #351
openapi v3 is sitll a work in progress, so it's possible we haven't supported it yet.  PRs are welcomed!

[2019-02-14 21:40] naugtur commented on #349
I will, just wanted to know if exporting default was intended behavior.
I'd only update readme in that case

[2019-02-14 22:59] jsdevel commented on #349
@naugtur it is.  we refactored to es6 and now only export to `.default` for commonJS.

[2019-02-15 18:51] jsdevel commented on #352
@sebasmagri can this be closed?

[2019-02-15 18:54] sebasmagri commented on #352
@jsdevel yes, fixed on #353

[2019-02-15 19:16] #352 closed

[2019-02-19 13:40] profiprog opened #362 "Interface OpenAPIRequestValidatorArgs doesn't accept property 'version' (in package openapi-request-validator)"
In README ([packages/openapi-request-validator/README.md](https://github.com/kogosoftwarellc/open-api/blob/master/packages/openapi-request-validator/README.md)) is an example with version property:
[code]
The example seems to be out of date. Property version is not expected also in code.
It's quite confusing for me, I'm not sure if swagger v2 is supported or only openapi v3.
_Could you update the

[2019-02-20 09:42] mbsimonovic commented on #61
@jsdevel thanks for closing PR #330!

I'd like continue and add logging to other packages, `fs-routes` to start with, so here's a new PR #363

[2019-02-20 12:53] guisrx opened #365 "Swagger definition with a reference instead of a type"
https://github.com/kogosoftwarellc/open-api/blob/6463d50555e6faf4875771839d3edbfe1232214b/packages/openapi-types/index.ts#L545

If you have a swagger definition like this:

[code]
You can't use ```OpenAPIV2.Document``` as ```type``` is a mandatory attribute.

[2019-02-20 16:51] jsdevel commented on #365
@guisrx please submit a PR

[2019-02-25 12:02] fpozzobon opened #368 "Warning log : Ignoring the 2nd definition"
Hi,

not sure if I am using the library correctly, we are trying to define the openApi using :
- YAML file
- Operations

## Problem :
we get the warning `express-openapi: /health.get has already been defined. Ignoring the 2nd definition...`

## Expected :
no warning

## Setup :
[code]

openapi.yaml :
[code]

## Question :
Are we miss using the library ?

[2019-02-25 17:04] jsdevel commented on #368
@sebasmagri can you help on this one?

[2019-02-25 17:05] sebasmagri commented on #368
@jsdevel sure, I'm also getting those warnings... will fix those.

[2019-02-25 17:59] jsdevel commented on #368
thanks @sebasmagri !

[2019-02-25 19:49] zihehuang opened #369 "[openapi-jsonschema-parameters] Openapi Schema in Path Parameters cannot be converted to JSON schema"
The converter fails to convert some openapi schema, such as the one shown below:

[code]
I haven't dug very deep into the source code yet, but I am curious what's the rationale behind this behavior.

[2019-02-25 23:56] jsdevel commented on #369
Please investigate further and open a PR!

[2019-02-27 18:37] Manny651 opened #371 "Invalid number parameters pass validation"
When a query or path parameter is defined as a number but the actual value cannot be converted (e.g. 'abc'), the parameter is converted to NaN and passes the request validator. NaN shouldn't be a valid value for a number (or integer) type.

[2019-02-27 18:56] jsdevel commented on #371
indeed!  please submit a PR to fix this issue.

[2019-02-27 19:20] Manny651 commented on #371
I'm not sure how this case should be handled: should the request coercer convert the invalid value to null, or throw an error, or is it a request validator issue?

[2019-02-27 21:19] jsdevel commented on #371
that's a great question.  i think i lean towards coercer.  how about you @Manny651 ?

[2019-02-27 21:22] jsdevel commented on #371
i wonder though, would there be cases where you'd want to respond with a validation error?

[2019-02-27 21:22] jsdevel commented on #371
perhaps the coercer shouldn't override the value if it can't be coerced into it's intended type?

[2019-02-27 21:39] Manny651 commented on #371
I think the best solution would be to prevent the coercer from overriding values that cannot be converted. That way, the request validator would respond with the appropriate error message for that case.

[2019-02-27 22:34] MrKumaPants opened #372 "Initialize slow"
I'm loading a very large schema. It has about 500 paths, and about 1200 external references. I'm calling `initialize` like so:

[code]

`apiDoc` and `externalSchemas` are loaded from yaml files and sent to `initialize` as objects. One microservice uses about 34 paths. However it takes a consistent 26 seconds for initialize to finish.

Is there any way to speed this up on my end, in the library, et

[2019-02-27 22:47] jsdevel commented on #372
dang!  500 paths is a lot!

are the external references downloaded when your server starts up?  if so, i'd bet that's where most of your slowness is happening.

[2019-02-27 22:48] jsdevel commented on #371
i think i agree with that.  otherwise, the validator might be making assumptions and wouldn't have all the info to respond with an informative error.

please go ahead and update the coercer then.

[2019-02-27 22:54] MrKumaPants commented on #372
Yeah, it is very large. We have microservices for different parts of the schema.

I do a `yaml.safeLoad(file)` for them all before sending them to `initialize.externalSchemas`. Reading the yaml files into JS objects only takes a few seconds.

[2019-02-27 23:05] MrKumaPants commented on #372
Edit: Ran a traffic monitor on my server. Looks like despite me supplying externalSchemas it's still downloading them from the web. I wonder if it's taking the full ref into account and not stripping the ref path?

[2019-02-28 00:39] jsdevel commented on #372
well, with 500 paths, i can only imagine how many operations you have.  if you were to `require` all those files without calling `.initialize`, how long does it take?

[2019-02-28 00:43] MrKumaPants commented on #372
This is all done loading yaml files and programmatically generating the path operations. Loading and generating all of that only takes 4 seconds or so.

[2019-02-28 00:46] jsdevel commented on #372
right, but during `.initialize`, it's going to call `require` for each of the paths right?

what's the output of this?

[code]

[2019-02-28 00:51] jsdevel commented on #372
depending on how many require calls the framework has to make, it may make sense to use `args.operations`.

[2019-02-28 00:53] MrKumaPants commented on #372
I'm sending the paths to initialize as:

[code]

[2019-02-28 00:54] jsdevel commented on #372
oh, well that changes everything lol

using `console`, can you log before and after times before and after the initialize call?

[2019-02-28 01:00] MrKumaPants commented on #372
Using this:

[code]
Gives this:
[code]

[2019-02-28 01:17] jsdevel commented on #372
wow.  well, that's definitely slow.  it would be nice if we had a way to optionally turn on profiling logs

[2019-02-28 01:21] jsdevel commented on #372
i can offer theories, but it would be amazing if you could profile this locally: https://nodejs.org/en/docs/guides/simple-profiling/

i assume it's as slow or slower on your local machine?

[2019-02-28 01:53] MrKumaPants commented on #372
[code]

[2019-02-28 06:57] jsdevel commented on #372
https://github.com/kogosoftwarellc/open-api/blob/master/packages/openapi-framework/src/util.ts#L150

[2019-02-28 07:00] jsdevel commented on #372
That copy function is actually called a lot: https://github.com/kogosoftwarellc/open-api/blob/master/packages/openapi-framework/index.ts

The point was to guarantee a deep come in case the rest of the framework alerted the original doc in some way.

[2019-03-04 15:32] Manny651 opened #376 "Generated API doc fails Swagger validation when basePath is not set"
When configuring express-openapi, if the API's basePath option is not set, the generated API doc has the basePath property set to an empty string, which is invalid according to the swagger.io's online validator (the one used by default in Swagger UI).

According to the spec https://swagger.io/docs/specification/2-0/api-host-and-base-path/ :

[2019-03-04 16:56] jsdevel commented on #376
please submit a pr

[2019-03-05 03:12] markserrano915 opened #378 "initialize `paths` fails to resolve after webpack bundling"
I have the following simplified initialize declaration:

[code]

When webpack bundles my project as one JS file, the bundled source gives me this:

[code]
When I run my app, it breaks because it complains that it's unable to load the path because the original directory structure no longer exist. Everything is just one JS file.

What's the best way resolve this problem? `paths` seems to accept only

[2019-03-05 03:41] markserrano915 commented on #378
Nevermind. I think I found how:

[code]

I compared the before and after and tested both setups, and I got the same expected result. On top of that webpack is happy.

[2019-03-05 04:35] markserrano915 commented on #378
I found another issue that's related to `webpack` and `difunc`. This time it's about the dependency injection.

The error is:
[code]

I have this `initialize` declaration for which has this `dependencies` property (which will be referenced by difunc):
[code]

Under the paths directory, I have the following file (as suggested in the docs):

inventory.js
[code]

When webpack bundler runs, the argume

[2019-03-05 06:03] jsdevel commented on #378
the dependency injection is dependent on parameter names not getting mangled.

you probably need to define an absolute path to your paths directory.  it's relative to cwd but webpack is likely changing that.

not sure if there's much to do here, with the exception of the mangling issue.  that could be a feature request.

[2019-03-05 06:03] #378 closed

[2019-03-06 08:22] jsdevel commented on #372
@MrKumaPants is this a deal breaker for you, or just an annoyance?

[2019-03-07 09:56] javierblancosp opened #381 "Why request validation can't be done without parameters"
### Problem

I have endpoints with only the requestBody, no parameters. Why i'm forced to define a parameters list to use request validator?

https://github.com/kogosoftwarellc/open-api/blob/275997662d9382492f6e7658fb7a3c1776eb4892/packages/openapi-request-validator/index.ts#L56

[2019-03-07 14:50] jsdevel commented on #381
I'd say this is a defect for OpenAPI V3 documents.  Can you open a PR?

[2019-03-07 15:06] javierblancosp commented on #381
Sure

[2019-03-07 15:24] MrKumaPants commented on #372
I hacked around it by traversing the schema/extensions and load only the ones i need. However, the constant encode and decode to JSON could be fixed and most of the slowdown is in ajv.

[2019-03-07 16:09] jsdevel commented on #372
ok.  thanks for doing some recon.  if you can think of a way to avoid the encode/decode to create a fresh clone i'm all ears.  perhaps we can use immutable.js?

[2019-03-08 15:45] Manny651 commented on #368
I'm not sure if this should be considered as the same issue, but the same warning appears if we have an apiDoc with the same paths defined in args.paths.

[2019-03-08 16:56] #381 closed

[2019-03-08 16:56] #376 closed

[2019-03-19 09:23] Gino commented on #368
I also have the same issue, any updates on this?

[2019-03-19 09:33] sebasmagri commented on #368
@Manny651 you mean you have the same paths in the apiDoc with operations and in path directories?

I'm sorry this has taken so long, have been dealing with some other priorities on this end.

If anyone want to complete testing the PR linked above please feel free.

[2019-03-19 13:06] Manny651 commented on #368
@sebasmagri yes, if we initialize with a complete apiDoc and use the "paths" options (not operations) to define the paths to the implementation, we get the same warning.

[2019-03-19 18:20] jsdevel commented on #371
published

[2019-03-20 22:19] BrandonFitzgibbon opened #389 "request validator: readonly & required properties throwing validation error in request body"
For OpenAPI 3, when defining a schema in the component section with a property that is both readonly and required, the request validator will return a bad request when that property is missing from the request body.

I'm currently handling this by removing all readonly property keys from the required array of the schema before passing it to ajv.compile as the body schema, but it's not very elegant

[2019-03-21 00:17] jsdevel commented on #389
@BrandonFitzgibbon v3 the community is still working out the v3 kinks, and this sounds like one of them.  if you have the time, we'd greatly appreciate a pr to fix this.

[2019-03-21 03:05] #371 closed

[2019-03-21 21:36] #389 closed

[2019-03-22 00:40] troymolsberry opened #393 "response validation fails when some attributes are required and some are not, using allOf"
https://github.com/kogosoftwarellc/open-api/pull/392

[2019-03-22 15:41] BrandonFitzgibbon opened #394 "requestBody fails when missing readonly required properties in nested ref"
Related to #389 and opened for visibility.

PR #390 fixed a single depth issue where the requestBody was a single ref and the ref contained the entire schema definition.

I'm working on a PR now that seeks to address the following cases:

- requestBody contains an allOf with a ref
- the refs themselves contain refs to other schemas with required readOnly props
- the requestBody is an array

[2019-03-26 07:57] javierblancosp opened #397 "Allow set nullable to request validator"
### Problem

Request validator don't allow nullable fields

### Proposal

Convert OpenAPI specification to AJV type: ['whatever', 'null'] to allow nullable fields

I will do a PR ;)

[2019-03-29 02:45] leedm777 commented on #368
You can also see these warnings during the `basic-usage-with-central-apiDoc` test.

[code]

[2019-04-01 16:09] TuckerWhitehouse opened #404 "[openapi-default-setter] Populate defaults in request body"
Breaking out into a separate issue from https://github.com/kogosoftwarellc/open-api/pull/398#issuecomment-478292795

The openapi-default-setter package does not support setting defaults in the request body. Ajv (which is used by openapi-request-validator) has a `useDefaults` option, but it sounds like adding support for setting body defaults in the openapi-default-setter package is preferred.

Tho

[2019-04-01 16:42] jsdevel commented on #404
i'd say just hardcode the passing of useDefaults to AJV for now.

[2019-04-01 17:21] TuckerWhitehouse commented on #404
So I couldn't find a way to pass options to ajv (or pass in a custom instance), which lead me to patching all of the methods on the prototype to add `useDefaults` -- if you can recommend an alternative approach I'm all ears :)

[code]

[2019-04-01 19:05] jsdevel commented on #404
can we just pass that in everywhere that we call an ajv method?

[2019-04-01 19:41] TuckerWhitehouse commented on #404
Oh I think I misunderstood - were you saying do a PR in this project to set `useDefaults` on the Ajv constructor? I'm not sure if there are any side-effects to that - I was thinking maybe it would be possible to set that value based on the presence of the `openapi-default-setter` middleware, and as long as that hadn't been disabled apply `useDefaults` to Ajv - thoughts?

[2019-04-01 23:08] jsdevel commented on #404
yes

[2019-04-01 23:09] jsdevel commented on #404
i'm OK changing the options we pass to the contructor/methods, i'm just not ok coupling the interfaces herein with ajv directly wherever possible

[2019-04-01 23:10] #394 closed

[2019-04-02 07:49] alextes opened #406 "express-openapi media type mismatch due to charset directive"
For openapi 3.0.1 , sending a POST with a Content-Type header set to `application/json; charset=utf-8` fails with a Request Body Object `content` property set to `application/json` due to the charset directive, resulting in a `415` response. I'm guessing a `===` string comparison is happening somewhere on the full header rather than just the media-type in the Content-Type header.

[2019-04-02 16:18] jsdevel commented on #406
@alextes please open a PR

[2019-04-03 16:29] #404 closed

[2019-04-08 12:16] jharting opened #413 "openapi-response-validator crashes on example: null"
Having a spec

[code]

and openapi-response-validator set up like this:

[code]

I am getting
[code]

during application startup.

[2019-04-08 16:58] jsdevel commented on #413
@jharting please submit a PR

[2019-04-09 07:39] seb-pereira opened #417 "overrive servers attribute in path item and operation"
Hi,

Openapi spec allows to override `servers` at [path item](https://github.com/OAI/OpenAPI-Specification/blob/3.0.0/versions/3.0.0.md#path-item-object) and [operation](https://github.com/OAI/OpenAPI-Specification/blob/3.0.0/versions/3.0.0.md#operation-object) objects level. It does not seem to be supported by express-open-api.

[2019-04-09 16:03] jfinkhaeuser opened #418 "Curious file upload issue"
May be related to #29, but I'm not sure.

I am uploading files via PUT requests. The following spec works fine for me (ignoring responses):

[code]

As expected, if I limit the content type to e.g. `image/*` and try to upload a different file, that is refused. But hang on...

1. If I upload any file and set an unacceptable `Content-Type` header, the upload is rejected. So far, so good.
1. If I upl

[2019-04-09 16:26] jfinkhaeuser commented on #418
Ok, after digging into the code, I can see that the second thing happens because `required` is not set. That does not seem to be the correct interpretation of the `required` flag.

[2019-04-09 16:28] jfinkhaeuser commented on #418
To be more precise, the presence of the `required` flag should bail out if there is no request body. This should be independent of schema matching.

[2019-04-10 08:03] seb-pereira commented on #417
@jsdevel I struggle to follow the [contributor workflow](https://github.com/kogosoftwarellc/open-api#typical-workflow-for-contributors). I posted on Gitter.

[2019-04-10 08:05] jfinkhaeuser commented on #418
On closer inspection, the validator seems to be behaving fine. The problem appears to be that the validator is fed bad data. Specifically for case 3, the `request.body` field is a `{}` when the validator expects it to be undefined to function properly.

[2019-04-15 15:04] kruai opened #425 "openapi-request-validator throws error without errorCode"
When sending xml instead of json in the body of a POST, I'd expect a media-type error to be returned from the request validator. For some reason, though, it throws an error with an undefined errorCode.

More specifically, this is happening when I make a POST with the header `Content-Type: application/xml` and the body `<test>hello</test>`

I'm wondering if this is because of `mediaTypeError` being